USE [CEDS-Data-Warehouse-V9-2-0-0]
GO
/****** Object:  View [dbo].[vwFactK12StudentSeclusionsOrRestraintsParquet]    Script Date: 5/2/2022 3:48:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vwFactK12StudentSeclusionsOrRestraintsParquet] AS SELECT fact.FactK12StudentSeclusionOrRestraintId
	, SchoolYear.SchoolYear AS SchoolYear_SchoolYear
	, SchoolYear.SessionBeginDate AS SchoolYear_SessionBeginDate
	, SchoolYear.SessionEndDate AS SchoolYear_SessionEndDate
	, K12School.SeaOrganizationName AS K12School_SeaOrganizationName
	, K12School.SeaIdentifierSea AS K12School_SeaIdentifierSea
	, K12School.StateAnsiCode AS K12School_StateAnsiCode
	, K12School.StateAbbreviationCode AS K12School_StateAbbreviationCode
	, K12School.StateAbbreviationDescription AS K12School_StateAbbreviationDescription
	, K12School.IeuOrganizationName AS K12School_IeuOrganizationName
	, K12School.IeuOrganizationIdentifierSea AS K12School_IeuOrganizationIdentifierSea
	, K12School.LeaName AS K12School_LeaName
	, K12School.LeaIdentifierNces AS K12School_LeaIdentifierNces
	, K12School.LeaIdentifierSea AS K12School_LeaIdentifierSea
	, K12School.PriorLeaIdentifierSea AS K12School_PriorLeaIdentifierSea
	, K12School.LeaTypeCode AS K12School_LeaTypeCode
	, K12School.LeaTypeDescription AS K12School_LeaTypeDescription
	, K12School.LeaTypeEdFactsCode AS K12School_LeaTypeEdFactsCode
	, K12School.NameOfInstitution AS K12School_NameOfInstitution
	, K12School.SchoolIdentifierNces AS K12School_SchoolIdentifierNces
	, K12School.SchoolIdentifierSea AS K12School_SchoolIdentifierSea
	, K12School.PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea AS K12School_PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, K12School.SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea AS K12School_SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, K12School.OperationalStatusEffectiveDate AS K12School_OperationalStatusEffectiveDate
	, K12School.PriorSchoolIdentifierSea AS K12School_PriorSchoolIdentifierSea
	, K12School.CharterSchoolIndicator AS K12School_CharterSchoolIndicator
	, K12School.CharterSchoolContractIdNumber AS K12School_CharterSchoolContractIdNumber
	, K12School.CharterSchoolContractApprovalDate AS K12School_CharterSchoolContractApprovalDate
	, K12School.CharterSchoolContractRenewalDate AS K12School_CharterSchoolContractRenewalDate
	, K12School.ReportedFederally AS K12School_ReportedFederally
	, K12School.SchoolTypeCode AS K12School_SchoolTypeCode
	, K12School.SchoolTypeDescription AS K12School_SchoolTypeDescription
	, K12School.SchoolTypeEdFactsCode AS K12School_SchoolTypeEdFactsCode
	, K12School.MailingAddressStreetNumberAndName AS K12School_MailingAddressStreetNumberAndName
	, K12School.MailingAddressApartmentRoomOrSuiteNumber AS K12School_MailingAddressApartmentRoomOrSuiteNumber
	, K12School.MailingAddressCity AS K12School_MailingAddressCity
	, K12School.MailingAddressPostalCode AS K12School_MailingAddressPostalCode
	, K12School.MailingAddressStateAbbreviation AS K12School_MailingAddressStateAbbreviation
	, K12School.MailingAddressCountyAnsiCode AS K12School_MailingAddressCountyAnsiCode
	, K12School.PhysicalAddressStreetNumberAndName AS K12School_PhysicalAddressStreetNumberAndName
	, K12School.PhysicalAddressApartmentRoomOrSuiteNumber AS K12School_PhysicalAddressApartmentRoomOrSuiteNumber
	, K12School.PhysicalAddressCity AS K12School_PhysicalAddressCity
	, K12School.PhysicalAddressPostalCode AS K12School_PhysicalAddressPostalCode
	, K12School.PhysicalAddressStateAbbreviation AS K12School_PhysicalAddressStateAbbreviation
	, K12School.PhysicalAddressCountyAnsiCode AS K12School_PhysicalAddressCountyAnsiCode
	, K12School.Longitude AS K12School_Longitude
	, K12School.Latitude AS K12School_Latitude
	, K12School.TelephoneNumber AS K12School_TelephoneNumber
	, K12School.WebSiteAddress AS K12School_WebSiteAddress
	, K12School.OutOfStateIndicator AS K12School_OutOfStateIndicator
	, K12School.SchoolOperationalStatus AS K12School_SchoolOperationalStatus
	, K12School.SchoolOperationalStatusEdFactsCode AS K12School_SchoolOperationalStatusEdFactsCode
	, K12School.SchoolOperationalStatusEffectiveDate AS K12School_SchoolOperationalStatusEffectiveDate
	, K12School.CharterSchoolStatus AS K12School_CharterSchoolStatus
	, K12School.ReconstitutedStatus AS K12School_ReconstitutedStatus
	, K12School.AdministrativeFundingControlCode AS K12School_AdministrativeFundingControlCode
	, K12School.AdministrativeFundingControlDescription AS K12School_AdministrativeFundingControlDescription
	, K12School.RecordStartDateTime AS K12School_RecordStartDateTime
	, K12School.RecordEndDateTime AS K12School_RecordEndDateTime
	, LeaAccountability.IeuOrganizationName AS LeaAccountability_IeuOrganizationName
	, LeaAccountability.IeuOrganizationIdentifierSea AS LeaAccountability_IeuOrganizationIdentifierSea
	, LeaAccountability.StateAnsiCode AS LeaAccountability_StateAnsiCode
	, LeaAccountability.StateAbbreviationCode AS LeaAccountability_StateAbbreviationCode
	, LeaAccountability.StateAbbreviationDescription AS LeaAccountability_StateAbbreviationDescription
	, LeaAccountability.SeaOrganizationName AS LeaAccountability_SeaOrganizationName
	, LeaAccountability.SeaIdentifierSea AS LeaAccountability_SeaIdentifierSea
	, LeaAccountability.LeaName AS LeaAccountability_LeaName
	, LeaAccountability.LeaIdentifierNces AS LeaAccountability_LeaIdentifierNces
	, LeaAccountability.LeaIdentifierSea AS LeaAccountability_LeaIdentifierSea
	, LeaAccountability.PriorLeaIdentifierSea AS LeaAccountability_PriorLeaIdentifierSea
	, LeaAccountability.LeaSupervisoryUnionIdentificationNumber AS LeaAccountability_LeaSupervisoryUnionIdentificationNumber
	, LeaAccountability.ReportedFederally AS LeaAccountability_ReportedFederally
	, LeaAccountability.LeaTypeCode AS LeaAccountability_LeaTypeCode
	, LeaAccountability.LeaTypeDescription AS LeaAccountability_LeaTypeDescription
	, LeaAccountability.LeaTypeEdFactsCode AS LeaAccountability_LeaTypeEdFactsCode
	, LeaAccountability.MailingAddressStreetNumberAndName AS LeaAccountability_MailingAddressStreetNumberAndName
	, LeaAccountability.MailingAddressApartmentRoomOrSuiteNumber AS LeaAccountability_MailingAddressApartmentRoomOrSuiteNumber
	, LeaAccountability.MailingAddressCity AS LeaAccountability_MailingAddressCity
	, LeaAccountability.MailingAddressPostalCode AS LeaAccountability_MailingAddressPostalCode
	, LeaAccountability.MailingAddressStateAbbreviation AS LeaAccountability_MailingAddressStateAbbreviation
	, LeaAccountability.MailingAddressCountyAnsiCode AS LeaAccountability_MailingAddressCountyAnsiCode
	, LeaAccountability.PhysicalAddressStreetNumberAndName AS LeaAccountability_PhysicalAddressStreetNumberAndName
	, LeaAccountability.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaAccountability_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaAccountability.PhysicalAddressCity AS LeaAccountability_PhysicalAddressCity
	, LeaAccountability.PhysicalAddressPostalCode AS LeaAccountability_PhysicalAddressPostalCode
	, LeaAccountability.PhysicalAddressStateAbbreviation AS LeaAccountability_PhysicalAddressStateAbbreviation
	, LeaAccountability.PhysicalAddressCountyAnsiCode AS LeaAccountability_PhysicalAddressCountyAnsiCode
	, LeaAccountability.Longitude AS LeaAccountability_Longitude
	, LeaAccountability.Latitude AS LeaAccountability_Latitude
	, LeaAccountability.TelephoneNumber AS LeaAccountability_TelephoneNumber
	, LeaAccountability.WebSiteAddress AS LeaAccountability_WebSiteAddress
	, LeaAccountability.OutOfStateIndicator AS LeaAccountability_OutOfStateIndicator
	, LeaAccountability.LeaOperationalStatus AS LeaAccountability_LeaOperationalStatus
	, LeaAccountability.LeaOperationalStatusEdFactsCode AS LeaAccountability_LeaOperationalStatusEdFactsCode
	, LeaAccountability.OperationalStatusEffectiveDate AS LeaAccountability_OperationalStatusEffectiveDate
	, LeaAccountability.CharterLeaStatus AS LeaAccountability_CharterLeaStatus
	, LeaAccountability.ReconstitutedStatus AS LeaAccountability_ReconstitutedStatus
	, LeaAccountability.McKinneyVentoSubgrantRecipient AS LeaAccountability_McKinneyVentoSubgrantRecipient
	, LeaAccountability.NameOfInstitution AS LeaAccountability_NameOfInstitution
	, LeaAccountability.EffectiveDate AS LeaAccountability_EffectiveDate
	, LeaAccountability.RecordStartDateTime AS LeaAccountability_RecordStartDateTime
	, LeaAccountability.RecordEndDateTime AS LeaAccountability_RecordEndDateTime
	, LeaAttendance.IeuOrganizationName AS LeaAttendance_IeuOrganizationName
	, LeaAttendance.IeuOrganizationIdentifierSea AS LeaAttendance_IeuOrganizationIdentifierSea
	, LeaAttendance.StateAnsiCode AS LeaAttendance_StateAnsiCode
	, LeaAttendance.StateAbbreviationCode AS LeaAttendance_StateAbbreviationCode
	, LeaAttendance.StateAbbreviationDescription AS LeaAttendance_StateAbbreviationDescription
	, LeaAttendance.SeaOrganizationName AS LeaAttendance_SeaOrganizationName
	, LeaAttendance.SeaIdentifierSea AS LeaAttendance_SeaIdentifierSea
	, LeaAttendance.LeaName AS LeaAttendance_LeaName
	, LeaAttendance.LeaIdentifierNces AS LeaAttendance_LeaIdentifierNces
	, LeaAttendance.LeaIdentifierSea AS LeaAttendance_LeaIdentifierSea
	, LeaAttendance.PriorLeaIdentifierSea AS LeaAttendance_PriorLeaIdentifierSea
	, LeaAttendance.LeaSupervisoryUnionIdentificationNumber AS LeaAttendance_LeaSupervisoryUnionIdentificationNumber
	, LeaAttendance.ReportedFederally AS LeaAttendance_ReportedFederally
	, LeaAttendance.LeaTypeCode AS LeaAttendance_LeaTypeCode
	, LeaAttendance.LeaTypeDescription AS LeaAttendance_LeaTypeDescription
	, LeaAttendance.LeaTypeEdFactsCode AS LeaAttendance_LeaTypeEdFactsCode
	, LeaAttendance.MailingAddressStreetNumberAndName AS LeaAttendance_MailingAddressStreetNumberAndName
	, LeaAttendance.MailingAddressApartmentRoomOrSuiteNumber AS LeaAttendance_MailingAddressApartmentRoomOrSuiteNumber
	, LeaAttendance.MailingAddressCity AS LeaAttendance_MailingAddressCity
	, LeaAttendance.MailingAddressPostalCode AS LeaAttendance_MailingAddressPostalCode
	, LeaAttendance.MailingAddressStateAbbreviation AS LeaAttendance_MailingAddressStateAbbreviation
	, LeaAttendance.MailingAddressCountyAnsiCode AS LeaAttendance_MailingAddressCountyAnsiCode
	, LeaAttendance.PhysicalAddressStreetNumberAndName AS LeaAttendance_PhysicalAddressStreetNumberAndName
	, LeaAttendance.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaAttendance_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaAttendance.PhysicalAddressCity AS LeaAttendance_PhysicalAddressCity
	, LeaAttendance.PhysicalAddressPostalCode AS LeaAttendance_PhysicalAddressPostalCode
	, LeaAttendance.PhysicalAddressStateAbbreviation AS LeaAttendance_PhysicalAddressStateAbbreviation
	, LeaAttendance.PhysicalAddressCountyAnsiCode AS LeaAttendance_PhysicalAddressCountyAnsiCode
	, LeaAttendance.Longitude AS LeaAttendance_Longitude
	, LeaAttendance.Latitude AS LeaAttendance_Latitude
	, LeaAttendance.TelephoneNumber AS LeaAttendance_TelephoneNumber
	, LeaAttendance.WebSiteAddress AS LeaAttendance_WebSiteAddress
	, LeaAttendance.OutOfStateIndicator AS LeaAttendance_OutOfStateIndicator
	, LeaAttendance.LeaOperationalStatus AS LeaAttendance_LeaOperationalStatus
	, LeaAttendance.LeaOperationalStatusEdFactsCode AS LeaAttendance_LeaOperationalStatusEdFactsCode
	, LeaAttendance.OperationalStatusEffectiveDate AS LeaAttendance_OperationalStatusEffectiveDate
	, LeaAttendance.CharterLeaStatus AS LeaAttendance_CharterLeaStatus
	, LeaAttendance.ReconstitutedStatus AS LeaAttendance_ReconstitutedStatus
	, LeaAttendance.McKinneyVentoSubgrantRecipient AS LeaAttendance_McKinneyVentoSubgrantRecipient
	, LeaAttendance.NameOfInstitution AS LeaAttendance_NameOfInstitution
	, LeaAttendance.EffectiveDate AS LeaAttendance_EffectiveDate
	, LeaAttendance.RecordStartDateTime AS LeaAttendance_RecordStartDateTime
	, LeaAttendance.RecordEndDateTime AS LeaAttendance_RecordEndDateTime
	, LeaFunding.IeuOrganizationName AS LeaFunding_IeuOrganizationName
	, LeaFunding.IeuOrganizationIdentifierSea AS LeaFunding_IeuOrganizationIdentifierSea
	, LeaFunding.StateAnsiCode AS LeaFunding_StateAnsiCode
	, LeaFunding.StateAbbreviationCode AS LeaFunding_StateAbbreviationCode
	, LeaFunding.StateAbbreviationDescription AS LeaFunding_StateAbbreviationDescription
	, LeaFunding.SeaOrganizationName AS LeaFunding_SeaOrganizationName
	, LeaFunding.SeaIdentifierSea AS LeaFunding_SeaIdentifierSea
	, LeaFunding.LeaName AS LeaFunding_LeaName
	, LeaFunding.LeaIdentifierNces AS LeaFunding_LeaIdentifierNces
	, LeaFunding.LeaIdentifierSea AS LeaFunding_LeaIdentifierSea
	, LeaFunding.PriorLeaIdentifierSea AS LeaFunding_PriorLeaIdentifierSea
	, LeaFunding.LeaSupervisoryUnionIdentificationNumber AS LeaFunding_LeaSupervisoryUnionIdentificationNumber
	, LeaFunding.ReportedFederally AS LeaFunding_ReportedFederally
	, LeaFunding.LeaTypeCode AS LeaFunding_LeaTypeCode
	, LeaFunding.LeaTypeDescription AS LeaFunding_LeaTypeDescription
	, LeaFunding.LeaTypeEdFactsCode AS LeaFunding_LeaTypeEdFactsCode
	, LeaFunding.MailingAddressStreetNumberAndName AS LeaFunding_MailingAddressStreetNumberAndName
	, LeaFunding.MailingAddressApartmentRoomOrSuiteNumber AS LeaFunding_MailingAddressApartmentRoomOrSuiteNumber
	, LeaFunding.MailingAddressCity AS LeaFunding_MailingAddressCity
	, LeaFunding.MailingAddressPostalCode AS LeaFunding_MailingAddressPostalCode
	, LeaFunding.MailingAddressStateAbbreviation AS LeaFunding_MailingAddressStateAbbreviation
	, LeaFunding.MailingAddressCountyAnsiCode AS LeaFunding_MailingAddressCountyAnsiCode
	, LeaFunding.PhysicalAddressStreetNumberAndName AS LeaFunding_PhysicalAddressStreetNumberAndName
	, LeaFunding.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaFunding_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaFunding.PhysicalAddressCity AS LeaFunding_PhysicalAddressCity
	, LeaFunding.PhysicalAddressPostalCode AS LeaFunding_PhysicalAddressPostalCode
	, LeaFunding.PhysicalAddressStateAbbreviation AS LeaFunding_PhysicalAddressStateAbbreviation
	, LeaFunding.PhysicalAddressCountyAnsiCode AS LeaFunding_PhysicalAddressCountyAnsiCode
	, LeaFunding.Longitude AS LeaFunding_Longitude
	, LeaFunding.Latitude AS LeaFunding_Latitude
	, LeaFunding.TelephoneNumber AS LeaFunding_TelephoneNumber
	, LeaFunding.WebSiteAddress AS LeaFunding_WebSiteAddress
	, LeaFunding.OutOfStateIndicator AS LeaFunding_OutOfStateIndicator
	, LeaFunding.LeaOperationalStatus AS LeaFunding_LeaOperationalStatus
	, LeaFunding.LeaOperationalStatusEdFactsCode AS LeaFunding_LeaOperationalStatusEdFactsCode
	, LeaFunding.OperationalStatusEffectiveDate AS LeaFunding_OperationalStatusEffectiveDate
	, LeaFunding.CharterLeaStatus AS LeaFunding_CharterLeaStatus
	, LeaFunding.ReconstitutedStatus AS LeaFunding_ReconstitutedStatus
	, LeaFunding.McKinneyVentoSubgrantRecipient AS LeaFunding_McKinneyVentoSubgrantRecipient
	, LeaFunding.NameOfInstitution AS LeaFunding_NameOfInstitution
	, LeaFunding.EffectiveDate AS LeaFunding_EffectiveDate
	, LeaFunding.RecordStartDateTime AS LeaFunding_RecordStartDateTime
	, LeaFunding.RecordEndDateTime AS LeaFunding_RecordEndDateTime
	, LeaGraduation.IeuOrganizationName AS LeaGraduation_IeuOrganizationName
	, LeaGraduation.IeuOrganizationIdentifierSea AS LeaGraduation_IeuOrganizationIdentifierSea
	, LeaGraduation.StateAnsiCode AS LeaGraduation_StateAnsiCode
	, LeaGraduation.StateAbbreviationCode AS LeaGraduation_StateAbbreviationCode
	, LeaGraduation.StateAbbreviationDescription AS LeaGraduation_StateAbbreviationDescription
	, LeaGraduation.SeaOrganizationName AS LeaGraduation_SeaOrganizationName
	, LeaGraduation.SeaIdentifierSea AS LeaGraduation_SeaIdentifierSea
	, LeaGraduation.LeaName AS LeaGraduation_LeaName
	, LeaGraduation.LeaIdentifierNces AS LeaGraduation_LeaIdentifierNces
	, LeaGraduation.LeaIdentifierSea AS LeaGraduation_LeaIdentifierSea
	, LeaGraduation.PriorLeaIdentifierSea AS LeaGraduation_PriorLeaIdentifierSea
	, LeaGraduation.LeaSupervisoryUnionIdentificationNumber AS LeaGraduation_LeaSupervisoryUnionIdentificationNumber
	, LeaGraduation.ReportedFederally AS LeaGraduation_ReportedFederally
	, LeaGraduation.LeaTypeCode AS LeaGraduation_LeaTypeCode
	, LeaGraduation.LeaTypeDescription AS LeaGraduation_LeaTypeDescription
	, LeaGraduation.LeaTypeEdFactsCode AS LeaGraduation_LeaTypeEdFactsCode
	, LeaGraduation.MailingAddressStreetNumberAndName AS LeaGraduation_MailingAddressStreetNumberAndName
	, LeaGraduation.MailingAddressApartmentRoomOrSuiteNumber AS LeaGraduation_MailingAddressApartmentRoomOrSuiteNumber
	, LeaGraduation.MailingAddressCity AS LeaGraduation_MailingAddressCity
	, LeaGraduation.MailingAddressPostalCode AS LeaGraduation_MailingAddressPostalCode
	, LeaGraduation.MailingAddressStateAbbreviation AS LeaGraduation_MailingAddressStateAbbreviation
	, LeaGraduation.MailingAddressCountyAnsiCode AS LeaGraduation_MailingAddressCountyAnsiCode
	, LeaGraduation.PhysicalAddressStreetNumberAndName AS LeaGraduation_PhysicalAddressStreetNumberAndName
	, LeaGraduation.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaGraduation_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaGraduation.PhysicalAddressCity AS LeaGraduation_PhysicalAddressCity
	, LeaGraduation.PhysicalAddressPostalCode AS LeaGraduation_PhysicalAddressPostalCode
	, LeaGraduation.PhysicalAddressStateAbbreviation AS LeaGraduation_PhysicalAddressStateAbbreviation
	, LeaGraduation.PhysicalAddressCountyAnsiCode AS LeaGraduation_PhysicalAddressCountyAnsiCode
	, LeaGraduation.Longitude AS LeaGraduation_Longitude
	, LeaGraduation.Latitude AS LeaGraduation_Latitude
	, LeaGraduation.TelephoneNumber AS LeaGraduation_TelephoneNumber
	, LeaGraduation.WebSiteAddress AS LeaGraduation_WebSiteAddress
	, LeaGraduation.OutOfStateIndicator AS LeaGraduation_OutOfStateIndicator
	, LeaGraduation.LeaOperationalStatus AS LeaGraduation_LeaOperationalStatus
	, LeaGraduation.LeaOperationalStatusEdFactsCode AS LeaGraduation_LeaOperationalStatusEdFactsCode
	, LeaGraduation.OperationalStatusEffectiveDate AS LeaGraduation_OperationalStatusEffectiveDate
	, LeaGraduation.CharterLeaStatus AS LeaGraduation_CharterLeaStatus
	, LeaGraduation.ReconstitutedStatus AS LeaGraduation_ReconstitutedStatus
	, LeaGraduation.McKinneyVentoSubgrantRecipient AS LeaGraduation_McKinneyVentoSubgrantRecipient
	, LeaGraduation.NameOfInstitution AS LeaGraduation_NameOfInstitution
	, LeaGraduation.EffectiveDate AS LeaGraduation_EffectiveDate
	, LeaGraduation.RecordStartDateTime AS LeaGraduation_RecordStartDateTime
	, LeaGraduation.RecordEndDateTime AS LeaGraduation_RecordEndDateTime
	, LeaIndividualizedEducationProgram.IeuOrganizationName AS LeaIndividualizedEducationProgram_IeuOrganizationName
	, LeaIndividualizedEducationProgram.IeuOrganizationIdentifierSea AS LeaIndividualizedEducationProgram_IeuOrganizationIdentifierSea
	, LeaIndividualizedEducationProgram.StateAnsiCode AS LeaIndividualizedEducationProgram_StateAnsiCode
	, LeaIndividualizedEducationProgram.StateAbbreviationCode AS LeaIndividualizedEducationProgram_StateAbbreviationCode
	, LeaIndividualizedEducationProgram.StateAbbreviationDescription AS LeaIndividualizedEducationProgram_StateAbbreviationDescription
	, LeaIndividualizedEducationProgram.SeaOrganizationName AS LeaIndividualizedEducationProgram_SeaOrganizationName
	, LeaIndividualizedEducationProgram.SeaIdentifierSea AS LeaIndividualizedEducationProgram_SeaIdentifierSea
	, LeaIndividualizedEducationProgram.LeaName AS LeaIndividualizedEducationProgram_LeaName
	, LeaIndividualizedEducationProgram.LeaIdentifierNces AS LeaIndividualizedEducationProgram_LeaIdentifierNces
	, LeaIndividualizedEducationProgram.LeaIdentifierSea AS LeaIndividualizedEducationProgram_LeaIdentifierSea
	, LeaIndividualizedEducationProgram.PriorLeaIdentifierSea AS LeaIndividualizedEducationProgram_PriorLeaIdentifierSea
	, LeaIndividualizedEducationProgram.LeaSupervisoryUnionIdentificationNumber AS LeaIndividualizedEducationProgram_LeaSupervisoryUnionIdentificationNumber
	, LeaIndividualizedEducationProgram.ReportedFederally AS LeaIndividualizedEducationProgram_ReportedFederally
	, LeaIndividualizedEducationProgram.LeaTypeCode AS LeaIndividualizedEducationProgram_LeaTypeCode
	, LeaIndividualizedEducationProgram.LeaTypeDescription AS LeaIndividualizedEducationProgram_LeaTypeDescription
	, LeaIndividualizedEducationProgram.LeaTypeEdFactsCode AS LeaIndividualizedEducationProgram_LeaTypeEdFactsCode
	, LeaIndividualizedEducationProgram.MailingAddressStreetNumberAndName AS LeaIndividualizedEducationProgram_MailingAddressStreetNumberAndName
	, LeaIndividualizedEducationProgram.MailingAddressApartmentRoomOrSuiteNumber AS LeaIndividualizedEducationProgram_MailingAddressApartmentRoomOrSuiteNumber
	, LeaIndividualizedEducationProgram.MailingAddressCity AS LeaIndividualizedEducationProgram_MailingAddressCity
	, LeaIndividualizedEducationProgram.MailingAddressPostalCode AS LeaIndividualizedEducationProgram_MailingAddressPostalCode
	, LeaIndividualizedEducationProgram.MailingAddressStateAbbreviation AS LeaIndividualizedEducationProgram_MailingAddressStateAbbreviation
	, LeaIndividualizedEducationProgram.MailingAddressCountyAnsiCode AS LeaIndividualizedEducationProgram_MailingAddressCountyAnsiCode
	, LeaIndividualizedEducationProgram.PhysicalAddressStreetNumberAndName AS LeaIndividualizedEducationProgram_PhysicalAddressStreetNumberAndName
	, LeaIndividualizedEducationProgram.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaIndividualizedEducationProgram_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaIndividualizedEducationProgram.PhysicalAddressCity AS LeaIndividualizedEducationProgram_PhysicalAddressCity
	, LeaIndividualizedEducationProgram.PhysicalAddressPostalCode AS LeaIndividualizedEducationProgram_PhysicalAddressPostalCode
	, LeaIndividualizedEducationProgram.PhysicalAddressStateAbbreviation AS LeaIndividualizedEducationProgram_PhysicalAddressStateAbbreviation
	, LeaIndividualizedEducationProgram.PhysicalAddressCountyAnsiCode AS LeaIndividualizedEducationProgram_PhysicalAddressCountyAnsiCode
	, LeaIndividualizedEducationProgram.Longitude AS LeaIndividualizedEducationProgram_Longitude
	, LeaIndividualizedEducationProgram.Latitude AS LeaIndividualizedEducationProgram_Latitude
	, LeaIndividualizedEducationProgram.TelephoneNumber AS LeaIndividualizedEducationProgram_TelephoneNumber
	, LeaIndividualizedEducationProgram.WebSiteAddress AS LeaIndividualizedEducationProgram_WebSiteAddress
	, LeaIndividualizedEducationProgram.OutOfStateIndicator AS LeaIndividualizedEducationProgram_OutOfStateIndicator
	, LeaIndividualizedEducationProgram.LeaOperationalStatus AS LeaIndividualizedEducationProgram_LeaOperationalStatus
	, LeaIndividualizedEducationProgram.LeaOperationalStatusEdFactsCode AS LeaIndividualizedEducationProgram_LeaOperationalStatusEdFactsCode
	, LeaIndividualizedEducationProgram.OperationalStatusEffectiveDate AS LeaIndividualizedEducationProgram_OperationalStatusEffectiveDate
	, LeaIndividualizedEducationProgram.CharterLeaStatus AS LeaIndividualizedEducationProgram_CharterLeaStatus
	, LeaIndividualizedEducationProgram.ReconstitutedStatus AS LeaIndividualizedEducationProgram_ReconstitutedStatus
	, LeaIndividualizedEducationProgram.McKinneyVentoSubgrantRecipient AS LeaIndividualizedEducationProgram_McKinneyVentoSubgrantRecipient
	, LeaIndividualizedEducationProgram.NameOfInstitution AS LeaIndividualizedEducationProgram_NameOfInstitution
	, LeaIndividualizedEducationProgram.EffectiveDate AS LeaIndividualizedEducationProgram_EffectiveDate
	, LeaIndividualizedEducationProgram.RecordStartDateTime AS LeaIndividualizedEducationProgram_RecordStartDateTime
	, LeaIndividualizedEducationProgram.RecordEndDateTime AS LeaIndividualizedEducationProgram_RecordEndDateTime
	, Ieu.IeuOrganizationName AS Ieu_IeuOrganizationName
	, Ieu.IeuOrganizationIdentifierSea AS Ieu_IeuOrganizationIdentifierSea
	, Ieu.SeaOrganizationName AS Ieu_SeaOrganizationName
	, Ieu.SeaIdentifierSea AS Ieu_SeaIdentifierSea
	, Ieu.StateANSICode AS Ieu_StateANSICode
	, Ieu.StateAbbreviationCode AS Ieu_StateAbbreviationCode
	, Ieu.StateAbbreviationDescription AS Ieu_StateAbbreviationDescription
	, Ieu.MailingAddressStreetNumberAndName AS Ieu_MailingAddressStreetNumberAndName
	, Ieu.MailingAddressApartmentRoomOrSuiteNumber AS Ieu_MailingAddressApartmentRoomOrSuiteNumber
	, Ieu.MailingAddressCity AS Ieu_MailingAddressCity
	, Ieu.MailingAddressStateAbbreviation AS Ieu_MailingAddressStateAbbreviation
	, Ieu.MailingAddressPostalCode AS Ieu_MailingAddressPostalCode
	, Ieu.MailingAddressCountyAnsiCode AS Ieu_MailingAddressCountyAnsiCode
	, Ieu.OutOfStateIndicator AS Ieu_OutOfStateIndicator
	, Ieu.OrganizationOperationalStatus AS Ieu_OrganizationOperationalStatus
	, Ieu.OperationalStatusEffectiveDate AS Ieu_OperationalStatusEffectiveDate
	, Ieu.PhysicalAddressStreetNumberAndName AS Ieu_PhysicalAddressStreetNumberAndName
	, Ieu.PhysicalAddressApartmentRoomOrSuiteNumber AS Ieu_PhysicalAddressApartmentRoomOrSuiteNumber
	, Ieu.PhysicalAddressCity AS Ieu_PhysicalAddressCity
	, Ieu.PhysicalAddressPostalCode AS Ieu_PhysicalAddressPostalCode
	, Ieu.PhysicalAddressStateAbbreviation AS Ieu_PhysicalAddressStateAbbreviation
	, Ieu.PhysicalAddressCountyAnsiCode AS Ieu_PhysicalAddressCountyAnsiCode
	, Ieu.TelephoneNumber AS Ieu_TelephoneNumber
	, Ieu.WebSiteAddress AS Ieu_WebSiteAddress
	, Ieu.OrganizationRegionGeoJson AS Ieu_OrganizationRegionGeoJson
	, Ieu.Latitude AS Ieu_Latitude
	, Ieu.Longitude AS Ieu_Longitude
	, Ieu.RecordStartDateTime AS Ieu_RecordStartDateTime
	, Ieu.RecordEndDateTime AS Ieu_RecordEndDateTime
	, Sea.SeaOrganizationName AS Sea_SeaOrganizationName
	, Sea.SeaIdentifierSea AS Sea_SeaIdentifierSea
	, Sea.StateAnsiCode AS Sea_StateAnsiCode
	, Sea.StateAbbreviationCode AS Sea_StateAbbreviationCode
	, Sea.StateAbbreviationDescription AS Sea_StateAbbreviationDescription
	, Sea.MailingAddressStreetNumberAndName AS Sea_MailingAddressStreetNumberAndName
	, Sea.MailingAddressApartmentRoomOrSuiteNumber AS Sea_MailingAddressApartmentRoomOrSuiteNumber
	, Sea.MailingAddressCity AS Sea_MailingAddressCity
	, Sea.MailingAddressPostalCode AS Sea_MailingAddressPostalCode
	, Sea.MailingAddressStateAbbreviation AS Sea_MailingAddressStateAbbreviation
	, Sea.MailingAddressCountyAnsiCode AS Sea_MailingAddressCountyAnsiCode
	, Sea.PhysicalAddressStreetNumberAndName AS Sea_PhysicalAddressStreetNumberAndName
	, Sea.PhysicalAddressApartmentRoomOrSuiteNumber AS Sea_PhysicalAddressApartmentRoomOrSuiteNumber
	, Sea.PhysicalAddressCity AS Sea_PhysicalAddressCity
	, Sea.PhysicalAddressPostalCode AS Sea_PhysicalAddressPostalCode
	, Sea.PhysicalAddressStateAbbreviation AS Sea_PhysicalAddressStateAbbreviation
	, Sea.PhysicalAddressCountyAnsiCode AS Sea_PhysicalAddressCountyAnsiCode
	, Sea.TelephoneNumber AS Sea_TelephoneNumber
	, Sea.WebSiteAddress AS Sea_WebSiteAddress
	, Sea.CteGraduationRateInclusionCode AS Sea_CteGraduationRateInclusionCode
	, Sea.CteGraduationRateInclusionDescription AS Sea_CteGraduationRateInclusionDescription
	, Sea.CteGraduationRateInclusionEdFactsCode AS Sea_CteGraduationRateInclusionEdFactsCode
	, Sea.RecordStartDateTime AS Sea_RecordStartDateTime
	, Sea.RecordEndDateTime AS Sea_RecordEndDateTime
	, K12Student.FirstName AS K12Student_FirstName
	, K12Student.MiddleName AS K12Student_MiddleName
	, K12Student.LastOrSurname AS K12Student_LastOrSurname
	, K12Student.PersonalTitleOrPrefix AS K12Student_PersonalTitleOrPrefix
	, K12Student.BirthDate AS K12Student_BirthDate
	, K12Student.PositionTitle AS K12Student_PositionTitle
	, K12Student.ElectronicMailAddressHome AS K12Student_ElectronicMailAddressHome
	, K12Student.ElectronicMailAddressWork AS K12Student_ElectronicMailAddressWork
	, K12Student.ElectronicMailAddressOrganizational AS K12Student_ElectronicMailAddressOrganizational
	, K12Student.TelephoneNumberHome AS K12Student_TelephoneNumberHome
	, K12Student.TelephoneNumberWork AS K12Student_TelephoneNumberWork
	, K12Student.TelephoneNumberMobile AS K12Student_TelephoneNumberMobile
	, K12Student.TelephoneNumberFax AS K12Student_TelephoneNumberFax
	, K12Student.EarlyLearningChidIdentifierState AS K12Student_EarlyLearningChidIdentifierState
	, K12Student.K12StudentIdentifierState AS K12Student_K12StudentIdentifierState
	, K12Student.K12StudentIdentifierDistrict AS K12Student_K12StudentIdentifierDistrict
	, K12Student.K12StudentIdentifierNationalMigrant AS K12Student_K12StudentIdentifierNationalMigrant
	, K12Student.PsStudentIdentifierState AS K12Student_PsStudentIdentifierState
	, K12Student.AeStudentIdentifierState AS K12Student_AeStudentIdentifierState
	, K12Student.WorkforcePersonIdentifierState AS K12Student_WorkforcePersonIdentifierState
	, K12Student.EarlyLearningStaffMemberIdentifierState AS K12Student_EarlyLearningStaffMemberIdentifierState
	, K12Student.K12StaffMemberIdentiferState AS K12Student_K12StaffMemberIdentiferState
	, K12Student.K12StaffMemberIdentiferDistrict AS K12Student_K12StaffMemberIdentiferDistrict
	, K12Student.PsStaffMemberIdentiferState AS K12Student_PsStaffMemberIdentiferState
	, K12Student.PersonIdentifierDriversLicense AS K12Student_PersonIdentifierDriversLicense
	, K12Student.IsActiveEarlyLearningChild AS K12Student_IsActiveEarlyLearningChild
	, K12Student.IsActiveK12Student AS K12Student_IsActiveK12Student
	, K12Student.IsActivePsStudent AS K12Student_IsActivePsStudent
	, K12Student.IsActiveAeStudent AS K12Student_IsActiveAeStudent
	, K12Student.IsActiveWorkforcePerson AS K12Student_IsActiveWorkforcePerson
	, K12Student.IsActiveEarlyLearningStaffMember AS K12Student_IsActiveEarlyLearningStaffMember
	, K12Student.IsActiveK12StaffMember AS K12Student_IsActiveK12StaffMember
	, K12Student.IsActivePsStaffMember AS K12Student_IsActivePsStaffMember
	, K12Student.RecordStartDateTime AS K12Student_RecordStartDateTime
	, K12Student.RecordEndDateTime AS K12Student_RecordEndDateTime
	, Age.AgeCode AS Age_AgeCode
	, Age.AgeDescription AS Age_AgeDescription
	, Age.AgeEdFactsCode AS Age_AgeEdFactsCode
	, Age.AgeValue AS Age_AgeValue
	, GradeLevel.GradeLevelCode AS GradeLevel_GradeLevelCode
	, GradeLevel.GradeLevelDescription AS GradeLevel_GradeLevelDescription
	, GradeLevel.GradeLevelEdFactsCode AS GradeLevel_GradeLevelEdFactsCode
	, SeclusionOrRestraintDate.DateValue AS SeclusionOrRestraintDate_DateValue
	, SeclusionOrRestraintDate.Day AS SeclusionOrRestraintDate_Day
	, SeclusionOrRestraintDate.DayOfWeek AS SeclusionOrRestraintDate_DayOfWeek
	, SeclusionOrRestraintDate.DayOfYear AS SeclusionOrRestraintDate_DayOfYear
	, SeclusionOrRestraintDate.Month AS SeclusionOrRestraintDate_Month
	, SeclusionOrRestraintDate.MonthName AS SeclusionOrRestraintDate_MonthName
	, SeclusionOrRestraintDate.SubmissionYear AS SeclusionOrRestraintDate_SubmissionYear
	, SeclusionOrRestraintDate.Year AS SeclusionOrRestraintDate_Year
	, ParentGuardianContactDate.DateValue AS ParentGuardianContactDate_DateValue
	, ParentGuardianContactDate.Day AS ParentGuardianContactDate_Day
	, ParentGuardianContactDate.DayOfWeek AS ParentGuardianContactDate_DayOfWeek
	, ParentGuardianContactDate.DayOfYear AS ParentGuardianContactDate_DayOfYear
	, ParentGuardianContactDate.Month AS ParentGuardianContactDate_Month
	, ParentGuardianContactDate.MonthName AS ParentGuardianContactDate_MonthName
	, ParentGuardianContactDate.SubmissionYear AS ParentGuardianContactDate_SubmissionYear
	, ParentGuardianContactDate.Year AS ParentGuardianContactDate_Year
	, K12StaffFilingSeclusionOrRestraint.FirstName AS K12StaffFilingSeclusionOrRestraint_FirstName
	, K12StaffFilingSeclusionOrRestraint.MiddleName AS K12StaffFilingSeclusionOrRestraint_MiddleName
	, K12StaffFilingSeclusionOrRestraint.LastOrSurname AS K12StaffFilingSeclusionOrRestraint_LastOrSurname
	, K12StaffFilingSeclusionOrRestraint.PersonalTitleOrPrefix AS K12StaffFilingSeclusionOrRestraint_PersonalTitleOrPrefix
	, K12StaffFilingSeclusionOrRestraint.BirthDate AS K12StaffFilingSeclusionOrRestraint_BirthDate
	, K12StaffFilingSeclusionOrRestraint.PositionTitle AS K12StaffFilingSeclusionOrRestraint_PositionTitle
	, K12StaffFilingSeclusionOrRestraint.ElectronicMailAddressHome AS K12StaffFilingSeclusionOrRestraint_ElectronicMailAddressHome
	, K12StaffFilingSeclusionOrRestraint.ElectronicMailAddressWork AS K12StaffFilingSeclusionOrRestraint_ElectronicMailAddressWork
	, K12StaffFilingSeclusionOrRestraint.ElectronicMailAddressOrganizational AS K12StaffFilingSeclusionOrRestraint_ElectronicMailAddressOrganizational
	, K12StaffFilingSeclusionOrRestraint.TelephoneNumberHome AS K12StaffFilingSeclusionOrRestraint_TelephoneNumberHome
	, K12StaffFilingSeclusionOrRestraint.TelephoneNumberWork AS K12StaffFilingSeclusionOrRestraint_TelephoneNumberWork
	, K12StaffFilingSeclusionOrRestraint.TelephoneNumberMobile AS K12StaffFilingSeclusionOrRestraint_TelephoneNumberMobile
	, K12StaffFilingSeclusionOrRestraint.TelephoneNumberFax AS K12StaffFilingSeclusionOrRestraint_TelephoneNumberFax
	, K12StaffFilingSeclusionOrRestraint.EarlyLearningChidIdentifierState AS K12StaffFilingSeclusionOrRestraint_EarlyLearningChidIdentifierState
	, K12StaffFilingSeclusionOrRestraint.K12StudentIdentifierState AS K12StaffFilingSeclusionOrRestraint_K12StudentIdentifierState
	, K12StaffFilingSeclusionOrRestraint.K12StudentIdentifierDistrict AS K12StaffFilingSeclusionOrRestraint_K12StudentIdentifierDistrict
	, K12StaffFilingSeclusionOrRestraint.K12StudentIdentifierNationalMigrant AS K12StaffFilingSeclusionOrRestraint_K12StudentIdentifierNationalMigrant
	, K12StaffFilingSeclusionOrRestraint.PsStudentIdentifierState AS K12StaffFilingSeclusionOrRestraint_PsStudentIdentifierState
	, K12StaffFilingSeclusionOrRestraint.AeStudentIdentifierState AS K12StaffFilingSeclusionOrRestraint_AeStudentIdentifierState
	, K12StaffFilingSeclusionOrRestraint.WorkforcePersonIdentifierState AS K12StaffFilingSeclusionOrRestraint_WorkforcePersonIdentifierState
	, K12StaffFilingSeclusionOrRestraint.EarlyLearningStaffMemberIdentifierState AS K12StaffFilingSeclusionOrRestraint_EarlyLearningStaffMemberIdentifierState
	, K12StaffFilingSeclusionOrRestraint.K12StaffMemberIdentiferState AS K12StaffFilingSeclusionOrRestraint_K12StaffMemberIdentiferState
	, K12StaffFilingSeclusionOrRestraint.K12StaffMemberIdentiferDistrict AS K12StaffFilingSeclusionOrRestraint_K12StaffMemberIdentiferDistrict
	, K12StaffFilingSeclusionOrRestraint.PsStaffMemberIdentiferState AS K12StaffFilingSeclusionOrRestraint_PsStaffMemberIdentiferState
	, K12StaffFilingSeclusionOrRestraint.PersonIdentifierDriversLicense AS K12StaffFilingSeclusionOrRestraint_PersonIdentifierDriversLicense
	, K12StaffFilingSeclusionOrRestraint.IsActiveEarlyLearningChild AS K12StaffFilingSeclusionOrRestraint_IsActiveEarlyLearningChild
	, K12StaffFilingSeclusionOrRestraint.IsActiveK12Student AS K12StaffFilingSeclusionOrRestraint_IsActiveK12Student
	, K12StaffFilingSeclusionOrRestraint.IsActivePsStudent AS K12StaffFilingSeclusionOrRestraint_IsActivePsStudent
	, K12StaffFilingSeclusionOrRestraint.IsActiveAeStudent AS K12StaffFilingSeclusionOrRestraint_IsActiveAeStudent
	, K12StaffFilingSeclusionOrRestraint.IsActiveWorkforcePerson AS K12StaffFilingSeclusionOrRestraint_IsActiveWorkforcePerson
	, K12StaffFilingSeclusionOrRestraint.IsActiveEarlyLearningStaffMember AS K12StaffFilingSeclusionOrRestraint_IsActiveEarlyLearningStaffMember
	, K12StaffFilingSeclusionOrRestraint.IsActiveK12StaffMember AS K12StaffFilingSeclusionOrRestraint_IsActiveK12StaffMember
	, K12StaffFilingSeclusionOrRestraint.IsActivePsStaffMember AS K12StaffFilingSeclusionOrRestraint_IsActivePsStaffMember
	, K12StaffFilingSeclusionOrRestraint.RecordStartDateTime AS K12StaffFilingSeclusionOrRestraint_RecordStartDateTime
	, K12StaffFilingSeclusionOrRestraint.RecordEndDateTime AS K12StaffFilingSeclusionOrRestraint_RecordEndDateTime
	, K12StaffWhoInitiatedIntervention.FirstName AS K12StaffWhoInitiatedIntervention_FirstName
	, K12StaffWhoInitiatedIntervention.MiddleName AS K12StaffWhoInitiatedIntervention_MiddleName
	, K12StaffWhoInitiatedIntervention.LastOrSurname AS K12StaffWhoInitiatedIntervention_LastOrSurname
	, K12StaffWhoInitiatedIntervention.PersonalTitleOrPrefix AS K12StaffWhoInitiatedIntervention_PersonalTitleOrPrefix
	, K12StaffWhoInitiatedIntervention.BirthDate AS K12StaffWhoInitiatedIntervention_BirthDate
	, K12StaffWhoInitiatedIntervention.PositionTitle AS K12StaffWhoInitiatedIntervention_PositionTitle
	, K12StaffWhoInitiatedIntervention.ElectronicMailAddressHome AS K12StaffWhoInitiatedIntervention_ElectronicMailAddressHome
	, K12StaffWhoInitiatedIntervention.ElectronicMailAddressWork AS K12StaffWhoInitiatedIntervention_ElectronicMailAddressWork
	, K12StaffWhoInitiatedIntervention.ElectronicMailAddressOrganizational AS K12StaffWhoInitiatedIntervention_ElectronicMailAddressOrganizational
	, K12StaffWhoInitiatedIntervention.TelephoneNumberHome AS K12StaffWhoInitiatedIntervention_TelephoneNumberHome
	, K12StaffWhoInitiatedIntervention.TelephoneNumberWork AS K12StaffWhoInitiatedIntervention_TelephoneNumberWork
	, K12StaffWhoInitiatedIntervention.TelephoneNumberMobile AS K12StaffWhoInitiatedIntervention_TelephoneNumberMobile
	, K12StaffWhoInitiatedIntervention.TelephoneNumberFax AS K12StaffWhoInitiatedIntervention_TelephoneNumberFax
	, K12StaffWhoInitiatedIntervention.EarlyLearningChidIdentifierState AS K12StaffWhoInitiatedIntervention_EarlyLearningChidIdentifierState
	, K12StaffWhoInitiatedIntervention.K12StudentIdentifierState AS K12StaffWhoInitiatedIntervention_K12StudentIdentifierState
	, K12StaffWhoInitiatedIntervention.K12StudentIdentifierDistrict AS K12StaffWhoInitiatedIntervention_K12StudentIdentifierDistrict
	, K12StaffWhoInitiatedIntervention.K12StudentIdentifierNationalMigrant AS K12StaffWhoInitiatedIntervention_K12StudentIdentifierNationalMigrant
	, K12StaffWhoInitiatedIntervention.PsStudentIdentifierState AS K12StaffWhoInitiatedIntervention_PsStudentIdentifierState
	, K12StaffWhoInitiatedIntervention.AeStudentIdentifierState AS K12StaffWhoInitiatedIntervention_AeStudentIdentifierState
	, K12StaffWhoInitiatedIntervention.WorkforcePersonIdentifierState AS K12StaffWhoInitiatedIntervention_WorkforcePersonIdentifierState
	, K12StaffWhoInitiatedIntervention.EarlyLearningStaffMemberIdentifierState AS K12StaffWhoInitiatedIntervention_EarlyLearningStaffMemberIdentifierState
	, K12StaffWhoInitiatedIntervention.K12StaffMemberIdentiferState AS K12StaffWhoInitiatedIntervention_K12StaffMemberIdentiferState
	, K12StaffWhoInitiatedIntervention.K12StaffMemberIdentiferDistrict AS K12StaffWhoInitiatedIntervention_K12StaffMemberIdentiferDistrict
	, K12StaffWhoInitiatedIntervention.PsStaffMemberIdentiferState AS K12StaffWhoInitiatedIntervention_PsStaffMemberIdentiferState
	, K12StaffWhoInitiatedIntervention.PersonIdentifierDriversLicense AS K12StaffWhoInitiatedIntervention_PersonIdentifierDriversLicense
	, K12StaffWhoInitiatedIntervention.IsActiveEarlyLearningChild AS K12StaffWhoInitiatedIntervention_IsActiveEarlyLearningChild
	, K12StaffWhoInitiatedIntervention.IsActiveK12Student AS K12StaffWhoInitiatedIntervention_IsActiveK12Student
	, K12StaffWhoInitiatedIntervention.IsActivePsStudent AS K12StaffWhoInitiatedIntervention_IsActivePsStudent
	, K12StaffWhoInitiatedIntervention.IsActiveAeStudent AS K12StaffWhoInitiatedIntervention_IsActiveAeStudent
	, K12StaffWhoInitiatedIntervention.IsActiveWorkforcePerson AS K12StaffWhoInitiatedIntervention_IsActiveWorkforcePerson
	, K12StaffWhoInitiatedIntervention.IsActiveEarlyLearningStaffMember AS K12StaffWhoInitiatedIntervention_IsActiveEarlyLearningStaffMember
	, K12StaffWhoInitiatedIntervention.IsActiveK12StaffMember AS K12StaffWhoInitiatedIntervention_IsActiveK12StaffMember
	, K12StaffWhoInitiatedIntervention.IsActivePsStaffMember AS K12StaffWhoInitiatedIntervention_IsActivePsStaffMember
	, K12StaffWhoInitiatedIntervention.RecordStartDateTime AS K12StaffWhoInitiatedIntervention_RecordStartDateTime
	, K12StaffWhoInitiatedIntervention.RecordEndDateTime AS K12StaffWhoInitiatedIntervention_RecordEndDateTime
	, HomelessnessStatus.HomelessnessStatusCode AS HomelessnessStatus_HomelessnessStatusCode
	, HomelessnessStatus.HomelessnessStatusDescription AS HomelessnessStatus_HomelessnessStatusDescription
	, HomelessnessStatus.HomelessnessStatusEdFactsCode AS HomelessnessStatus_HomelessnessStatusEdFactsCode
	, HomelessnessStatus.HomelessPrimaryNighttimeResidenceCode AS HomelessnessStatus_HomelessPrimaryNighttimeResidenceCode
	, HomelessnessStatus.HomelessPrimaryNighttimeResidenceDescription AS HomelessnessStatus_HomelessPrimaryNighttimeResidenceDescription
	, HomelessnessStatus.HomelessPrimaryNighttimeResidenceEdfactsCode AS HomelessnessStatus_HomelessPrimaryNighttimeResidenceEdfactsCode
	, HomelessnessStatus.HomelessServicedIndicatorCode AS HomelessnessStatus_HomelessServicedIndicatorCode
	, HomelessnessStatus.HomelessServicedIndicatorDescription AS HomelessnessStatus_HomelessServicedIndicatorDescription
	, HomelessnessStatus.HomelessUnaccompaniedYouthStatusCode AS HomelessnessStatus_HomelessUnaccompaniedYouthStatusCode
	, HomelessnessStatus.HomelessUnaccompaniedYouthStatusDescription AS HomelessnessStatus_HomelessUnaccompaniedYouthStatusDescription
	, HomelessnessStatus.HomelessUnaccompaniedYouthStatusEdfactsCode AS HomelessnessStatus_HomelessUnaccompaniedYouthStatusEdfactsCode
	, ImmigrantStatus.TitleIIIImmigrantStatusCode AS ImmigrantStatus_TitleIIIImmigrantStatusCode
	, ImmigrantStatus.TitleIIIImmigrantStatusDescription AS ImmigrantStatus_TitleIIIImmigrantStatusDescription
	, ImmigrantStatus.TitleIIIImmigrantStatusEdFactsCode AS ImmigrantStatus_TitleIIIImmigrantStatusEdFactsCode
	, ImmigrantStatus.TitleIIIImmigrantParticipationStatusCode AS ImmigrantStatus_TitleIIIImmigrantParticipationStatusCode
	, ImmigrantStatus.TitleIIIImmigrantParticipationStatusDescription AS ImmigrantStatus_TitleIIIImmigrantParticipationStatusDescription
	, ImmigrantStatus.TitleIIIImmigrantParticipationStatusEdFactsCode AS ImmigrantStatus_TitleIIIImmigrantParticipationStatusEdFactsCode
	, PrimaryDisabilityType.IdeaDisabilityTypeCode AS PrimaryDisabilityType_IdeaDisabilityTypeCode
	, PrimaryDisabilityType.IdeaDisabilityTypeDescription AS PrimaryDisabilityType_IdeaDisabilityTypeDescription
	, PrimaryDisabilityType.IdeaDisabilityTypeEdFactsCode AS PrimaryDisabilityType_IdeaDisabilityTypeEdFactsCode
	, SecondaryDisabilityType.IdeaDisabilityTypeCode AS SecondaryDisabilityType_IdeaDisabilityTypeCode
	, SecondaryDisabilityType.IdeaDisabilityTypeDescription AS SecondaryDisabilityType_IdeaDisabilityTypeDescription
	, SecondaryDisabilityType.IdeaDisabilityTypeEdFactsCode AS SecondaryDisabilityType_IdeaDisabilityTypeEdFactsCode
	, FosterCareStatus.ProgramParticipationFosterCareCode AS FosterCareStatus_ProgramParticipationFosterCareCode
	, FosterCareStatus.ProgramParticipationFosterCareDescription AS FosterCareStatus_ProgramParticipationFosterCareDescription
	, FosterCareStatus.ProgramParticipationFosterCareEdFactsCode AS FosterCareStatus_ProgramParticipationFosterCareEdFactsCode
	, TitleIIIStatus.TitleIIIProgramParticipationCode AS TitleIIIStatus_TitleIIIProgramParticipationCode
	, TitleIIIStatus.TitleIIIProgramParticipationDescription AS TitleIIIStatus_TitleIIIProgramParticipationDescription
	, TitleIIIStatus.TitleIIIProgramParticipationEdFactsCode AS TitleIIIStatus_TitleIIIProgramParticipationEdFactsCode
	, TitleIIIStatus.FormerEnglishLearnerYearStatusCode AS TitleIIIStatus_FormerEnglishLearnerYearStatusCode
	, TitleIIIStatus.FormerEnglishLearnerYearStatusDescription AS TitleIIIStatus_FormerEnglishLearnerYearStatusDescription
	, TitleIIIStatus.FormerEnglishLearnerYearStatusEdFactsCode AS TitleIIIStatus_FormerEnglishLearnerYearStatusEdFactsCode
	, TitleIIIStatus.ProficiencyStatusCode AS TitleIIIStatus_ProficiencyStatusCode
	, TitleIIIStatus.ProficiencyStatusDescription AS TitleIIIStatus_ProficiencyStatusDescription
	, TitleIIIStatus.ProficiencyStatusEdFactsCode AS TitleIIIStatus_ProficiencyStatusEdFactsCode
	, IdeaStatus.SpecialEducationExitReasonCode AS IdeaStatus_SpecialEducationExitReasonCode
	, IdeaStatus.SpecialEducationExitReasonDescription AS IdeaStatus_SpecialEducationExitReasonDescription
	, IdeaStatus.SpecialEducationExitReasonEdFactsCode AS IdeaStatus_SpecialEducationExitReasonEdFactsCode
	, IdeaStatus.IdeaEducationalEnvironmentForSchoolAgeDescription AS IdeaStatus_IdeaEducationalEnvironmentForSchoolAgeDescription
	, IdeaStatus.IdeaEducationalEnvironmentForSchoolAgeCode AS IdeaStatus_IdeaEducationalEnvironmentForSchoolAgeCode
	, IdeaStatus.IdeaEducationalEnvironmentForSchoolAgeEdFactsCode AS IdeaStatus_IdeaEducationalEnvironmentForSchoolAgeEdFactsCode
	, IdeaStatus.IdeaIndicatorCode AS IdeaStatus_IdeaIndicatorCode
	, IdeaStatus.IdeaIndicatorDescription AS IdeaStatus_IdeaIndicatorDescription
	, IdeaStatus.IdeaIndicatorEdFactsCode AS IdeaStatus_IdeaIndicatorEdFactsCode
	, IdeaStatus.IdeaEducationalEnvironmentForEarlyChildhoodCode AS IdeaStatus_IdeaEducationalEnvironmentForEarlyChildhoodCode
	, IdeaStatus.IdeaEducationalEnvironmentForEarlyChildhoodDescription AS IdeaStatus_IdeaEducationalEnvironmentForEarlyChildhoodDescription
	, IdeaStatus.IdeaEducationalEnvironmentForEarlyChildhoodEdFactsCode AS IdeaStatus_IdeaEducationalEnvironmentForEarlyChildhoodEdFactsCode
	, NOrDStatus.LongTermStatusCode AS NOrDStatus_LongTermStatusCode
	, NOrDStatus.LongTermStatusDescription AS NOrDStatus_LongTermStatusDescription
	, NOrDStatus.LongTermStatusEdFactsCode AS NOrDStatus_LongTermStatusEdFactsCode
	, NOrDStatus.NeglectedOrDelinquentProgramTypeCode AS NOrDStatus_NeglectedOrDelinquentProgramTypeCode
	, NOrDStatus.NeglectedOrDelinquentProgramTypeDescription AS NOrDStatus_NeglectedOrDelinquentProgramTypeDescription
	, NOrDStatus.NeglectedOrDelinquentProgramTypeEdFactsCode AS NOrDStatus_NeglectedOrDelinquentProgramTypeEdFactsCode
	, TitleIStatus.TitleIInstructionalServicesCode AS TitleIStatus_TitleIInstructionalServicesCode
	, TitleIStatus.TitleIInstructionalServicesDescription AS TitleIStatus_TitleIInstructionalServicesDescription
	, TitleIStatus.TitleIInstructionalServicesEdFactsCode AS TitleIStatus_TitleIInstructionalServicesEdFactsCode
	, TitleIStatus.TitleIProgramTypeCode AS TitleIStatus_TitleIProgramTypeCode
	, TitleIStatus.TitleIProgramTypeDescription AS TitleIStatus_TitleIProgramTypeDescription
	, TitleIStatus.TitleIProgramTypeEdFactsCode AS TitleIStatus_TitleIProgramTypeEdFactsCode
	, TitleIStatus.TitleISchoolStatusCode AS TitleIStatus_TitleISchoolStatusCode
	, TitleIStatus.TitleISchoolStatusDescription AS TitleIStatus_TitleISchoolStatusDescription
	, TitleIStatus.TitleISchoolStatusEdFactsCode AS TitleIStatus_TitleISchoolStatusEdFactsCode
	, TitleIStatus.TitleISupportServicesCode AS TitleIStatus_TitleISupportServicesCode
	, TitleIStatus.TitleISupportServicesDescription AS TitleIStatus_TitleISupportServicesDescription
	, TitleIStatus.TitleISupportServicesEdFactsCode AS TitleIStatus_TitleISupportServicesEdFactsCode
	, MigrantStatus.MigrantStatusCode AS MigrantStatus_MigrantStatusCode
	, MigrantStatus.MigrantStatusDescription AS MigrantStatus_MigrantStatusDescription
	, MigrantStatus.MigrantStatusEdFactsCode AS MigrantStatus_MigrantStatusEdFactsCode
	, MigrantStatus.MigrantEducationProgramEnrollmentTypeCode AS MigrantStatus_MigrantEducationProgramEnrollmentTypeCode
	, MigrantStatus.MigrantEducationProgramEnrollmentTypeDescription AS MigrantStatus_MigrantEducationProgramEnrollmentTypeDescription
	, MigrantStatus.MigrantEducationProgramEnrollmentTypeEdFactsCode AS MigrantStatus_MigrantEducationProgramEnrollmentTypeEdFactsCode
	, MigrantStatus.ContinuationOfServicesReasonCode AS MigrantStatus_ContinuationOfServicesReasonCode
	, MigrantStatus.ContinuationOfServicesReasonDescription AS MigrantStatus_ContinuationOfServicesReasonDescription
	, MigrantStatus.ContinuationOfServicesReasonEdFactsCode AS MigrantStatus_ContinuationOfServicesReasonEdFactsCode
	, MigrantStatus.MigrantEducationProgramServicesTypeCode AS MigrantStatus_MigrantEducationProgramServicesTypeCode
	, MigrantStatus.MigrantEducationProgramServicesTypeDescription AS MigrantStatus_MigrantEducationProgramServicesTypeDescription
	, MigrantStatus.MigrantEducationProgramServicesTypeEdFactsCode AS MigrantStatus_MigrantEducationProgramServicesTypeEdFactsCode
	, MigrantStatus.MigrantPrioritizedForServicesCode AS MigrantStatus_MigrantPrioritizedForServicesCode
	, MigrantStatus.MigrantPrioritizedForServicesDescription AS MigrantStatus_MigrantPrioritizedForServicesDescription
	, MigrantStatus.MigrantPrioritizedForServicesEdFactsCode AS MigrantStatus_MigrantPrioritizedForServicesEdFactsCode
	, K12Demographic.SexCode AS K12Demographic_SexCode
	, K12Demographic.SexDescription AS K12Demographic_SexDescription
	, K12Demographic.SexEdFactsCode AS K12Demographic_SexEdFactsCode
	, EconomicallyDisadvantagedStatus.EconomicDisadvantageStatusCode AS EconomicallyDisadvantagedStatus_EconomicDisadvantageStatusCode
	, EconomicallyDisadvantagedStatus.EconomicDisadvantageStatusDescription AS EconomicallyDisadvantagedStatus_EconomicDisadvantageStatusDescription
	, EconomicallyDisadvantagedStatus.EconomicDisadvantageStatusEdFactsCode AS EconomicallyDisadvantagedStatus_EconomicDisadvantageStatusEdFactsCode
	, EconomicallyDisadvantagedStatus.EligibilityStatusForSchoolFoodServiceProgramsCode AS EconomicallyDisadvantagedStatus_EligibilityStatusForSchoolFoodServiceProgramsCode
	, EconomicallyDisadvantagedStatus.EligibilityStatusForSchoolFoodServiceProgramsDescription AS EconomicallyDisadvantagedStatus_EligibilityStatusForSchoolFoodServiceProgramsDescription
	, EconomicallyDisadvantagedStatus.EligibilityStatusForSchoolFoodServiceProgramsEdFactsCode AS EconomicallyDisadvantagedStatus_EligibilityStatusForSchoolFoodServiceProgramsEdFactsCode
	, EconomicallyDisadvantagedStatus.NationalSchoolLunchProgramDirectCertificationIndicatorCode AS EconomicallyDisadvantagedStatus_NationalSchoolLunchProgramDirectCertificationIndicatorCode
	, EconomicallyDisadvantagedStatus.NationalSchoolLunchProgramDirectCertificationIndicatorDescription AS EconomicallyDisadvantagedStatus_NationalSchoolLunchProgramDirectCertificationIndicatorDescription
	, CteStatus.CteAeDisplacedHomemakerIndicatorCode AS CteStatus_CteAeDisplacedHomemakerIndicatorCode
	, CteStatus.CteAeDisplacedHomemakerIndicatorDescription AS CteStatus_CteAeDisplacedHomemakerIndicatorDescription
	, CteStatus.CteAeDisplacedHomemakerIndicatorEdFactsCode AS CteStatus_CteAeDisplacedHomemakerIndicatorEdFactsCode
	, CteStatus.CteNontraditionalGenderStatusCode AS CteStatus_CteNontraditionalGenderStatusCode
	, CteStatus.CteNontraditionalGenderStatusDescription AS CteStatus_CteNontraditionalGenderStatusDescription
	, CteStatus.CteNontraditionalGenderStatusEdFactsCode AS CteStatus_CteNontraditionalGenderStatusEdFactsCode
	, CteStatus.CteNontraditionalCompletionCode AS CteStatus_CteNontraditionalCompletionCode
	, CteStatus.CteNontraditionalCompletionDescription AS CteStatus_CteNontraditionalCompletionDescription
	, CteStatus.CteNontraditionalCompletionEdFactsCode AS CteStatus_CteNontraditionalCompletionEdFactsCode
	, CteStatus.SingleParentOrSinglePregnantWomanStatusCode AS CteStatus_SingleParentOrSinglePregnantWomanStatusCode
	, CteStatus.SingleParentOrSinglePregnantWomanStatusDescription AS CteStatus_SingleParentOrSinglePregnantWomanStatusDescription
	, CteStatus.SingleParentOrSinglePregnantWomanStatusEdFactsCode AS CteStatus_SingleParentOrSinglePregnantWomanStatusEdFactsCode
	, CteStatus.CteParticipantCode AS CteStatus_CteParticipantCode
	, CteStatus.CteParticipantDescription AS CteStatus_CteParticipantDescription
	, CteStatus.CteParticipantEdFactsCode AS CteStatus_CteParticipantEdFactsCode
	, CteStatus.CteConcentratorCode AS CteStatus_CteConcentratorCode
	, CteStatus.CteConcentratorDescription AS CteStatus_CteConcentratorDescription
	, CteStatus.CteConcentratorEdFactsCode AS CteStatus_CteConcentratorEdFactsCode
	, DisabilityStatus.DisabilityStatusCode AS DisabilityStatus_DisabilityStatusCode
	, DisabilityStatus.DisabilityStatusDescription AS DisabilityStatus_DisabilityStatusDescription
	, DisabilityStatus.Section504StatusCode AS DisabilityStatus_Section504StatusCode
	, DisabilityStatus.Section504StatusDescription AS DisabilityStatus_Section504StatusDescription
	, DisabilityStatus.Section504StatusEdFactsCode AS DisabilityStatus_Section504StatusEdFactsCode
	, DisabilityStatus.DisabilityConditionTypeCode AS DisabilityStatus_DisabilityConditionTypeCode
	, DisabilityStatus.DisabilityConditionTypeDescription AS DisabilityStatus_DisabilityConditionTypeDescription
	, DisabilityStatus.DisabilityDeterminationSourceTypeCode AS DisabilityStatus_DisabilityDeterminationSourceTypeCode
	, DisabilityStatus.DisabilityDeterminationSourceTypeDescription AS DisabilityStatus_DisabilityDeterminationSourceTypeDescription
	, BuildingSpaceDesignType.BuildingSpaceDesignTypeCode AS BuildingSpaceDesignType_BuildingSpaceDesignTypeCode
	, BuildingSpaceDesignType.BuildingSpaceDesignTypeDescription AS BuildingSpaceDesignType_BuildingSpaceDesignTypeDescription
	, SeclusionOrRestraintStatus.ProblemBahaviorTriggerCode AS SeclusionOrRestraintStatus_ProblemBahaviorTriggerCode
	, SeclusionOrRestraintStatus.ProblemBahaviorTriggerDescription AS SeclusionOrRestraintStatus_ProblemBahaviorTriggerDescription
	, SeclusionOrRestraintStatus.ProblemBahaviorTypeCode AS SeclusionOrRestraintStatus_ProblemBahaviorTypeCode
	, SeclusionOrRestraintStatus.ProblemBahaviorTypeDescription AS SeclusionOrRestraintStatus_ProblemBahaviorTypeDescription
	, SeclusionOrRestraintStatus.SeclusionOrRestraintTypeCode AS SeclusionOrRestraintStatus_SeclusionOrRestraintTypeCode
	, SeclusionOrRestraintStatus.SeclusionOrRestraintTypeDescription AS SeclusionOrRestraintStatus_SeclusionOrRestraintTypeDescription
	, SeclusionOrRestraintStatus.SeclusionOrRestraintStudentResponseTypeCode AS SeclusionOrRestraintStatus_SeclusionOrRestraintStudentResponseTypeCode
	, SeclusionOrRestraintStatus.SeclusionOrRestraintStudentResponseTypeDescription AS SeclusionOrRestraintStatus_SeclusionOrRestraintStudentResponseTypeDescription
	, SeclusionOrRestraintStatus.IncidentInjuryTypeCode AS SeclusionOrRestraintStatus_IncidentInjuryTypeCode
	, SeclusionOrRestraintStatus.IncidentInjuryTypeDescription AS SeclusionOrRestraintStatus_IncidentInjuryTypeDescription
	, SeclusionOrRestraintStatus.InterventionFollowUpTypeCode AS SeclusionOrRestraintStatus_InterventionFollowUpTypeCode
	, SeclusionOrRestraintStatus.InterventionFollowUpTypeDescription AS SeclusionOrRestraintStatus_InterventionFollowUpTypeDescription
	, IncidentStatus.IncidentBehaviorCode AS IncidentStatus_IncidentBehaviorCode
	, IncidentStatus.IncidentBehaviorDescription AS IncidentStatus_IncidentBehaviorDescription
	, IncidentStatus.DisciplineReasonCode AS IncidentStatus_DisciplineReasonCode
	, IncidentStatus.DisciplineReasonDescription AS IncidentStatus_DisciplineReasonDescription
	, IncidentStatus.IncidentInjuryTypeCode AS IncidentStatus_IncidentInjuryTypeCode
	, IncidentStatus.IncidentInjuryTypeDescription AS IncidentStatus_IncidentInjuryTypeDescription
	, fact.LengthOfSeclusion
	, fact.LengthOfRestraint
	, fact.LengthOfPreventionInterventions
	, fact.LengthOfProblemBehavior
	, fact.SeclusionOrRestraintCount
FROM RDS.FactK12StudentSeclusionsOrRestraints fact
JOIN RDS.DimSchoolYears SchoolYear
	ON Fact.SchoolYearId = SchoolYear.DimSchoolYearId
JOIN RDS.DimK12Schools K12School
	ON Fact.K12SchoolId = K12School.DimK12SchoolId
JOIN RDS.DimLeas LeaAccountability
	ON Fact.LeaAccountabilityId = LeaAccountability.DimLeaID
JOIN RDS.DimLeas LeaAttendance
	ON Fact.LeaAttendanceId = LeaAttendance.DimLeaID
JOIN RDS.DimLeas LeaFunding
	ON Fact.LeaFundingId = LeaFunding.DimLeaID
JOIN RDS.DimLeas LeaGraduation
	ON Fact.LeaGraduationId = LeaGraduation.DimLeaID
JOIN RDS.DimLeas LeaIndividualizedEducationProgram
	ON Fact.LeaIndividualizedEducationProgramId = LeaIndividualizedEducationProgram.DimLeaID
JOIN RDS.DimIeus Ieu
	ON Fact.IeuId = Ieu.DimIeuId
JOIN RDS.DimSeas Sea
	ON Fact.SeaId = Sea.DimSeaId
JOIN RDS.DimPeople K12Student
	ON Fact.K12StudentId = K12Student.DimPersonId
JOIN RDS.DimAges Age
	ON Fact.AgeId = Age.DimAgeId
JOIN RDS.DimGradeLevels GradeLevel
	ON Fact.GradeLevelId = GradeLevel.DimGradeLevelId
JOIN RDS.DimDates SeclusionOrRestraintDate
	ON Fact.SeclusionOrRestraintDateId = SeclusionOrRestraintDate.DimDateId
JOIN RDS.DimDates ParentGuardianContactDate
	ON Fact.ParentGuardianContactDateId = ParentGuardianContactDate.DimDateId
JOIN RDS.DimPeople K12StaffFilingSeclusionOrRestraint
	ON Fact.K12StaffFilingSeclusionOrRestraintId = K12StaffFilingSeclusionOrRestraint.DimPersonId
JOIN RDS.DimPeople K12StaffWhoInitiatedIntervention
	ON Fact.K12StaffWhoInitiatedInterventionId = K12StaffWhoInitiatedIntervention.DimPersonId
JOIN RDS.DimHomelessnessStatuses HomelessnessStatus
	ON Fact.HomelessnessStatusId = HomelessnessStatus.DimHomelessnessStatusId
JOIN RDS.DimImmigrantStatuses ImmigrantStatus
	ON Fact.ImmigrantStatusId = ImmigrantStatus.DimImmigrantStatusId
JOIN RDS.DimIdeaDisabilityTypes PrimaryDisabilityType
	ON Fact.PrimaryDisabilityTypeId = PrimaryDisabilityType.DimIdeaDisabilityTypeId
JOIN RDS.DimIdeaDisabilityTypes SecondaryDisabilityType
	ON Fact.SecondaryDisabilityTypeId = SecondaryDisabilityType.DimIdeaDisabilityTypeId
JOIN RDS.DimFosterCareStatuses FosterCareStatus
	ON Fact.FosterCareStatusId = FosterCareStatus.DimFosterCareStatusId
JOIN RDS.DimTitleIIIStatuses TitleIIIStatus
	ON Fact.TitleIIIStatusId = TitleIIIStatus.DimTitleIIIStatusId
JOIN RDS.DimIdeaStatuses IdeaStatus
	ON Fact.IdeaStatusId = IdeaStatus.DimIdeaStatusId
JOIN RDS.DimNOrDStatuses NOrDStatus
	ON Fact.NOrDStatusId = NOrDStatus.DimNOrDStatusId
JOIN RDS.DimTitleIStatuses TitleIStatus
	ON Fact.TitleIStatusId = TitleIStatus.DimTitleIStatusId
JOIN RDS.DimMigrantStatuses MigrantStatus
	ON Fact.MigrantStatusId = MigrantStatus.DimMigrantStatusId
JOIN RDS.DimK12Demographics K12Demographic
	ON Fact.K12DemographicId = K12Demographic.DimK12DemographicId
JOIN RDS.DimEconomicallyDisadvantagedStatuses EconomicallyDisadvantagedStatus
	ON Fact.EconomicallyDisadvantagedStatusId = EconomicallyDisadvantagedStatus.DimEconomicallyDisadvantagedStatusId
JOIN RDS.DimCteStatuses CteStatus
	ON Fact.CteStatusId = CteStatus.DimCteStatusId
JOIN RDS.DimDisabilityStatuses DisabilityStatus
	ON Fact.DisabilityStatusId = DisabilityStatus.DimDisabilityStatusId
JOIN RDS.DimBuildingSpaceDesignTypes BuildingSpaceDesignType
	ON Fact.BuildingSpaceDesignTypeId = BuildingSpaceDesignType.DimBuildingSpaceDesignTypeId
JOIN RDS.DimSeclusionOrRestraintStatuses SeclusionOrRestraintStatus
	ON Fact.SeclusionOrRestraintStatusId = SeclusionOrRestraintStatus.DimSeclusionOrRestraintStatusId
JOIN RDS.DimIncidentStatuses IncidentStatus
	ON Fact.IncidentStatusId = IncidentStatus.DimIncidentStatusId
GO
