USE [CEDS-Data-Warehouse-V9-2-0-0]
GO
/****** Object:  View [dbo].[vwFactOrganizationCountsParquet]    Script Date: 5/2/2022 3:48:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vwFactOrganizationCountsParquet] AS SELECT fact.FactOrganizationCountId
	, SchoolYear.SchoolYear AS SchoolYear_SchoolYear
	, SchoolYear.SessionBeginDate AS SchoolYear_SessionBeginDate
	, SchoolYear.SessionEndDate AS SchoolYear_SessionEndDate
	, FactType.FactTypeCode AS FactType_FactTypeCode
	, FactType.FactTypeDescription AS FactType_FactTypeDescription
	, Sea.SeaOrganizationName AS Sea_SeaOrganizationName
	, Sea.SeaIdentifierSea AS Sea_SeaIdentifierSea
	, Sea.StateAnsiCode AS Sea_StateAnsiCode
	, Sea.StateAbbreviationCode AS Sea_StateAbbreviationCode
	, Sea.StateAbbreviationDescription AS Sea_StateAbbreviationDescription
	, Sea.MailingAddressStreetNumberAndName AS Sea_MailingAddressStreetNumberAndName
	, Sea.MailingAddressApartmentRoomOrSuiteNumber AS Sea_MailingAddressApartmentRoomOrSuiteNumber
	, Sea.MailingAddressCity AS Sea_MailingAddressCity
	, Sea.MailingAddressPostalCode AS Sea_MailingAddressPostalCode
	, Sea.MailingAddressStateAbbreviation AS Sea_MailingAddressStateAbbreviation
	, Sea.MailingAddressCountyAnsiCode AS Sea_MailingAddressCountyAnsiCode
	, Sea.PhysicalAddressStreetNumberAndName AS Sea_PhysicalAddressStreetNumberAndName
	, Sea.PhysicalAddressApartmentRoomOrSuiteNumber AS Sea_PhysicalAddressApartmentRoomOrSuiteNumber
	, Sea.PhysicalAddressCity AS Sea_PhysicalAddressCity
	, Sea.PhysicalAddressPostalCode AS Sea_PhysicalAddressPostalCode
	, Sea.PhysicalAddressStateAbbreviation AS Sea_PhysicalAddressStateAbbreviation
	, Sea.PhysicalAddressCountyAnsiCode AS Sea_PhysicalAddressCountyAnsiCode
	, Sea.TelephoneNumber AS Sea_TelephoneNumber
	, Sea.WebSiteAddress AS Sea_WebSiteAddress
	, Sea.CteGraduationRateInclusionCode AS Sea_CteGraduationRateInclusionCode
	, Sea.CteGraduationRateInclusionDescription AS Sea_CteGraduationRateInclusionDescription
	, Sea.CteGraduationRateInclusionEdFactsCode AS Sea_CteGraduationRateInclusionEdFactsCode
	, Sea.RecordStartDateTime AS Sea_RecordStartDateTime
	, Sea.RecordEndDateTime AS Sea_RecordEndDateTime
	, Lea.IeuOrganizationName AS Lea_IeuOrganizationName
	, Lea.IeuOrganizationIdentifierSea AS Lea_IeuOrganizationIdentifierSea
	, Lea.StateAnsiCode AS Lea_StateAnsiCode
	, Lea.StateAbbreviationCode AS Lea_StateAbbreviationCode
	, Lea.StateAbbreviationDescription AS Lea_StateAbbreviationDescription
	, Lea.SeaOrganizationName AS Lea_SeaOrganizationName
	, Lea.SeaIdentifierSea AS Lea_SeaIdentifierSea
	, Lea.LeaName AS Lea_LeaName
	, Lea.LeaIdentifierNces AS Lea_LeaIdentifierNces
	, Lea.LeaIdentifierSea AS Lea_LeaIdentifierSea
	, Lea.PriorLeaIdentifierSea AS Lea_PriorLeaIdentifierSea
	, Lea.LeaSupervisoryUnionIdentificationNumber AS Lea_LeaSupervisoryUnionIdentificationNumber
	, Lea.ReportedFederally AS Lea_ReportedFederally
	, Lea.LeaTypeCode AS Lea_LeaTypeCode
	, Lea.LeaTypeDescription AS Lea_LeaTypeDescription
	, Lea.LeaTypeEdFactsCode AS Lea_LeaTypeEdFactsCode
	, Lea.MailingAddressStreetNumberAndName AS Lea_MailingAddressStreetNumberAndName
	, Lea.MailingAddressApartmentRoomOrSuiteNumber AS Lea_MailingAddressApartmentRoomOrSuiteNumber
	, Lea.MailingAddressCity AS Lea_MailingAddressCity
	, Lea.MailingAddressPostalCode AS Lea_MailingAddressPostalCode
	, Lea.MailingAddressStateAbbreviation AS Lea_MailingAddressStateAbbreviation
	, Lea.MailingAddressCountyAnsiCode AS Lea_MailingAddressCountyAnsiCode
	, Lea.PhysicalAddressStreetNumberAndName AS Lea_PhysicalAddressStreetNumberAndName
	, Lea.PhysicalAddressApartmentRoomOrSuiteNumber AS Lea_PhysicalAddressApartmentRoomOrSuiteNumber
	, Lea.PhysicalAddressCity AS Lea_PhysicalAddressCity
	, Lea.PhysicalAddressPostalCode AS Lea_PhysicalAddressPostalCode
	, Lea.PhysicalAddressStateAbbreviation AS Lea_PhysicalAddressStateAbbreviation
	, Lea.PhysicalAddressCountyAnsiCode AS Lea_PhysicalAddressCountyAnsiCode
	, Lea.Longitude AS Lea_Longitude
	, Lea.Latitude AS Lea_Latitude
	, Lea.TelephoneNumber AS Lea_TelephoneNumber
	, Lea.WebSiteAddress AS Lea_WebSiteAddress
	, Lea.OutOfStateIndicator AS Lea_OutOfStateIndicator
	, Lea.LeaOperationalStatus AS Lea_LeaOperationalStatus
	, Lea.LeaOperationalStatusEdFactsCode AS Lea_LeaOperationalStatusEdFactsCode
	, Lea.OperationalStatusEffectiveDate AS Lea_OperationalStatusEffectiveDate
	, Lea.CharterLeaStatus AS Lea_CharterLeaStatus
	, Lea.ReconstitutedStatus AS Lea_ReconstitutedStatus
	, Lea.McKinneyVentoSubgrantRecipient AS Lea_McKinneyVentoSubgrantRecipient
	, Lea.NameOfInstitution AS Lea_NameOfInstitution
	, Lea.EffectiveDate AS Lea_EffectiveDate
	, Lea.RecordStartDateTime AS Lea_RecordStartDateTime
	, Lea.RecordEndDateTime AS Lea_RecordEndDateTime
	, K12Staff.FirstName AS K12Staff_FirstName
	, K12Staff.MiddleName AS K12Staff_MiddleName
	, K12Staff.LastOrSurname AS K12Staff_LastOrSurname
	, K12Staff.PersonalTitleOrPrefix AS K12Staff_PersonalTitleOrPrefix
	, K12Staff.BirthDate AS K12Staff_BirthDate
	, K12Staff.PositionTitle AS K12Staff_PositionTitle
	, K12Staff.ElectronicMailAddressHome AS K12Staff_ElectronicMailAddressHome
	, K12Staff.ElectronicMailAddressWork AS K12Staff_ElectronicMailAddressWork
	, K12Staff.ElectronicMailAddressOrganizational AS K12Staff_ElectronicMailAddressOrganizational
	, K12Staff.TelephoneNumberHome AS K12Staff_TelephoneNumberHome
	, K12Staff.TelephoneNumberWork AS K12Staff_TelephoneNumberWork
	, K12Staff.TelephoneNumberMobile AS K12Staff_TelephoneNumberMobile
	, K12Staff.TelephoneNumberFax AS K12Staff_TelephoneNumberFax
	, K12Staff.EarlyLearningChidIdentifierState AS K12Staff_EarlyLearningChidIdentifierState
	, K12Staff.K12StudentIdentifierState AS K12Staff_K12StudentIdentifierState
	, K12Staff.K12StudentIdentifierDistrict AS K12Staff_K12StudentIdentifierDistrict
	, K12Staff.K12StudentIdentifierNationalMigrant AS K12Staff_K12StudentIdentifierNationalMigrant
	, K12Staff.PsStudentIdentifierState AS K12Staff_PsStudentIdentifierState
	, K12Staff.AeStudentIdentifierState AS K12Staff_AeStudentIdentifierState
	, K12Staff.WorkforcePersonIdentifierState AS K12Staff_WorkforcePersonIdentifierState
	, K12Staff.EarlyLearningStaffMemberIdentifierState AS K12Staff_EarlyLearningStaffMemberIdentifierState
	, K12Staff.K12StaffMemberIdentiferState AS K12Staff_K12StaffMemberIdentiferState
	, K12Staff.K12StaffMemberIdentiferDistrict AS K12Staff_K12StaffMemberIdentiferDistrict
	, K12Staff.PsStaffMemberIdentiferState AS K12Staff_PsStaffMemberIdentiferState
	, K12Staff.PersonIdentifierDriversLicense AS K12Staff_PersonIdentifierDriversLicense
	, K12Staff.IsActiveEarlyLearningChild AS K12Staff_IsActiveEarlyLearningChild
	, K12Staff.IsActiveK12Student AS K12Staff_IsActiveK12Student
	, K12Staff.IsActivePsStudent AS K12Staff_IsActivePsStudent
	, K12Staff.IsActiveAeStudent AS K12Staff_IsActiveAeStudent
	, K12Staff.IsActiveWorkforcePerson AS K12Staff_IsActiveWorkforcePerson
	, K12Staff.IsActiveEarlyLearningStaffMember AS K12Staff_IsActiveEarlyLearningStaffMember
	, K12Staff.IsActiveK12StaffMember AS K12Staff_IsActiveK12StaffMember
	, K12Staff.IsActivePsStaffMember AS K12Staff_IsActivePsStaffMember
	, K12Staff.RecordStartDateTime AS K12Staff_RecordStartDateTime
	, K12Staff.RecordEndDateTime AS K12Staff_RecordEndDateTime
	, K12School.SeaOrganizationName AS K12School_SeaOrganizationName
	, K12School.SeaIdentifierSea AS K12School_SeaIdentifierSea
	, K12School.StateAnsiCode AS K12School_StateAnsiCode
	, K12School.StateAbbreviationCode AS K12School_StateAbbreviationCode
	, K12School.StateAbbreviationDescription AS K12School_StateAbbreviationDescription
	, K12School.IeuOrganizationName AS K12School_IeuOrganizationName
	, K12School.IeuOrganizationIdentifierSea AS K12School_IeuOrganizationIdentifierSea
	, K12School.LeaName AS K12School_LeaName
	, K12School.LeaIdentifierNces AS K12School_LeaIdentifierNces
	, K12School.LeaIdentifierSea AS K12School_LeaIdentifierSea
	, K12School.PriorLeaIdentifierSea AS K12School_PriorLeaIdentifierSea
	, K12School.LeaTypeCode AS K12School_LeaTypeCode
	, K12School.LeaTypeDescription AS K12School_LeaTypeDescription
	, K12School.LeaTypeEdFactsCode AS K12School_LeaTypeEdFactsCode
	, K12School.NameOfInstitution AS K12School_NameOfInstitution
	, K12School.SchoolIdentifierNces AS K12School_SchoolIdentifierNces
	, K12School.SchoolIdentifierSea AS K12School_SchoolIdentifierSea
	, K12School.PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea AS K12School_PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, K12School.SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea AS K12School_SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, K12School.OperationalStatusEffectiveDate AS K12School_OperationalStatusEffectiveDate
	, K12School.PriorSchoolIdentifierSea AS K12School_PriorSchoolIdentifierSea
	, K12School.CharterSchoolIndicator AS K12School_CharterSchoolIndicator
	, K12School.CharterSchoolContractIdNumber AS K12School_CharterSchoolContractIdNumber
	, K12School.CharterSchoolContractApprovalDate AS K12School_CharterSchoolContractApprovalDate
	, K12School.CharterSchoolContractRenewalDate AS K12School_CharterSchoolContractRenewalDate
	, K12School.ReportedFederally AS K12School_ReportedFederally
	, K12School.SchoolTypeCode AS K12School_SchoolTypeCode
	, K12School.SchoolTypeDescription AS K12School_SchoolTypeDescription
	, K12School.SchoolTypeEdFactsCode AS K12School_SchoolTypeEdFactsCode
	, K12School.MailingAddressStreetNumberAndName AS K12School_MailingAddressStreetNumberAndName
	, K12School.MailingAddressApartmentRoomOrSuiteNumber AS K12School_MailingAddressApartmentRoomOrSuiteNumber
	, K12School.MailingAddressCity AS K12School_MailingAddressCity
	, K12School.MailingAddressPostalCode AS K12School_MailingAddressPostalCode
	, K12School.MailingAddressStateAbbreviation AS K12School_MailingAddressStateAbbreviation
	, K12School.MailingAddressCountyAnsiCode AS K12School_MailingAddressCountyAnsiCode
	, K12School.PhysicalAddressStreetNumberAndName AS K12School_PhysicalAddressStreetNumberAndName
	, K12School.PhysicalAddressApartmentRoomOrSuiteNumber AS K12School_PhysicalAddressApartmentRoomOrSuiteNumber
	, K12School.PhysicalAddressCity AS K12School_PhysicalAddressCity
	, K12School.PhysicalAddressPostalCode AS K12School_PhysicalAddressPostalCode
	, K12School.PhysicalAddressStateAbbreviation AS K12School_PhysicalAddressStateAbbreviation
	, K12School.PhysicalAddressCountyAnsiCode AS K12School_PhysicalAddressCountyAnsiCode
	, K12School.Longitude AS K12School_Longitude
	, K12School.Latitude AS K12School_Latitude
	, K12School.TelephoneNumber AS K12School_TelephoneNumber
	, K12School.WebSiteAddress AS K12School_WebSiteAddress
	, K12School.OutOfStateIndicator AS K12School_OutOfStateIndicator
	, K12School.SchoolOperationalStatus AS K12School_SchoolOperationalStatus
	, K12School.SchoolOperationalStatusEdFactsCode AS K12School_SchoolOperationalStatusEdFactsCode
	, K12School.SchoolOperationalStatusEffectiveDate AS K12School_SchoolOperationalStatusEffectiveDate
	, K12School.CharterSchoolStatus AS K12School_CharterSchoolStatus
	, K12School.ReconstitutedStatus AS K12School_ReconstitutedStatus
	, K12School.AdministrativeFundingControlCode AS K12School_AdministrativeFundingControlCode
	, K12School.AdministrativeFundingControlDescription AS K12School_AdministrativeFundingControlDescription
	, K12School.RecordStartDateTime AS K12School_RecordStartDateTime
	, K12School.RecordEndDateTime AS K12School_RecordEndDateTime
	, CharterSchoolAuthorizer.IsApproverAgency AS CharterSchoolAuthorizer_IsApproverAgency
	, CharterSchoolAuthorizer.CharterSchoolAuthorizingOrganizationIdentifierSea AS CharterSchoolAuthorizer_CharterSchoolAuthorizingOrganizationIdentifierSea
	, CharterSchoolAuthorizer.StateAbbreviationDescription AS CharterSchoolAuthorizer_StateAbbreviationDescription
	, CharterSchoolAuthorizer.StateAbbreviationCode AS CharterSchoolAuthorizer_StateAbbreviationCode
	, CharterSchoolAuthorizer.CharterSchoolAuthorizingOrganizationName AS CharterSchoolAuthorizer_CharterSchoolAuthorizingOrganizationName
	, CharterSchoolAuthorizer.StateANSICode AS CharterSchoolAuthorizer_StateANSICode
	, CharterSchoolAuthorizer.LeaTypeCode AS CharterSchoolAuthorizer_LeaTypeCode
	, CharterSchoolAuthorizer.LeaTypeDescription AS CharterSchoolAuthorizer_LeaTypeDescription
	, CharterSchoolAuthorizer.LeaTypeEdFactsCode AS CharterSchoolAuthorizer_LeaTypeEdFactsCode
	, CharterSchoolAuthorizer.MailingAddressStreetNumberAndName AS CharterSchoolAuthorizer_MailingAddressStreetNumberAndName
	, CharterSchoolAuthorizer.MailingAddressApartmentRoomOrSuiteNumber AS CharterSchoolAuthorizer_MailingAddressApartmentRoomOrSuiteNumber
	, CharterSchoolAuthorizer.MailingAddressCity AS CharterSchoolAuthorizer_MailingAddressCity
	, CharterSchoolAuthorizer.MailingAddressPostalCode AS CharterSchoolAuthorizer_MailingAddressPostalCode
	, CharterSchoolAuthorizer.MailingAddressStateAbbreviation AS CharterSchoolAuthorizer_MailingAddressStateAbbreviation
	, CharterSchoolAuthorizer.MailingAddressCountyAnsiCode AS CharterSchoolAuthorizer_MailingAddressCountyAnsiCode
	, CharterSchoolAuthorizer.PhysicalAddressStreetNumberAndName AS CharterSchoolAuthorizer_PhysicalAddressStreetNumberAndName
	, CharterSchoolAuthorizer.PhysicalAddressApartmentRoomOrSuiteNumber AS CharterSchoolAuthorizer_PhysicalAddressApartmentRoomOrSuiteNumber
	, CharterSchoolAuthorizer.PhysicalAddressCity AS CharterSchoolAuthorizer_PhysicalAddressCity
	, CharterSchoolAuthorizer.PhysicalAddressPostalCode AS CharterSchoolAuthorizer_PhysicalAddressPostalCode
	, CharterSchoolAuthorizer.PhysicalAddressStateAbbreviation AS CharterSchoolAuthorizer_PhysicalAddressStateAbbreviation
	, CharterSchoolAuthorizer.PhysicalAddressCountyAnsiCode AS CharterSchoolAuthorizer_PhysicalAddressCountyAnsiCode
	, CharterSchoolAuthorizer.TelephoneNumber AS CharterSchoolAuthorizer_TelephoneNumber
	, CharterSchoolAuthorizer.WebSiteAddress AS CharterSchoolAuthorizer_WebSiteAddress
	, CharterSchoolAuthorizer.OutOfStateIndicator AS CharterSchoolAuthorizer_OutOfStateIndicator
	, CharterSchoolAuthorizer.RecordStartDateTime AS CharterSchoolAuthorizer_RecordStartDateTime
	, CharterSchoolAuthorizer.RecordEndDateTime AS CharterSchoolAuthorizer_RecordEndDateTime
	, CharterSchoolManagementOrganization.CharterSchoolManagementOrganizationName AS CharterSchoolManagementOrganization_CharterSchoolManagementOrganizationName
	, CharterSchoolManagementOrganization.CharterSchoolManagementOrganizationIdentifierSea AS CharterSchoolManagementOrganization_CharterSchoolManagementOrganizationIdentifierSea
	, CharterSchoolManagementOrganization.StateAbbreviationDescription AS CharterSchoolManagementOrganization_StateAbbreviationDescription
	, CharterSchoolManagementOrganization.StateAbbreviationCode AS CharterSchoolManagementOrganization_StateAbbreviationCode
	, CharterSchoolManagementOrganization.StateANSICode AS CharterSchoolManagementOrganization_StateANSICode
	, CharterSchoolManagementOrganization.CharterSchoolManagementOrganizationTypeCode AS CharterSchoolManagementOrganization_CharterSchoolManagementOrganizationTypeCode
	, CharterSchoolManagementOrganization.CharterSchoolManagementOrganizationTypeDescription AS CharterSchoolManagementOrganization_CharterSchoolManagementOrganizationTypeDescription
	, CharterSchoolManagementOrganization.CharterSchoolManagementOrganizationTypeEdfactsCode AS CharterSchoolManagementOrganization_CharterSchoolManagementOrganizationTypeEdfactsCode
	, CharterSchoolManagementOrganization.MailingAddressCity AS CharterSchoolManagementOrganization_MailingAddressCity
	, CharterSchoolManagementOrganization.MailingAddressPostalCode AS CharterSchoolManagementOrganization_MailingAddressPostalCode
	, CharterSchoolManagementOrganization.MailingAddressStateAbbreviation AS CharterSchoolManagementOrganization_MailingAddressStateAbbreviation
	, CharterSchoolManagementOrganization.MailingAddressStreetNumberAndName AS CharterSchoolManagementOrganization_MailingAddressStreetNumberAndName
	, CharterSchoolManagementOrganization.PhysicalAddressCity AS CharterSchoolManagementOrganization_PhysicalAddressCity
	, CharterSchoolManagementOrganization.PhysicalAddressPostalCode AS CharterSchoolManagementOrganization_PhysicalAddressPostalCode
	, CharterSchoolManagementOrganization.PhysicalAddressStateAbbreviation AS CharterSchoolManagementOrganization_PhysicalAddressStateAbbreviation
	, CharterSchoolManagementOrganization.PhysicalAddressStreetNumberAndName AS CharterSchoolManagementOrganization_PhysicalAddressStreetNumberAndName
	, CharterSchoolManagementOrganization.TelephoneNumber AS CharterSchoolManagementOrganization_TelephoneNumber
	, CharterSchoolManagementOrganization.WebSiteAddress AS CharterSchoolManagementOrganization_WebSiteAddress
	, CharterSchoolManagementOrganization.OutOfStateIndicator AS CharterSchoolManagementOrganization_OutOfStateIndicator
	, CharterSchoolManagementOrganization.RecordStartDateTime AS CharterSchoolManagementOrganization_RecordStartDateTime
	, CharterSchoolManagementOrganization.RecordEndDateTime AS CharterSchoolManagementOrganization_RecordEndDateTime
	, CharterSchoolManagementOrganization.SchoolIdentifierSea AS CharterSchoolManagementOrganization_SchoolIdentifierSea
	, CharterSchoolManagementOrganization.OrganizationIdentifierFederalEmployerIdentificationNumber AS CharterSchoolManagementOrganization_OrganizationIdentifierFederalEmployerIdentificationNumber
	, CharterSchoolSecondaryAuthorizer.IsApproverAgency AS CharterSchoolSecondaryAuthorizer_IsApproverAgency
	, CharterSchoolSecondaryAuthorizer.CharterSchoolAuthorizingOrganizationIdentifierSea AS CharterSchoolSecondaryAuthorizer_CharterSchoolAuthorizingOrganizationIdentifierSea
	, CharterSchoolSecondaryAuthorizer.StateAbbreviationDescription AS CharterSchoolSecondaryAuthorizer_StateAbbreviationDescription
	, CharterSchoolSecondaryAuthorizer.StateAbbreviationCode AS CharterSchoolSecondaryAuthorizer_StateAbbreviationCode
	, CharterSchoolSecondaryAuthorizer.CharterSchoolAuthorizingOrganizationName AS CharterSchoolSecondaryAuthorizer_CharterSchoolAuthorizingOrganizationName
	, CharterSchoolSecondaryAuthorizer.StateANSICode AS CharterSchoolSecondaryAuthorizer_StateANSICode
	, CharterSchoolSecondaryAuthorizer.LeaTypeCode AS CharterSchoolSecondaryAuthorizer_LeaTypeCode
	, CharterSchoolSecondaryAuthorizer.LeaTypeDescription AS CharterSchoolSecondaryAuthorizer_LeaTypeDescription
	, CharterSchoolSecondaryAuthorizer.LeaTypeEdFactsCode AS CharterSchoolSecondaryAuthorizer_LeaTypeEdFactsCode
	, CharterSchoolSecondaryAuthorizer.MailingAddressStreetNumberAndName AS CharterSchoolSecondaryAuthorizer_MailingAddressStreetNumberAndName
	, CharterSchoolSecondaryAuthorizer.MailingAddressApartmentRoomOrSuiteNumber AS CharterSchoolSecondaryAuthorizer_MailingAddressApartmentRoomOrSuiteNumber
	, CharterSchoolSecondaryAuthorizer.MailingAddressCity AS CharterSchoolSecondaryAuthorizer_MailingAddressCity
	, CharterSchoolSecondaryAuthorizer.MailingAddressPostalCode AS CharterSchoolSecondaryAuthorizer_MailingAddressPostalCode
	, CharterSchoolSecondaryAuthorizer.MailingAddressStateAbbreviation AS CharterSchoolSecondaryAuthorizer_MailingAddressStateAbbreviation
	, CharterSchoolSecondaryAuthorizer.MailingAddressCountyAnsiCode AS CharterSchoolSecondaryAuthorizer_MailingAddressCountyAnsiCode
	, CharterSchoolSecondaryAuthorizer.PhysicalAddressStreetNumberAndName AS CharterSchoolSecondaryAuthorizer_PhysicalAddressStreetNumberAndName
	, CharterSchoolSecondaryAuthorizer.PhysicalAddressApartmentRoomOrSuiteNumber AS CharterSchoolSecondaryAuthorizer_PhysicalAddressApartmentRoomOrSuiteNumber
	, CharterSchoolSecondaryAuthorizer.PhysicalAddressCity AS CharterSchoolSecondaryAuthorizer_PhysicalAddressCity
	, CharterSchoolSecondaryAuthorizer.PhysicalAddressPostalCode AS CharterSchoolSecondaryAuthorizer_PhysicalAddressPostalCode
	, CharterSchoolSecondaryAuthorizer.PhysicalAddressStateAbbreviation AS CharterSchoolSecondaryAuthorizer_PhysicalAddressStateAbbreviation
	, CharterSchoolSecondaryAuthorizer.PhysicalAddressCountyAnsiCode AS CharterSchoolSecondaryAuthorizer_PhysicalAddressCountyAnsiCode
	, CharterSchoolSecondaryAuthorizer.TelephoneNumber AS CharterSchoolSecondaryAuthorizer_TelephoneNumber
	, CharterSchoolSecondaryAuthorizer.WebSiteAddress AS CharterSchoolSecondaryAuthorizer_WebSiteAddress
	, CharterSchoolSecondaryAuthorizer.OutOfStateIndicator AS CharterSchoolSecondaryAuthorizer_OutOfStateIndicator
	, CharterSchoolSecondaryAuthorizer.RecordStartDateTime AS CharterSchoolSecondaryAuthorizer_RecordStartDateTime
	, CharterSchoolSecondaryAuthorizer.RecordEndDateTime AS CharterSchoolSecondaryAuthorizer_RecordEndDateTime
	, CharterSchoolStatus.AppropriationMethodCode AS CharterSchoolStatus_AppropriationMethodCode
	, CharterSchoolStatus.AppropriationMethodDescription AS CharterSchoolStatus_AppropriationMethodDescription
	, CharterSchoolStatus.AppropriationMethodEdFactsCode AS CharterSchoolStatus_AppropriationMethodEdFactsCode
	, CharterSchoolUpdatedManagementOrganization.CharterSchoolManagementOrganizationName AS CharterSchoolUpdatedManagementOrganization_CharterSchoolManagementOrganizationName
	, CharterSchoolUpdatedManagementOrganization.CharterSchoolManagementOrganizationIdentifierSea AS CharterSchoolUpdatedManagementOrganization_CharterSchoolManagementOrganizationIdentifierSea
	, CharterSchoolUpdatedManagementOrganization.StateAbbreviationDescription AS CharterSchoolUpdatedManagementOrganization_StateAbbreviationDescription
	, CharterSchoolUpdatedManagementOrganization.StateAbbreviationCode AS CharterSchoolUpdatedManagementOrganization_StateAbbreviationCode
	, CharterSchoolUpdatedManagementOrganization.StateANSICode AS CharterSchoolUpdatedManagementOrganization_StateANSICode
	, CharterSchoolUpdatedManagementOrganization.CharterSchoolManagementOrganizationTypeCode AS CharterSchoolUpdatedManagementOrganization_CharterSchoolManagementOrganizationTypeCode
	, CharterSchoolUpdatedManagementOrganization.CharterSchoolManagementOrganizationTypeDescription AS CharterSchoolUpdatedManagementOrganization_CharterSchoolManagementOrganizationTypeDescription
	, CharterSchoolUpdatedManagementOrganization.CharterSchoolManagementOrganizationTypeEdfactsCode AS CharterSchoolUpdatedManagementOrganization_CharterSchoolManagementOrganizationTypeEdfactsCode
	, CharterSchoolUpdatedManagementOrganization.MailingAddressCity AS CharterSchoolUpdatedManagementOrganization_MailingAddressCity
	, CharterSchoolUpdatedManagementOrganization.MailingAddressPostalCode AS CharterSchoolUpdatedManagementOrganization_MailingAddressPostalCode
	, CharterSchoolUpdatedManagementOrganization.MailingAddressStateAbbreviation AS CharterSchoolUpdatedManagementOrganization_MailingAddressStateAbbreviation
	, CharterSchoolUpdatedManagementOrganization.MailingAddressStreetNumberAndName AS CharterSchoolUpdatedManagementOrganization_MailingAddressStreetNumberAndName
	, CharterSchoolUpdatedManagementOrganization.PhysicalAddressCity AS CharterSchoolUpdatedManagementOrganization_PhysicalAddressCity
	, CharterSchoolUpdatedManagementOrganization.PhysicalAddressPostalCode AS CharterSchoolUpdatedManagementOrganization_PhysicalAddressPostalCode
	, CharterSchoolUpdatedManagementOrganization.PhysicalAddressStateAbbreviation AS CharterSchoolUpdatedManagementOrganization_PhysicalAddressStateAbbreviation
	, CharterSchoolUpdatedManagementOrganization.PhysicalAddressStreetNumberAndName AS CharterSchoolUpdatedManagementOrganization_PhysicalAddressStreetNumberAndName
	, CharterSchoolUpdatedManagementOrganization.TelephoneNumber AS CharterSchoolUpdatedManagementOrganization_TelephoneNumber
	, CharterSchoolUpdatedManagementOrganization.WebSiteAddress AS CharterSchoolUpdatedManagementOrganization_WebSiteAddress
	, CharterSchoolUpdatedManagementOrganization.OutOfStateIndicator AS CharterSchoolUpdatedManagementOrganization_OutOfStateIndicator
	, CharterSchoolUpdatedManagementOrganization.RecordStartDateTime AS CharterSchoolUpdatedManagementOrganization_RecordStartDateTime
	, CharterSchoolUpdatedManagementOrganization.RecordEndDateTime AS CharterSchoolUpdatedManagementOrganization_RecordEndDateTime
	, CharterSchoolUpdatedManagementOrganization.SchoolIdentifierSea AS CharterSchoolUpdatedManagementOrganization_SchoolIdentifierSea
	, CharterSchoolUpdatedManagementOrganization.OrganizationIdentifierFederalEmployerIdentificationNumber AS CharterSchoolUpdatedManagementOrganization_OrganizationIdentifierFederalEmployerIdentificationNumber
	, ComprehensiveAndTargetedSupport.ComprehensiveAndTargetedSupportCode AS ComprehensiveAndTargetedSupport_ComprehensiveAndTargetedSupportCode
	, ComprehensiveAndTargetedSupport.ComprehensiveAndTargetedSupportDescription AS ComprehensiveAndTargetedSupport_ComprehensiveAndTargetedSupportDescription
	, ComprehensiveAndTargetedSupport.ComprehensiveAndTargetedSupportEdFactsCode AS ComprehensiveAndTargetedSupport_ComprehensiveAndTargetedSupportEdFactsCode
	, ComprehensiveAndTargetedSupport.ComprehensiveSupportCode AS ComprehensiveAndTargetedSupport_ComprehensiveSupportCode
	, ComprehensiveAndTargetedSupport.ComprehensiveSupportDescription AS ComprehensiveAndTargetedSupport_ComprehensiveSupportDescription
	, ComprehensiveAndTargetedSupport.ComprehensiveSupportEdFactsCode AS ComprehensiveAndTargetedSupport_ComprehensiveSupportEdFactsCode
	, ComprehensiveAndTargetedSupport.TargetedSupportCode AS ComprehensiveAndTargetedSupport_TargetedSupportCode
	, ComprehensiveAndTargetedSupport.TargetedSupportDescription AS ComprehensiveAndTargetedSupport_TargetedSupportDescription
	, ComprehensiveAndTargetedSupport.TargetedSupportEdFactsCode AS ComprehensiveAndTargetedSupport_TargetedSupportEdFactsCode
	, ComprehensiveAndTargetedSupport.AdditionalTargetedSupportAndImprovementStatusCode AS ComprehensiveAndTargetedSupport_AdditionalTargetedSupportAndImprovementStatusCode
	, ComprehensiveAndTargetedSupport.AdditionalTargetedSupportAndImprovementStatusDescription AS ComprehensiveAndTargetedSupport_AdditionalTargetedSupportAndImprovementStatusDescription
	, ComprehensiveAndTargetedSupport.AdditionalTargetedSupportAndImprovementStatusEDFactsCode AS ComprehensiveAndTargetedSupport_AdditionalTargetedSupportAndImprovementStatusEDFactsCode
	, ComprehensiveAndTargetedSupport.ComprehensiveSupportAndImprovementStatusCode AS ComprehensiveAndTargetedSupport_ComprehensiveSupportAndImprovementStatusCode
	, ComprehensiveAndTargetedSupport.ComprehensiveSupportAndImprovementStatusDescription AS ComprehensiveAndTargetedSupport_ComprehensiveSupportAndImprovementStatusDescription
	, ComprehensiveAndTargetedSupport.ComprehensiveSupportAndImprovementStatusEdFactsCode AS ComprehensiveAndTargetedSupport_ComprehensiveSupportAndImprovementStatusEdFactsCode
	, ComprehensiveAndTargetedSupport.TargetedSupportAndImprovementStatusCode AS ComprehensiveAndTargetedSupport_TargetedSupportAndImprovementStatusCode
	, ComprehensiveAndTargetedSupport.TargetedSupportAndImprovementStatusDescription AS ComprehensiveAndTargetedSupport_TargetedSupportAndImprovementStatusDescription
	, ComprehensiveAndTargetedSupport.TargetedSupportAndImprovementStatusEdFactsCode AS ComprehensiveAndTargetedSupport_TargetedSupportAndImprovementStatusEdFactsCode
	, ComprehensiveSupportReasonApplicability.ComprehensiveSupportReasonApplicabilityCode AS ComprehensiveSupportReasonApplicability_ComprehensiveSupportReasonApplicabilityCode
	, ComprehensiveSupportReasonApplicability.ComprehensiveSupportReasonApplicabilityDescription AS ComprehensiveSupportReasonApplicability_ComprehensiveSupportReasonApplicabilityDescription
	, ComprehensiveSupportReasonApplicability.ComprehensiveSupportReasonApplicabilityEdFactsCode AS ComprehensiveSupportReasonApplicability_ComprehensiveSupportReasonApplicabilityEdFactsCode
	, K12OrganizationStatus.ReapAlternativeFundingStatusCode AS K12OrganizationStatus_ReapAlternativeFundingStatusCode
	, K12OrganizationStatus.ReapAlternativeFundingStatusDescription AS K12OrganizationStatus_ReapAlternativeFundingStatusDescription
	, K12OrganizationStatus.ReapAlternativeFundingStatusEdFactsCode AS K12OrganizationStatus_ReapAlternativeFundingStatusEdFactsCode
	, K12OrganizationStatus.GunFreeSchoolsActReportingStatusCode AS K12OrganizationStatus_GunFreeSchoolsActReportingStatusCode
	, K12OrganizationStatus.GunFreeSchoolsActReportingStatusDescription AS K12OrganizationStatus_GunFreeSchoolsActReportingStatusDescription
	, K12OrganizationStatus.GunFreeSchoolsActReportingStatusEdFactsCode AS K12OrganizationStatus_GunFreeSchoolsActReportingStatusEdFactsCode
	, K12OrganizationStatus.HighSchoolGraduationRateIndicatorStatusCode AS K12OrganizationStatus_HighSchoolGraduationRateIndicatorStatusCode
	, K12OrganizationStatus.HighSchoolGraduationRateIndicatorStatusDescription AS K12OrganizationStatus_HighSchoolGraduationRateIndicatorStatusDescription
	, K12OrganizationStatus.HighSchoolGraduationRateIndicatorStatusEdFactsCode AS K12OrganizationStatus_HighSchoolGraduationRateIndicatorStatusEdFactsCode
	, K12OrganizationStatus.McKinneyVentoSubgrantRecipientCode AS K12OrganizationStatus_McKinneyVentoSubgrantRecipientCode
	, K12OrganizationStatus.McKinneyVentoSubgrantRecipientDescription AS K12OrganizationStatus_McKinneyVentoSubgrantRecipientDescription
	, K12OrganizationStatus.McKinneyVentoSubgrantRecipientEdFactsCode AS K12OrganizationStatus_McKinneyVentoSubgrantRecipientEdFactsCode
	, K12SchoolStatus.MagnetOrSpecialProgramEmphasisSchoolCode AS K12SchoolStatus_MagnetOrSpecialProgramEmphasisSchoolCode
	, K12SchoolStatus.MagnetOrSpecialProgramEmphasisSchoolDescription AS K12SchoolStatus_MagnetOrSpecialProgramEmphasisSchoolDescription
	, K12SchoolStatus.MagnetOrSpecialProgramEmphasisSchoolEdFactsCode AS K12SchoolStatus_MagnetOrSpecialProgramEmphasisSchoolEdFactsCode
	, K12SchoolStatus.NslpStatusCode AS K12SchoolStatus_NslpStatusCode
	, K12SchoolStatus.NslpStatusDescription AS K12SchoolStatus_NslpStatusDescription
	, K12SchoolStatus.NslpStatusEdFactsCode AS K12SchoolStatus_NslpStatusEdFactsCode
	, K12SchoolStatus.SharedTimeIndicatorCode AS K12SchoolStatus_SharedTimeIndicatorCode
	, K12SchoolStatus.SharedTimeIndicatorDescription AS K12SchoolStatus_SharedTimeIndicatorDescription
	, K12SchoolStatus.SharedTimeIndicatorEdFactsCode AS K12SchoolStatus_SharedTimeIndicatorEdFactsCode
	, K12SchoolStatus.VirtualSchoolStatusCode AS K12SchoolStatus_VirtualSchoolStatusCode
	, K12SchoolStatus.VirtualSchoolStatusDescription AS K12SchoolStatus_VirtualSchoolStatusDescription
	, K12SchoolStatus.VirtualSchoolStatusEdFactsCode AS K12SchoolStatus_VirtualSchoolStatusEdFactsCode
	, K12SchoolStatus.SchoolImprovementStatusCode AS K12SchoolStatus_SchoolImprovementStatusCode
	, K12SchoolStatus.SchoolImprovementStatusDescription AS K12SchoolStatus_SchoolImprovementStatusDescription
	, K12SchoolStatus.SchoolImprovementStatusEdFactsCode AS K12SchoolStatus_SchoolImprovementStatusEdFactsCode
	, K12SchoolStatus.PersistentlyDangerousStatusCode AS K12SchoolStatus_PersistentlyDangerousStatusCode
	, K12SchoolStatus.PersistentlyDangerousStatusDescription AS K12SchoolStatus_PersistentlyDangerousStatusDescription
	, K12SchoolStatus.PersistentlyDangerousStatusEdFactsCode AS K12SchoolStatus_PersistentlyDangerousStatusEdFactsCode
	, K12SchoolStatus.StatePovertyDesignationCode AS K12SchoolStatus_StatePovertyDesignationCode
	, K12SchoolStatus.StatePovertyDesignationDescription AS K12SchoolStatus_StatePovertyDesignationDescription
	, K12SchoolStatus.StatePovertyDesignationEdFactsCode AS K12SchoolStatus_StatePovertyDesignationEdFactsCode
	, K12SchoolStatus.ProgressAchievingEnglishLanguageProficiencyIndicatorTypeCode AS K12SchoolStatus_ProgressAchievingEnglishLanguageProficiencyIndicatorTypeCode
	, K12SchoolStatus.ProgressAchievingEnglishLanguageProficiencyIndicatorTypeDescription AS K12SchoolStatus_ProgressAchievingEnglishLanguageProficiencyIndicatorTypeDescription
	, K12SchoolStatus.ProgressAchievingEnglishLanguageProficiencyIndicatorTypeEdFactsCode AS K12SchoolStatus_ProgressAchievingEnglishLanguageProficiencyIndicatorTypeEdFactsCode
	, K12SchoolStatus.ConsolidatedMepFundsStatusCode AS K12SchoolStatus_ConsolidatedMepFundsStatusCode
	, K12SchoolStatus.ConsolidatedMepFundsStatusDescription AS K12SchoolStatus_ConsolidatedMepFundsStatusDescription
	, K12SchoolStatus.ConsolidatedMepFundsStatusEdFactsCode AS K12SchoolStatus_ConsolidatedMepFundsStatusEdFactsCode
	, K12SchoolStateStatus.SchoolStateStatusCode AS K12SchoolStateStatus_SchoolStateStatusCode
	, K12SchoolStateStatus.SchoolStateStatusDescription AS K12SchoolStateStatus_SchoolStateStatusDescription
	, K12SchoolStateStatus.SchoolStateStatusEdFactsCode AS K12SchoolStateStatus_SchoolStateStatusEdFactsCode
	, Subgroup.SubgroupCode AS Subgroup_SubgroupCode
	, Subgroup.SubgroupDescription AS Subgroup_SubgroupDescription
	, Subgroup.SubgroupEdFactsCode AS Subgroup_SubgroupEdFactsCode
	, TitleIStatus.TitleIInstructionalServicesCode AS TitleIStatus_TitleIInstructionalServicesCode
	, TitleIStatus.TitleIInstructionalServicesDescription AS TitleIStatus_TitleIInstructionalServicesDescription
	, TitleIStatus.TitleIInstructionalServicesEdFactsCode AS TitleIStatus_TitleIInstructionalServicesEdFactsCode
	, TitleIStatus.TitleIProgramTypeCode AS TitleIStatus_TitleIProgramTypeCode
	, TitleIStatus.TitleIProgramTypeDescription AS TitleIStatus_TitleIProgramTypeDescription
	, TitleIStatus.TitleIProgramTypeEdFactsCode AS TitleIStatus_TitleIProgramTypeEdFactsCode
	, TitleIStatus.TitleISchoolStatusCode AS TitleIStatus_TitleISchoolStatusCode
	, TitleIStatus.TitleISchoolStatusDescription AS TitleIStatus_TitleISchoolStatusDescription
	, TitleIStatus.TitleISchoolStatusEdFactsCode AS TitleIStatus_TitleISchoolStatusEdFactsCode
	, TitleIStatus.TitleISupportServicesCode AS TitleIStatus_TitleISupportServicesCode
	, TitleIStatus.TitleISupportServicesDescription AS TitleIStatus_TitleISupportServicesDescription
	, TitleIStatus.TitleISupportServicesEdFactsCode AS TitleIStatus_TitleISupportServicesEdFactsCode
	, fact.FederalProgramCode
	, fact.FederalProgramsFundingAllocationType
	, fact.FederalProgramsFundingAllocation
	, fact.SchoolImprovementFunds
	, fact.TitleIParentalInvolveRes
	, fact.TitleIPartAAllocations
	, fact.OrganizationCount
FROM RDS.FactOrganizationCounts fact
JOIN RDS.DimSchoolYears SchoolYear
	ON Fact.SchoolYearId = SchoolYear.DimSchoolYearId
JOIN RDS.DimFactTypes FactType
	ON Fact.FactTypeId = FactType.DimFactTypeId
JOIN RDS.DimSeas Sea
	ON Fact.SeaId = Sea.DimSeaId
JOIN RDS.DimLeas Lea
	ON Fact.LeaId = Lea.DimLeaID
JOIN RDS.DimPeople K12Staff
	ON Fact.K12StaffId = K12Staff.DimPersonId
JOIN RDS.DimK12Schools K12School
	ON Fact.K12SchoolId = K12School.DimK12SchoolId
JOIN RDS.DimCharterSchoolAuthorizers CharterSchoolAuthorizer
	ON Fact.CharterSchoolAuthorizerId = CharterSchoolAuthorizer.DimCharterSchoolAuthorizerId
JOIN RDS.DimCharterSchoolManagementOrganizations CharterSchoolManagementOrganization
	ON Fact.CharterSchoolManagementOrganizationId = CharterSchoolManagementOrganization.DimCharterSchoolManagementOrganizationId
JOIN RDS.DimCharterSchoolAuthorizers CharterSchoolSecondaryAuthorizer
	ON Fact.CharterSchoolSecondaryAuthorizerId = CharterSchoolSecondaryAuthorizer.DimCharterSchoolAuthorizerId
JOIN RDS.DimCharterSchoolStatuses CharterSchoolStatus
	ON Fact.CharterSchoolStatusId = CharterSchoolStatus.DimCharterSchoolStatusId
JOIN RDS.DimCharterSchoolManagementOrganizations CharterSchoolUpdatedManagementOrganization
	ON Fact.CharterSchoolUpdatedManagementOrganizationId = CharterSchoolUpdatedManagementOrganization.DimCharterSchoolManagementOrganizationId
JOIN RDS.DimComprehensiveAndTargetedSupports ComprehensiveAndTargetedSupport
	ON Fact.ComprehensiveAndTargetedSupportId = ComprehensiveAndTargetedSupport.DimComprehensiveAndTargetedSupportId
JOIN RDS.DimComprehensiveSupportReasonApplicabilities ComprehensiveSupportReasonApplicability
	ON Fact.ComprehensiveSupportReasonApplicabilityId = ComprehensiveSupportReasonApplicability.DimComprehensiveSupportReasonApplicabilityId
JOIN RDS.DimK12OrganizationStatuses K12OrganizationStatus
	ON Fact.K12OrganizationStatusId = K12OrganizationStatus.DimK12OrganizationStatusId
JOIN RDS.DimK12SchoolStatuses K12SchoolStatus
	ON Fact.K12SchoolStatusId = K12SchoolStatus.DimK12SchoolStatusId
JOIN RDS.DimK12SchoolStateStatuses K12SchoolStateStatus
	ON Fact.K12SchoolStateStatusId = K12SchoolStateStatus.DimK12SchoolStateStatusId
JOIN RDS.DimSubgroups Subgroup
	ON Fact.SubgroupId = Subgroup.DimSubgroupId
JOIN RDS.DimTitleIStatuses TitleIStatus
	ON Fact.TitleIStatusId = TitleIStatus.DimTitleIStatusId
GO
