USE [CEDS-Data-Warehouse-V9-2-0-0]
GO
/****** Object:  View [dbo].[vwFactK12StudentEnrollmentsParquet]    Script Date: 5/2/2022 3:48:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vwFactK12StudentEnrollmentsParquet] AS SELECT fact.FactK12StudentEnrollmentId
	, SchoolYear.SchoolYear AS SchoolYear_SchoolYear
	, SchoolYear.SessionBeginDate AS SchoolYear_SessionBeginDate
	, SchoolYear.SessionEndDate AS SchoolYear_SessionEndDate
	, CountDate.DateValue AS CountDate_DateValue
	, CountDate.Day AS CountDate_Day
	, CountDate.DayOfWeek AS CountDate_DayOfWeek
	, CountDate.DayOfYear AS CountDate_DayOfYear
	, CountDate.Month AS CountDate_Month
	, CountDate.MonthName AS CountDate_MonthName
	, CountDate.SubmissionYear AS CountDate_SubmissionYear
	, CountDate.Year AS CountDate_Year
	, DataCollection.SourceSystemDataCollectionIdentifier AS DataCollection_SourceSystemDataCollectionIdentifier
	, DataCollection.SourceSystemName AS DataCollection_SourceSystemName
	, DataCollection.DataCollectionName AS DataCollection_DataCollectionName
	, DataCollection.DataCollectionDescription AS DataCollection_DataCollectionDescription
	, DataCollection.DataCollectionOpenDate AS DataCollection_DataCollectionOpenDate
	, DataCollection.DataCollectionCloseDate AS DataCollection_DataCollectionCloseDate
	, DataCollection.DataCollectionAcademicSchoolYear AS DataCollection_DataCollectionAcademicSchoolYear
	, DataCollection.DataCollectionSchoolYear AS DataCollection_DataCollectionSchoolYear
	, Sea.SeaOrganizationName AS Sea_SeaOrganizationName
	, Sea.SeaIdentifierSea AS Sea_SeaIdentifierSea
	, Sea.StateAnsiCode AS Sea_StateAnsiCode
	, Sea.StateAbbreviationCode AS Sea_StateAbbreviationCode
	, Sea.StateAbbreviationDescription AS Sea_StateAbbreviationDescription
	, Sea.MailingAddressStreetNumberAndName AS Sea_MailingAddressStreetNumberAndName
	, Sea.MailingAddressApartmentRoomOrSuiteNumber AS Sea_MailingAddressApartmentRoomOrSuiteNumber
	, Sea.MailingAddressCity AS Sea_MailingAddressCity
	, Sea.MailingAddressPostalCode AS Sea_MailingAddressPostalCode
	, Sea.MailingAddressStateAbbreviation AS Sea_MailingAddressStateAbbreviation
	, Sea.MailingAddressCountyAnsiCode AS Sea_MailingAddressCountyAnsiCode
	, Sea.PhysicalAddressStreetNumberAndName AS Sea_PhysicalAddressStreetNumberAndName
	, Sea.PhysicalAddressApartmentRoomOrSuiteNumber AS Sea_PhysicalAddressApartmentRoomOrSuiteNumber
	, Sea.PhysicalAddressCity AS Sea_PhysicalAddressCity
	, Sea.PhysicalAddressPostalCode AS Sea_PhysicalAddressPostalCode
	, Sea.PhysicalAddressStateAbbreviation AS Sea_PhysicalAddressStateAbbreviation
	, Sea.PhysicalAddressCountyAnsiCode AS Sea_PhysicalAddressCountyAnsiCode
	, Sea.TelephoneNumber AS Sea_TelephoneNumber
	, Sea.WebSiteAddress AS Sea_WebSiteAddress
	, Sea.CteGraduationRateInclusionCode AS Sea_CteGraduationRateInclusionCode
	, Sea.CteGraduationRateInclusionDescription AS Sea_CteGraduationRateInclusionDescription
	, Sea.CteGraduationRateInclusionEdFactsCode AS Sea_CteGraduationRateInclusionEdFactsCode
	, Sea.RecordStartDateTime AS Sea_RecordStartDateTime
	, Sea.RecordEndDateTime AS Sea_RecordEndDateTime
	, Ieu.IeuOrganizationName AS Ieu_IeuOrganizationName
	, Ieu.IeuOrganizationIdentifierSea AS Ieu_IeuOrganizationIdentifierSea
	, Ieu.SeaOrganizationName AS Ieu_SeaOrganizationName
	, Ieu.SeaIdentifierSea AS Ieu_SeaIdentifierSea
	, Ieu.StateANSICode AS Ieu_StateANSICode
	, Ieu.StateAbbreviationCode AS Ieu_StateAbbreviationCode
	, Ieu.StateAbbreviationDescription AS Ieu_StateAbbreviationDescription
	, Ieu.MailingAddressStreetNumberAndName AS Ieu_MailingAddressStreetNumberAndName
	, Ieu.MailingAddressApartmentRoomOrSuiteNumber AS Ieu_MailingAddressApartmentRoomOrSuiteNumber
	, Ieu.MailingAddressCity AS Ieu_MailingAddressCity
	, Ieu.MailingAddressStateAbbreviation AS Ieu_MailingAddressStateAbbreviation
	, Ieu.MailingAddressPostalCode AS Ieu_MailingAddressPostalCode
	, Ieu.MailingAddressCountyAnsiCode AS Ieu_MailingAddressCountyAnsiCode
	, Ieu.OutOfStateIndicator AS Ieu_OutOfStateIndicator
	, Ieu.OrganizationOperationalStatus AS Ieu_OrganizationOperationalStatus
	, Ieu.OperationalStatusEffectiveDate AS Ieu_OperationalStatusEffectiveDate
	, Ieu.PhysicalAddressStreetNumberAndName AS Ieu_PhysicalAddressStreetNumberAndName
	, Ieu.PhysicalAddressApartmentRoomOrSuiteNumber AS Ieu_PhysicalAddressApartmentRoomOrSuiteNumber
	, Ieu.PhysicalAddressCity AS Ieu_PhysicalAddressCity
	, Ieu.PhysicalAddressPostalCode AS Ieu_PhysicalAddressPostalCode
	, Ieu.PhysicalAddressStateAbbreviation AS Ieu_PhysicalAddressStateAbbreviation
	, Ieu.PhysicalAddressCountyAnsiCode AS Ieu_PhysicalAddressCountyAnsiCode
	, Ieu.TelephoneNumber AS Ieu_TelephoneNumber
	, Ieu.WebSiteAddress AS Ieu_WebSiteAddress
	, Ieu.OrganizationRegionGeoJson AS Ieu_OrganizationRegionGeoJson
	, Ieu.Latitude AS Ieu_Latitude
	, Ieu.Longitude AS Ieu_Longitude
	, Ieu.RecordStartDateTime AS Ieu_RecordStartDateTime
	, Ieu.RecordEndDateTime AS Ieu_RecordEndDateTime
	, LeaAccountability.IeuOrganizationName AS LeaAccountability_IeuOrganizationName
	, LeaAccountability.IeuOrganizationIdentifierSea AS LeaAccountability_IeuOrganizationIdentifierSea
	, LeaAccountability.StateAnsiCode AS LeaAccountability_StateAnsiCode
	, LeaAccountability.StateAbbreviationCode AS LeaAccountability_StateAbbreviationCode
	, LeaAccountability.StateAbbreviationDescription AS LeaAccountability_StateAbbreviationDescription
	, LeaAccountability.SeaOrganizationName AS LeaAccountability_SeaOrganizationName
	, LeaAccountability.SeaIdentifierSea AS LeaAccountability_SeaIdentifierSea
	, LeaAccountability.LeaName AS LeaAccountability_LeaName
	, LeaAccountability.LeaIdentifierNces AS LeaAccountability_LeaIdentifierNces
	, LeaAccountability.LeaIdentifierSea AS LeaAccountability_LeaIdentifierSea
	, LeaAccountability.PriorLeaIdentifierSea AS LeaAccountability_PriorLeaIdentifierSea
	, LeaAccountability.LeaSupervisoryUnionIdentificationNumber AS LeaAccountability_LeaSupervisoryUnionIdentificationNumber
	, LeaAccountability.ReportedFederally AS LeaAccountability_ReportedFederally
	, LeaAccountability.LeaTypeCode AS LeaAccountability_LeaTypeCode
	, LeaAccountability.LeaTypeDescription AS LeaAccountability_LeaTypeDescription
	, LeaAccountability.LeaTypeEdFactsCode AS LeaAccountability_LeaTypeEdFactsCode
	, LeaAccountability.MailingAddressStreetNumberAndName AS LeaAccountability_MailingAddressStreetNumberAndName
	, LeaAccountability.MailingAddressApartmentRoomOrSuiteNumber AS LeaAccountability_MailingAddressApartmentRoomOrSuiteNumber
	, LeaAccountability.MailingAddressCity AS LeaAccountability_MailingAddressCity
	, LeaAccountability.MailingAddressPostalCode AS LeaAccountability_MailingAddressPostalCode
	, LeaAccountability.MailingAddressStateAbbreviation AS LeaAccountability_MailingAddressStateAbbreviation
	, LeaAccountability.MailingAddressCountyAnsiCode AS LeaAccountability_MailingAddressCountyAnsiCode
	, LeaAccountability.PhysicalAddressStreetNumberAndName AS LeaAccountability_PhysicalAddressStreetNumberAndName
	, LeaAccountability.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaAccountability_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaAccountability.PhysicalAddressCity AS LeaAccountability_PhysicalAddressCity
	, LeaAccountability.PhysicalAddressPostalCode AS LeaAccountability_PhysicalAddressPostalCode
	, LeaAccountability.PhysicalAddressStateAbbreviation AS LeaAccountability_PhysicalAddressStateAbbreviation
	, LeaAccountability.PhysicalAddressCountyAnsiCode AS LeaAccountability_PhysicalAddressCountyAnsiCode
	, LeaAccountability.Longitude AS LeaAccountability_Longitude
	, LeaAccountability.Latitude AS LeaAccountability_Latitude
	, LeaAccountability.TelephoneNumber AS LeaAccountability_TelephoneNumber
	, LeaAccountability.WebSiteAddress AS LeaAccountability_WebSiteAddress
	, LeaAccountability.OutOfStateIndicator AS LeaAccountability_OutOfStateIndicator
	, LeaAccountability.LeaOperationalStatus AS LeaAccountability_LeaOperationalStatus
	, LeaAccountability.LeaOperationalStatusEdFactsCode AS LeaAccountability_LeaOperationalStatusEdFactsCode
	, LeaAccountability.OperationalStatusEffectiveDate AS LeaAccountability_OperationalStatusEffectiveDate
	, LeaAccountability.CharterLeaStatus AS LeaAccountability_CharterLeaStatus
	, LeaAccountability.ReconstitutedStatus AS LeaAccountability_ReconstitutedStatus
	, LeaAccountability.McKinneyVentoSubgrantRecipient AS LeaAccountability_McKinneyVentoSubgrantRecipient
	, LeaAccountability.NameOfInstitution AS LeaAccountability_NameOfInstitution
	, LeaAccountability.EffectiveDate AS LeaAccountability_EffectiveDate
	, LeaAccountability.RecordStartDateTime AS LeaAccountability_RecordStartDateTime
	, LeaAccountability.RecordEndDateTime AS LeaAccountability_RecordEndDateTime
	, LeaAttendance.IeuOrganizationName AS LeaAttendance_IeuOrganizationName
	, LeaAttendance.IeuOrganizationIdentifierSea AS LeaAttendance_IeuOrganizationIdentifierSea
	, LeaAttendance.StateAnsiCode AS LeaAttendance_StateAnsiCode
	, LeaAttendance.StateAbbreviationCode AS LeaAttendance_StateAbbreviationCode
	, LeaAttendance.StateAbbreviationDescription AS LeaAttendance_StateAbbreviationDescription
	, LeaAttendance.SeaOrganizationName AS LeaAttendance_SeaOrganizationName
	, LeaAttendance.SeaIdentifierSea AS LeaAttendance_SeaIdentifierSea
	, LeaAttendance.LeaName AS LeaAttendance_LeaName
	, LeaAttendance.LeaIdentifierNces AS LeaAttendance_LeaIdentifierNces
	, LeaAttendance.LeaIdentifierSea AS LeaAttendance_LeaIdentifierSea
	, LeaAttendance.PriorLeaIdentifierSea AS LeaAttendance_PriorLeaIdentifierSea
	, LeaAttendance.LeaSupervisoryUnionIdentificationNumber AS LeaAttendance_LeaSupervisoryUnionIdentificationNumber
	, LeaAttendance.ReportedFederally AS LeaAttendance_ReportedFederally
	, LeaAttendance.LeaTypeCode AS LeaAttendance_LeaTypeCode
	, LeaAttendance.LeaTypeDescription AS LeaAttendance_LeaTypeDescription
	, LeaAttendance.LeaTypeEdFactsCode AS LeaAttendance_LeaTypeEdFactsCode
	, LeaAttendance.MailingAddressStreetNumberAndName AS LeaAttendance_MailingAddressStreetNumberAndName
	, LeaAttendance.MailingAddressApartmentRoomOrSuiteNumber AS LeaAttendance_MailingAddressApartmentRoomOrSuiteNumber
	, LeaAttendance.MailingAddressCity AS LeaAttendance_MailingAddressCity
	, LeaAttendance.MailingAddressPostalCode AS LeaAttendance_MailingAddressPostalCode
	, LeaAttendance.MailingAddressStateAbbreviation AS LeaAttendance_MailingAddressStateAbbreviation
	, LeaAttendance.MailingAddressCountyAnsiCode AS LeaAttendance_MailingAddressCountyAnsiCode
	, LeaAttendance.PhysicalAddressStreetNumberAndName AS LeaAttendance_PhysicalAddressStreetNumberAndName
	, LeaAttendance.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaAttendance_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaAttendance.PhysicalAddressCity AS LeaAttendance_PhysicalAddressCity
	, LeaAttendance.PhysicalAddressPostalCode AS LeaAttendance_PhysicalAddressPostalCode
	, LeaAttendance.PhysicalAddressStateAbbreviation AS LeaAttendance_PhysicalAddressStateAbbreviation
	, LeaAttendance.PhysicalAddressCountyAnsiCode AS LeaAttendance_PhysicalAddressCountyAnsiCode
	, LeaAttendance.Longitude AS LeaAttendance_Longitude
	, LeaAttendance.Latitude AS LeaAttendance_Latitude
	, LeaAttendance.TelephoneNumber AS LeaAttendance_TelephoneNumber
	, LeaAttendance.WebSiteAddress AS LeaAttendance_WebSiteAddress
	, LeaAttendance.OutOfStateIndicator AS LeaAttendance_OutOfStateIndicator
	, LeaAttendance.LeaOperationalStatus AS LeaAttendance_LeaOperationalStatus
	, LeaAttendance.LeaOperationalStatusEdFactsCode AS LeaAttendance_LeaOperationalStatusEdFactsCode
	, LeaAttendance.OperationalStatusEffectiveDate AS LeaAttendance_OperationalStatusEffectiveDate
	, LeaAttendance.CharterLeaStatus AS LeaAttendance_CharterLeaStatus
	, LeaAttendance.ReconstitutedStatus AS LeaAttendance_ReconstitutedStatus
	, LeaAttendance.McKinneyVentoSubgrantRecipient AS LeaAttendance_McKinneyVentoSubgrantRecipient
	, LeaAttendance.NameOfInstitution AS LeaAttendance_NameOfInstitution
	, LeaAttendance.EffectiveDate AS LeaAttendance_EffectiveDate
	, LeaAttendance.RecordStartDateTime AS LeaAttendance_RecordStartDateTime
	, LeaAttendance.RecordEndDateTime AS LeaAttendance_RecordEndDateTime
	, LeaFunding.IeuOrganizationName AS LeaFunding_IeuOrganizationName
	, LeaFunding.IeuOrganizationIdentifierSea AS LeaFunding_IeuOrganizationIdentifierSea
	, LeaFunding.StateAnsiCode AS LeaFunding_StateAnsiCode
	, LeaFunding.StateAbbreviationCode AS LeaFunding_StateAbbreviationCode
	, LeaFunding.StateAbbreviationDescription AS LeaFunding_StateAbbreviationDescription
	, LeaFunding.SeaOrganizationName AS LeaFunding_SeaOrganizationName
	, LeaFunding.SeaIdentifierSea AS LeaFunding_SeaIdentifierSea
	, LeaFunding.LeaName AS LeaFunding_LeaName
	, LeaFunding.LeaIdentifierNces AS LeaFunding_LeaIdentifierNces
	, LeaFunding.LeaIdentifierSea AS LeaFunding_LeaIdentifierSea
	, LeaFunding.PriorLeaIdentifierSea AS LeaFunding_PriorLeaIdentifierSea
	, LeaFunding.LeaSupervisoryUnionIdentificationNumber AS LeaFunding_LeaSupervisoryUnionIdentificationNumber
	, LeaFunding.ReportedFederally AS LeaFunding_ReportedFederally
	, LeaFunding.LeaTypeCode AS LeaFunding_LeaTypeCode
	, LeaFunding.LeaTypeDescription AS LeaFunding_LeaTypeDescription
	, LeaFunding.LeaTypeEdFactsCode AS LeaFunding_LeaTypeEdFactsCode
	, LeaFunding.MailingAddressStreetNumberAndName AS LeaFunding_MailingAddressStreetNumberAndName
	, LeaFunding.MailingAddressApartmentRoomOrSuiteNumber AS LeaFunding_MailingAddressApartmentRoomOrSuiteNumber
	, LeaFunding.MailingAddressCity AS LeaFunding_MailingAddressCity
	, LeaFunding.MailingAddressPostalCode AS LeaFunding_MailingAddressPostalCode
	, LeaFunding.MailingAddressStateAbbreviation AS LeaFunding_MailingAddressStateAbbreviation
	, LeaFunding.MailingAddressCountyAnsiCode AS LeaFunding_MailingAddressCountyAnsiCode
	, LeaFunding.PhysicalAddressStreetNumberAndName AS LeaFunding_PhysicalAddressStreetNumberAndName
	, LeaFunding.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaFunding_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaFunding.PhysicalAddressCity AS LeaFunding_PhysicalAddressCity
	, LeaFunding.PhysicalAddressPostalCode AS LeaFunding_PhysicalAddressPostalCode
	, LeaFunding.PhysicalAddressStateAbbreviation AS LeaFunding_PhysicalAddressStateAbbreviation
	, LeaFunding.PhysicalAddressCountyAnsiCode AS LeaFunding_PhysicalAddressCountyAnsiCode
	, LeaFunding.Longitude AS LeaFunding_Longitude
	, LeaFunding.Latitude AS LeaFunding_Latitude
	, LeaFunding.TelephoneNumber AS LeaFunding_TelephoneNumber
	, LeaFunding.WebSiteAddress AS LeaFunding_WebSiteAddress
	, LeaFunding.OutOfStateIndicator AS LeaFunding_OutOfStateIndicator
	, LeaFunding.LeaOperationalStatus AS LeaFunding_LeaOperationalStatus
	, LeaFunding.LeaOperationalStatusEdFactsCode AS LeaFunding_LeaOperationalStatusEdFactsCode
	, LeaFunding.OperationalStatusEffectiveDate AS LeaFunding_OperationalStatusEffectiveDate
	, LeaFunding.CharterLeaStatus AS LeaFunding_CharterLeaStatus
	, LeaFunding.ReconstitutedStatus AS LeaFunding_ReconstitutedStatus
	, LeaFunding.McKinneyVentoSubgrantRecipient AS LeaFunding_McKinneyVentoSubgrantRecipient
	, LeaFunding.NameOfInstitution AS LeaFunding_NameOfInstitution
	, LeaFunding.EffectiveDate AS LeaFunding_EffectiveDate
	, LeaFunding.RecordStartDateTime AS LeaFunding_RecordStartDateTime
	, LeaFunding.RecordEndDateTime AS LeaFunding_RecordEndDateTime
	, LeaGraduation.IeuOrganizationName AS LeaGraduation_IeuOrganizationName
	, LeaGraduation.IeuOrganizationIdentifierSea AS LeaGraduation_IeuOrganizationIdentifierSea
	, LeaGraduation.StateAnsiCode AS LeaGraduation_StateAnsiCode
	, LeaGraduation.StateAbbreviationCode AS LeaGraduation_StateAbbreviationCode
	, LeaGraduation.StateAbbreviationDescription AS LeaGraduation_StateAbbreviationDescription
	, LeaGraduation.SeaOrganizationName AS LeaGraduation_SeaOrganizationName
	, LeaGraduation.SeaIdentifierSea AS LeaGraduation_SeaIdentifierSea
	, LeaGraduation.LeaName AS LeaGraduation_LeaName
	, LeaGraduation.LeaIdentifierNces AS LeaGraduation_LeaIdentifierNces
	, LeaGraduation.LeaIdentifierSea AS LeaGraduation_LeaIdentifierSea
	, LeaGraduation.PriorLeaIdentifierSea AS LeaGraduation_PriorLeaIdentifierSea
	, LeaGraduation.LeaSupervisoryUnionIdentificationNumber AS LeaGraduation_LeaSupervisoryUnionIdentificationNumber
	, LeaGraduation.ReportedFederally AS LeaGraduation_ReportedFederally
	, LeaGraduation.LeaTypeCode AS LeaGraduation_LeaTypeCode
	, LeaGraduation.LeaTypeDescription AS LeaGraduation_LeaTypeDescription
	, LeaGraduation.LeaTypeEdFactsCode AS LeaGraduation_LeaTypeEdFactsCode
	, LeaGraduation.MailingAddressStreetNumberAndName AS LeaGraduation_MailingAddressStreetNumberAndName
	, LeaGraduation.MailingAddressApartmentRoomOrSuiteNumber AS LeaGraduation_MailingAddressApartmentRoomOrSuiteNumber
	, LeaGraduation.MailingAddressCity AS LeaGraduation_MailingAddressCity
	, LeaGraduation.MailingAddressPostalCode AS LeaGraduation_MailingAddressPostalCode
	, LeaGraduation.MailingAddressStateAbbreviation AS LeaGraduation_MailingAddressStateAbbreviation
	, LeaGraduation.MailingAddressCountyAnsiCode AS LeaGraduation_MailingAddressCountyAnsiCode
	, LeaGraduation.PhysicalAddressStreetNumberAndName AS LeaGraduation_PhysicalAddressStreetNumberAndName
	, LeaGraduation.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaGraduation_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaGraduation.PhysicalAddressCity AS LeaGraduation_PhysicalAddressCity
	, LeaGraduation.PhysicalAddressPostalCode AS LeaGraduation_PhysicalAddressPostalCode
	, LeaGraduation.PhysicalAddressStateAbbreviation AS LeaGraduation_PhysicalAddressStateAbbreviation
	, LeaGraduation.PhysicalAddressCountyAnsiCode AS LeaGraduation_PhysicalAddressCountyAnsiCode
	, LeaGraduation.Longitude AS LeaGraduation_Longitude
	, LeaGraduation.Latitude AS LeaGraduation_Latitude
	, LeaGraduation.TelephoneNumber AS LeaGraduation_TelephoneNumber
	, LeaGraduation.WebSiteAddress AS LeaGraduation_WebSiteAddress
	, LeaGraduation.OutOfStateIndicator AS LeaGraduation_OutOfStateIndicator
	, LeaGraduation.LeaOperationalStatus AS LeaGraduation_LeaOperationalStatus
	, LeaGraduation.LeaOperationalStatusEdFactsCode AS LeaGraduation_LeaOperationalStatusEdFactsCode
	, LeaGraduation.OperationalStatusEffectiveDate AS LeaGraduation_OperationalStatusEffectiveDate
	, LeaGraduation.CharterLeaStatus AS LeaGraduation_CharterLeaStatus
	, LeaGraduation.ReconstitutedStatus AS LeaGraduation_ReconstitutedStatus
	, LeaGraduation.McKinneyVentoSubgrantRecipient AS LeaGraduation_McKinneyVentoSubgrantRecipient
	, LeaGraduation.NameOfInstitution AS LeaGraduation_NameOfInstitution
	, LeaGraduation.EffectiveDate AS LeaGraduation_EffectiveDate
	, LeaGraduation.RecordStartDateTime AS LeaGraduation_RecordStartDateTime
	, LeaGraduation.RecordEndDateTime AS LeaGraduation_RecordEndDateTime
	, LeaIndividualizedEducationProgram.IeuOrganizationName AS LeaIndividualizedEducationProgram_IeuOrganizationName
	, LeaIndividualizedEducationProgram.IeuOrganizationIdentifierSea AS LeaIndividualizedEducationProgram_IeuOrganizationIdentifierSea
	, LeaIndividualizedEducationProgram.StateAnsiCode AS LeaIndividualizedEducationProgram_StateAnsiCode
	, LeaIndividualizedEducationProgram.StateAbbreviationCode AS LeaIndividualizedEducationProgram_StateAbbreviationCode
	, LeaIndividualizedEducationProgram.StateAbbreviationDescription AS LeaIndividualizedEducationProgram_StateAbbreviationDescription
	, LeaIndividualizedEducationProgram.SeaOrganizationName AS LeaIndividualizedEducationProgram_SeaOrganizationName
	, LeaIndividualizedEducationProgram.SeaIdentifierSea AS LeaIndividualizedEducationProgram_SeaIdentifierSea
	, LeaIndividualizedEducationProgram.LeaName AS LeaIndividualizedEducationProgram_LeaName
	, LeaIndividualizedEducationProgram.LeaIdentifierNces AS LeaIndividualizedEducationProgram_LeaIdentifierNces
	, LeaIndividualizedEducationProgram.LeaIdentifierSea AS LeaIndividualizedEducationProgram_LeaIdentifierSea
	, LeaIndividualizedEducationProgram.PriorLeaIdentifierSea AS LeaIndividualizedEducationProgram_PriorLeaIdentifierSea
	, LeaIndividualizedEducationProgram.LeaSupervisoryUnionIdentificationNumber AS LeaIndividualizedEducationProgram_LeaSupervisoryUnionIdentificationNumber
	, LeaIndividualizedEducationProgram.ReportedFederally AS LeaIndividualizedEducationProgram_ReportedFederally
	, LeaIndividualizedEducationProgram.LeaTypeCode AS LeaIndividualizedEducationProgram_LeaTypeCode
	, LeaIndividualizedEducationProgram.LeaTypeDescription AS LeaIndividualizedEducationProgram_LeaTypeDescription
	, LeaIndividualizedEducationProgram.LeaTypeEdFactsCode AS LeaIndividualizedEducationProgram_LeaTypeEdFactsCode
	, LeaIndividualizedEducationProgram.MailingAddressStreetNumberAndName AS LeaIndividualizedEducationProgram_MailingAddressStreetNumberAndName
	, LeaIndividualizedEducationProgram.MailingAddressApartmentRoomOrSuiteNumber AS LeaIndividualizedEducationProgram_MailingAddressApartmentRoomOrSuiteNumber
	, LeaIndividualizedEducationProgram.MailingAddressCity AS LeaIndividualizedEducationProgram_MailingAddressCity
	, LeaIndividualizedEducationProgram.MailingAddressPostalCode AS LeaIndividualizedEducationProgram_MailingAddressPostalCode
	, LeaIndividualizedEducationProgram.MailingAddressStateAbbreviation AS LeaIndividualizedEducationProgram_MailingAddressStateAbbreviation
	, LeaIndividualizedEducationProgram.MailingAddressCountyAnsiCode AS LeaIndividualizedEducationProgram_MailingAddressCountyAnsiCode
	, LeaIndividualizedEducationProgram.PhysicalAddressStreetNumberAndName AS LeaIndividualizedEducationProgram_PhysicalAddressStreetNumberAndName
	, LeaIndividualizedEducationProgram.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaIndividualizedEducationProgram_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaIndividualizedEducationProgram.PhysicalAddressCity AS LeaIndividualizedEducationProgram_PhysicalAddressCity
	, LeaIndividualizedEducationProgram.PhysicalAddressPostalCode AS LeaIndividualizedEducationProgram_PhysicalAddressPostalCode
	, LeaIndividualizedEducationProgram.PhysicalAddressStateAbbreviation AS LeaIndividualizedEducationProgram_PhysicalAddressStateAbbreviation
	, LeaIndividualizedEducationProgram.PhysicalAddressCountyAnsiCode AS LeaIndividualizedEducationProgram_PhysicalAddressCountyAnsiCode
	, LeaIndividualizedEducationProgram.Longitude AS LeaIndividualizedEducationProgram_Longitude
	, LeaIndividualizedEducationProgram.Latitude AS LeaIndividualizedEducationProgram_Latitude
	, LeaIndividualizedEducationProgram.TelephoneNumber AS LeaIndividualizedEducationProgram_TelephoneNumber
	, LeaIndividualizedEducationProgram.WebSiteAddress AS LeaIndividualizedEducationProgram_WebSiteAddress
	, LeaIndividualizedEducationProgram.OutOfStateIndicator AS LeaIndividualizedEducationProgram_OutOfStateIndicator
	, LeaIndividualizedEducationProgram.LeaOperationalStatus AS LeaIndividualizedEducationProgram_LeaOperationalStatus
	, LeaIndividualizedEducationProgram.LeaOperationalStatusEdFactsCode AS LeaIndividualizedEducationProgram_LeaOperationalStatusEdFactsCode
	, LeaIndividualizedEducationProgram.OperationalStatusEffectiveDate AS LeaIndividualizedEducationProgram_OperationalStatusEffectiveDate
	, LeaIndividualizedEducationProgram.CharterLeaStatus AS LeaIndividualizedEducationProgram_CharterLeaStatus
	, LeaIndividualizedEducationProgram.ReconstitutedStatus AS LeaIndividualizedEducationProgram_ReconstitutedStatus
	, LeaIndividualizedEducationProgram.McKinneyVentoSubgrantRecipient AS LeaIndividualizedEducationProgram_McKinneyVentoSubgrantRecipient
	, LeaIndividualizedEducationProgram.NameOfInstitution AS LeaIndividualizedEducationProgram_NameOfInstitution
	, LeaIndividualizedEducationProgram.EffectiveDate AS LeaIndividualizedEducationProgram_EffectiveDate
	, LeaIndividualizedEducationProgram.RecordStartDateTime AS LeaIndividualizedEducationProgram_RecordStartDateTime
	, LeaIndividualizedEducationProgram.RecordEndDateTime AS LeaIndividualizedEducationProgram_RecordEndDateTime
	, AccountableK12School.SeaOrganizationName AS AccountableK12School_SeaOrganizationName
	, AccountableK12School.SeaIdentifierSea AS AccountableK12School_SeaIdentifierSea
	, AccountableK12School.StateAnsiCode AS AccountableK12School_StateAnsiCode
	, AccountableK12School.StateAbbreviationCode AS AccountableK12School_StateAbbreviationCode
	, AccountableK12School.StateAbbreviationDescription AS AccountableK12School_StateAbbreviationDescription
	, AccountableK12School.IeuOrganizationName AS AccountableK12School_IeuOrganizationName
	, AccountableK12School.IeuOrganizationIdentifierSea AS AccountableK12School_IeuOrganizationIdentifierSea
	, AccountableK12School.LeaName AS AccountableK12School_LeaName
	, AccountableK12School.LeaIdentifierNces AS AccountableK12School_LeaIdentifierNces
	, AccountableK12School.LeaIdentifierSea AS AccountableK12School_LeaIdentifierSea
	, AccountableK12School.PriorLeaIdentifierSea AS AccountableK12School_PriorLeaIdentifierSea
	, AccountableK12School.LeaTypeCode AS AccountableK12School_LeaTypeCode
	, AccountableK12School.LeaTypeDescription AS AccountableK12School_LeaTypeDescription
	, AccountableK12School.LeaTypeEdFactsCode AS AccountableK12School_LeaTypeEdFactsCode
	, AccountableK12School.NameOfInstitution AS AccountableK12School_NameOfInstitution
	, AccountableK12School.SchoolIdentifierNces AS AccountableK12School_SchoolIdentifierNces
	, AccountableK12School.SchoolIdentifierSea AS AccountableK12School_SchoolIdentifierSea
	, AccountableK12School.PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea AS AccountableK12School_PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, AccountableK12School.SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea AS AccountableK12School_SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, AccountableK12School.OperationalStatusEffectiveDate AS AccountableK12School_OperationalStatusEffectiveDate
	, AccountableK12School.PriorSchoolIdentifierSea AS AccountableK12School_PriorSchoolIdentifierSea
	, AccountableK12School.CharterSchoolIndicator AS AccountableK12School_CharterSchoolIndicator
	, AccountableK12School.CharterSchoolContractIdNumber AS AccountableK12School_CharterSchoolContractIdNumber
	, AccountableK12School.CharterSchoolContractApprovalDate AS AccountableK12School_CharterSchoolContractApprovalDate
	, AccountableK12School.CharterSchoolContractRenewalDate AS AccountableK12School_CharterSchoolContractRenewalDate
	, AccountableK12School.ReportedFederally AS AccountableK12School_ReportedFederally
	, AccountableK12School.SchoolTypeCode AS AccountableK12School_SchoolTypeCode
	, AccountableK12School.SchoolTypeDescription AS AccountableK12School_SchoolTypeDescription
	, AccountableK12School.SchoolTypeEdFactsCode AS AccountableK12School_SchoolTypeEdFactsCode
	, AccountableK12School.MailingAddressStreetNumberAndName AS AccountableK12School_MailingAddressStreetNumberAndName
	, AccountableK12School.MailingAddressApartmentRoomOrSuiteNumber AS AccountableK12School_MailingAddressApartmentRoomOrSuiteNumber
	, AccountableK12School.MailingAddressCity AS AccountableK12School_MailingAddressCity
	, AccountableK12School.MailingAddressPostalCode AS AccountableK12School_MailingAddressPostalCode
	, AccountableK12School.MailingAddressStateAbbreviation AS AccountableK12School_MailingAddressStateAbbreviation
	, AccountableK12School.MailingAddressCountyAnsiCode AS AccountableK12School_MailingAddressCountyAnsiCode
	, AccountableK12School.PhysicalAddressStreetNumberAndName AS AccountableK12School_PhysicalAddressStreetNumberAndName
	, AccountableK12School.PhysicalAddressApartmentRoomOrSuiteNumber AS AccountableK12School_PhysicalAddressApartmentRoomOrSuiteNumber
	, AccountableK12School.PhysicalAddressCity AS AccountableK12School_PhysicalAddressCity
	, AccountableK12School.PhysicalAddressPostalCode AS AccountableK12School_PhysicalAddressPostalCode
	, AccountableK12School.PhysicalAddressStateAbbreviation AS AccountableK12School_PhysicalAddressStateAbbreviation
	, AccountableK12School.PhysicalAddressCountyAnsiCode AS AccountableK12School_PhysicalAddressCountyAnsiCode
	, AccountableK12School.Longitude AS AccountableK12School_Longitude
	, AccountableK12School.Latitude AS AccountableK12School_Latitude
	, AccountableK12School.TelephoneNumber AS AccountableK12School_TelephoneNumber
	, AccountableK12School.WebSiteAddress AS AccountableK12School_WebSiteAddress
	, AccountableK12School.OutOfStateIndicator AS AccountableK12School_OutOfStateIndicator
	, AccountableK12School.SchoolOperationalStatus AS AccountableK12School_SchoolOperationalStatus
	, AccountableK12School.SchoolOperationalStatusEdFactsCode AS AccountableK12School_SchoolOperationalStatusEdFactsCode
	, AccountableK12School.SchoolOperationalStatusEffectiveDate AS AccountableK12School_SchoolOperationalStatusEffectiveDate
	, AccountableK12School.CharterSchoolStatus AS AccountableK12School_CharterSchoolStatus
	, AccountableK12School.ReconstitutedStatus AS AccountableK12School_ReconstitutedStatus
	, AccountableK12School.AdministrativeFundingControlCode AS AccountableK12School_AdministrativeFundingControlCode
	, AccountableK12School.AdministrativeFundingControlDescription AS AccountableK12School_AdministrativeFundingControlDescription
	, AccountableK12School.RecordStartDateTime AS AccountableK12School_RecordStartDateTime
	, AccountableK12School.RecordEndDateTime AS AccountableK12School_RecordEndDateTime
	, EducationOrganizationNetwork.OrganizationIdentifierState AS EducationOrganizationNetwork_OrganizationIdentifierState
	, EducationOrganizationNetwork.OrganizationTypeCode AS EducationOrganizationNetwork_OrganizationTypeCode
	, EducationOrganizationNetwork.OrganizationTypeDescription AS EducationOrganizationNetwork_OrganizationTypeDescription
	, EducationOrganizationNetwork.OrganizationName AS EducationOrganizationNetwork_OrganizationName
	, K12Student.FirstName AS K12Student_FirstName
	, K12Student.MiddleName AS K12Student_MiddleName
	, K12Student.LastOrSurname AS K12Student_LastOrSurname
	, K12Student.PersonalTitleOrPrefix AS K12Student_PersonalTitleOrPrefix
	, K12Student.BirthDate AS K12Student_BirthDate
	, K12Student.PositionTitle AS K12Student_PositionTitle
	, K12Student.ElectronicMailAddressHome AS K12Student_ElectronicMailAddressHome
	, K12Student.ElectronicMailAddressWork AS K12Student_ElectronicMailAddressWork
	, K12Student.ElectronicMailAddressOrganizational AS K12Student_ElectronicMailAddressOrganizational
	, K12Student.TelephoneNumberHome AS K12Student_TelephoneNumberHome
	, K12Student.TelephoneNumberWork AS K12Student_TelephoneNumberWork
	, K12Student.TelephoneNumberMobile AS K12Student_TelephoneNumberMobile
	, K12Student.TelephoneNumberFax AS K12Student_TelephoneNumberFax
	, K12Student.EarlyLearningChidIdentifierState AS K12Student_EarlyLearningChidIdentifierState
	, K12Student.K12StudentIdentifierState AS K12Student_K12StudentIdentifierState
	, K12Student.K12StudentIdentifierDistrict AS K12Student_K12StudentIdentifierDistrict
	, K12Student.K12StudentIdentifierNationalMigrant AS K12Student_K12StudentIdentifierNationalMigrant
	, K12Student.PsStudentIdentifierState AS K12Student_PsStudentIdentifierState
	, K12Student.AeStudentIdentifierState AS K12Student_AeStudentIdentifierState
	, K12Student.WorkforcePersonIdentifierState AS K12Student_WorkforcePersonIdentifierState
	, K12Student.EarlyLearningStaffMemberIdentifierState AS K12Student_EarlyLearningStaffMemberIdentifierState
	, K12Student.K12StaffMemberIdentiferState AS K12Student_K12StaffMemberIdentiferState
	, K12Student.K12StaffMemberIdentiferDistrict AS K12Student_K12StaffMemberIdentiferDistrict
	, K12Student.PsStaffMemberIdentiferState AS K12Student_PsStaffMemberIdentiferState
	, K12Student.PersonIdentifierDriversLicense AS K12Student_PersonIdentifierDriversLicense
	, K12Student.IsActiveEarlyLearningChild AS K12Student_IsActiveEarlyLearningChild
	, K12Student.IsActiveK12Student AS K12Student_IsActiveK12Student
	, K12Student.IsActivePsStudent AS K12Student_IsActivePsStudent
	, K12Student.IsActiveAeStudent AS K12Student_IsActiveAeStudent
	, K12Student.IsActiveWorkforcePerson AS K12Student_IsActiveWorkforcePerson
	, K12Student.IsActiveEarlyLearningStaffMember AS K12Student_IsActiveEarlyLearningStaffMember
	, K12Student.IsActiveK12StaffMember AS K12Student_IsActiveK12StaffMember
	, K12Student.IsActivePsStaffMember AS K12Student_IsActivePsStaffMember
	, K12Student.RecordStartDateTime AS K12Student_RecordStartDateTime
	, K12Student.RecordEndDateTime AS K12Student_RecordEndDateTime
	, CohortGraduationYear.SchoolYear AS CohortGraduationYear_SchoolYear
	, CohortGraduationYear.SessionBeginDate AS CohortGraduationYear_SessionBeginDate
	, CohortGraduationYear.SessionEndDate AS CohortGraduationYear_SessionEndDate
	, CohortYear.SchoolYear AS CohortYear_SchoolYear
	, CohortYear.SessionBeginDate AS CohortYear_SessionBeginDate
	, CohortYear.SessionEndDate AS CohortYear_SessionEndDate
	, CteStatus.CteAeDisplacedHomemakerIndicatorCode AS CteStatus_CteAeDisplacedHomemakerIndicatorCode
	, CteStatus.CteAeDisplacedHomemakerIndicatorDescription AS CteStatus_CteAeDisplacedHomemakerIndicatorDescription
	, CteStatus.CteAeDisplacedHomemakerIndicatorEdFactsCode AS CteStatus_CteAeDisplacedHomemakerIndicatorEdFactsCode
	, CteStatus.CteNontraditionalGenderStatusCode AS CteStatus_CteNontraditionalGenderStatusCode
	, CteStatus.CteNontraditionalGenderStatusDescription AS CteStatus_CteNontraditionalGenderStatusDescription
	, CteStatus.CteNontraditionalGenderStatusEdFactsCode AS CteStatus_CteNontraditionalGenderStatusEdFactsCode
	, CteStatus.CteNontraditionalCompletionCode AS CteStatus_CteNontraditionalCompletionCode
	, CteStatus.CteNontraditionalCompletionDescription AS CteStatus_CteNontraditionalCompletionDescription
	, CteStatus.CteNontraditionalCompletionEdFactsCode AS CteStatus_CteNontraditionalCompletionEdFactsCode
	, CteStatus.SingleParentOrSinglePregnantWomanStatusCode AS CteStatus_SingleParentOrSinglePregnantWomanStatusCode
	, CteStatus.SingleParentOrSinglePregnantWomanStatusDescription AS CteStatus_SingleParentOrSinglePregnantWomanStatusDescription
	, CteStatus.SingleParentOrSinglePregnantWomanStatusEdFactsCode AS CteStatus_SingleParentOrSinglePregnantWomanStatusEdFactsCode
	, CteStatus.CteParticipantCode AS CteStatus_CteParticipantCode
	, CteStatus.CteParticipantDescription AS CteStatus_CteParticipantDescription
	, CteStatus.CteParticipantEdFactsCode AS CteStatus_CteParticipantEdFactsCode
	, CteStatus.CteConcentratorCode AS CteStatus_CteConcentratorCode
	, CteStatus.CteConcentratorDescription AS CteStatus_CteConcentratorDescription
	, CteStatus.CteConcentratorEdFactsCode AS CteStatus_CteConcentratorEdFactsCode
	, EntryGradeLevel.GradeLevelCode AS EntryGradeLevel_GradeLevelCode
	, EntryGradeLevel.GradeLevelDescription AS EntryGradeLevel_GradeLevelDescription
	, EntryGradeLevel.GradeLevelEdFactsCode AS EntryGradeLevel_GradeLevelEdFactsCode
	, ExitGradeLevel.GradeLevelCode AS ExitGradeLevel_GradeLevelCode
	, ExitGradeLevel.GradeLevelDescription AS ExitGradeLevel_GradeLevelDescription
	, ExitGradeLevel.GradeLevelEdFactsCode AS ExitGradeLevel_GradeLevelEdFactsCode
	, EnrollmentEntryDate.DateValue AS EnrollmentEntryDate_DateValue
	, EnrollmentEntryDate.Day AS EnrollmentEntryDate_Day
	, EnrollmentEntryDate.DayOfWeek AS EnrollmentEntryDate_DayOfWeek
	, EnrollmentEntryDate.DayOfYear AS EnrollmentEntryDate_DayOfYear
	, EnrollmentEntryDate.Month AS EnrollmentEntryDate_Month
	, EnrollmentEntryDate.MonthName AS EnrollmentEntryDate_MonthName
	, EnrollmentEntryDate.SubmissionYear AS EnrollmentEntryDate_SubmissionYear
	, EnrollmentEntryDate.Year AS EnrollmentEntryDate_Year
	, EnrollmentExitDate.DateValue AS EnrollmentExitDate_DateValue
	, EnrollmentExitDate.Day AS EnrollmentExitDate_Day
	, EnrollmentExitDate.DayOfWeek AS EnrollmentExitDate_DayOfWeek
	, EnrollmentExitDate.DayOfYear AS EnrollmentExitDate_DayOfYear
	, EnrollmentExitDate.Month AS EnrollmentExitDate_Month
	, EnrollmentExitDate.MonthName AS EnrollmentExitDate_MonthName
	, EnrollmentExitDate.SubmissionYear AS EnrollmentExitDate_SubmissionYear
	, EnrollmentExitDate.Year AS EnrollmentExitDate_Year
	, EnglishLearnerStatus.EnglishLearnerStatusCode AS EnglishLearnerStatus_EnglishLearnerStatusCode
	, EnglishLearnerStatus.EnglishLearnerStatusDescription AS EnglishLearnerStatus_EnglishLearnerStatusDescription
	, EnglishLearnerStatus.EnglishLearnerStatusEdFactsCode AS EnglishLearnerStatus_EnglishLearnerStatusEdFactsCode
	, EnglishLearnerStatus.PerkinsLEPStatusCode AS EnglishLearnerStatus_PerkinsLEPStatusCode
	, EnglishLearnerStatus.PerkinsLEPStatusDescription AS EnglishLearnerStatus_PerkinsLEPStatusDescription
	, EnglishLearnerStatus.PerkinsLEPStatusEdfactsCode AS EnglishLearnerStatus_PerkinsLEPStatusEdfactsCode
	, EnglishLearnerStatus.TitleIIIAccountabilityProgressStatusCode AS EnglishLearnerStatus_TitleIIIAccountabilityProgressStatusCode
	, EnglishLearnerStatus.TitleIIIAccountabilityProgressStatusDescription AS EnglishLearnerStatus_TitleIIIAccountabilityProgressStatusDescription
	, EnglishLearnerStatus.TitleIIIAccountabilityProgressStatusEdFactsCode AS EnglishLearnerStatus_TitleIIIAccountabilityProgressStatusEdFactsCode
	, EnglishLearnerStatus.TitleIIILanguageInstructionProgramTypeCode AS EnglishLearnerStatus_TitleIIILanguageInstructionProgramTypeCode
	, EnglishLearnerStatus.TitleIIILanguageInstructionProgramTypeDescription AS EnglishLearnerStatus_TitleIIILanguageInstructionProgramTypeDescription
	, EnglishLearnerStatus.TitleIIILanguageInstructionProgramTypeEdFactsCode AS EnglishLearnerStatus_TitleIIILanguageInstructionProgramTypeEdFactsCode
	, K12EnrollmentStatus.EnrollmentStatusCode AS K12EnrollmentStatus_EnrollmentStatusCode
	, K12EnrollmentStatus.EnrollmentStatusDescription AS K12EnrollmentStatus_EnrollmentStatusDescription
	, K12EnrollmentStatus.EntryTypeCode AS K12EnrollmentStatus_EntryTypeCode
	, K12EnrollmentStatus.EntryTypeDescription AS K12EnrollmentStatus_EntryTypeDescription
	, K12EnrollmentStatus.ExitOrWithdrawalTypeCode AS K12EnrollmentStatus_ExitOrWithdrawalTypeCode
	, K12EnrollmentStatus.ExitOrWithdrawalTypeDescription AS K12EnrollmentStatus_ExitOrWithdrawalTypeDescription
	, K12EnrollmentStatus.PostSecondaryEnrollmentStatusCode AS K12EnrollmentStatus_PostSecondaryEnrollmentStatusCode
	, K12EnrollmentStatus.PostSecondaryEnrollmentStatusDescription AS K12EnrollmentStatus_PostSecondaryEnrollmentStatusDescription
	, K12EnrollmentStatus.PostSecondaryEnrollmentStatusEdFactsCode AS K12EnrollmentStatus_PostSecondaryEnrollmentStatusEdFactsCode
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeTypeCode AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeTypeCode
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeTypeDescription AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeTypeDescription
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeTypeEdFactsCode AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeTypeEdFactsCode
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeCode AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeCode
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeDescription AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeDescription
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeEdFactsCode AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeEdFactsCode
	, K12Demographic.SexCode AS K12Demographic_SexCode
	, K12Demographic.SexDescription AS K12Demographic_SexDescription
	, K12Demographic.SexEdFactsCode AS K12Demographic_SexEdFactsCode
	, IdeaStatus.SpecialEducationExitReasonCode AS IdeaStatus_SpecialEducationExitReasonCode
	, IdeaStatus.SpecialEducationExitReasonDescription AS IdeaStatus_SpecialEducationExitReasonDescription
	, IdeaStatus.SpecialEducationExitReasonEdFactsCode AS IdeaStatus_SpecialEducationExitReasonEdFactsCode
	, IdeaStatus.IdeaEducationalEnvironmentForSchoolAgeDescription AS IdeaStatus_IdeaEducationalEnvironmentForSchoolAgeDescription
	, IdeaStatus.IdeaEducationalEnvironmentForSchoolAgeCode AS IdeaStatus_IdeaEducationalEnvironmentForSchoolAgeCode
	, IdeaStatus.IdeaEducationalEnvironmentForSchoolAgeEdFactsCode AS IdeaStatus_IdeaEducationalEnvironmentForSchoolAgeEdFactsCode
	, IdeaStatus.IdeaIndicatorCode AS IdeaStatus_IdeaIndicatorCode
	, IdeaStatus.IdeaIndicatorDescription AS IdeaStatus_IdeaIndicatorDescription
	, IdeaStatus.IdeaIndicatorEdFactsCode AS IdeaStatus_IdeaIndicatorEdFactsCode
	, IdeaStatus.IdeaEducationalEnvironmentForEarlyChildhoodCode AS IdeaStatus_IdeaEducationalEnvironmentForEarlyChildhoodCode
	, IdeaStatus.IdeaEducationalEnvironmentForEarlyChildhoodDescription AS IdeaStatus_IdeaEducationalEnvironmentForEarlyChildhoodDescription
	, IdeaStatus.IdeaEducationalEnvironmentForEarlyChildhoodEdFactsCode AS IdeaStatus_IdeaEducationalEnvironmentForEarlyChildhoodEdFactsCode
	, HomelessnessStatus.HomelessnessStatusCode AS HomelessnessStatus_HomelessnessStatusCode
	, HomelessnessStatus.HomelessnessStatusDescription AS HomelessnessStatus_HomelessnessStatusDescription
	, HomelessnessStatus.HomelessnessStatusEdFactsCode AS HomelessnessStatus_HomelessnessStatusEdFactsCode
	, HomelessnessStatus.HomelessPrimaryNighttimeResidenceCode AS HomelessnessStatus_HomelessPrimaryNighttimeResidenceCode
	, HomelessnessStatus.HomelessPrimaryNighttimeResidenceDescription AS HomelessnessStatus_HomelessPrimaryNighttimeResidenceDescription
	, HomelessnessStatus.HomelessPrimaryNighttimeResidenceEdfactsCode AS HomelessnessStatus_HomelessPrimaryNighttimeResidenceEdfactsCode
	, HomelessnessStatus.HomelessServicedIndicatorCode AS HomelessnessStatus_HomelessServicedIndicatorCode
	, HomelessnessStatus.HomelessServicedIndicatorDescription AS HomelessnessStatus_HomelessServicedIndicatorDescription
	, HomelessnessStatus.HomelessUnaccompaniedYouthStatusCode AS HomelessnessStatus_HomelessUnaccompaniedYouthStatusCode
	, HomelessnessStatus.HomelessUnaccompaniedYouthStatusDescription AS HomelessnessStatus_HomelessUnaccompaniedYouthStatusDescription
	, HomelessnessStatus.HomelessUnaccompaniedYouthStatusEdfactsCode AS HomelessnessStatus_HomelessUnaccompaniedYouthStatusEdfactsCode
	, EconomicallyDisadvantagedStatus.EconomicDisadvantageStatusCode AS EconomicallyDisadvantagedStatus_EconomicDisadvantageStatusCode
	, EconomicallyDisadvantagedStatus.EconomicDisadvantageStatusDescription AS EconomicallyDisadvantagedStatus_EconomicDisadvantageStatusDescription
	, EconomicallyDisadvantagedStatus.EconomicDisadvantageStatusEdFactsCode AS EconomicallyDisadvantagedStatus_EconomicDisadvantageStatusEdFactsCode
	, EconomicallyDisadvantagedStatus.EligibilityStatusForSchoolFoodServiceProgramsCode AS EconomicallyDisadvantagedStatus_EligibilityStatusForSchoolFoodServiceProgramsCode
	, EconomicallyDisadvantagedStatus.EligibilityStatusForSchoolFoodServiceProgramsDescription AS EconomicallyDisadvantagedStatus_EligibilityStatusForSchoolFoodServiceProgramsDescription
	, EconomicallyDisadvantagedStatus.EligibilityStatusForSchoolFoodServiceProgramsEdFactsCode AS EconomicallyDisadvantagedStatus_EligibilityStatusForSchoolFoodServiceProgramsEdFactsCode
	, EconomicallyDisadvantagedStatus.NationalSchoolLunchProgramDirectCertificationIndicatorCode AS EconomicallyDisadvantagedStatus_NationalSchoolLunchProgramDirectCertificationIndicatorCode
	, EconomicallyDisadvantagedStatus.NationalSchoolLunchProgramDirectCertificationIndicatorDescription AS EconomicallyDisadvantagedStatus_NationalSchoolLunchProgramDirectCertificationIndicatorDescription
	, FosterCareStatus.ProgramParticipationFosterCareCode AS FosterCareStatus_ProgramParticipationFosterCareCode
	, FosterCareStatus.ProgramParticipationFosterCareDescription AS FosterCareStatus_ProgramParticipationFosterCareDescription
	, FosterCareStatus.ProgramParticipationFosterCareEdFactsCode AS FosterCareStatus_ProgramParticipationFosterCareEdFactsCode
	, ImmigrantStatus.TitleIIIImmigrantStatusCode AS ImmigrantStatus_TitleIIIImmigrantStatusCode
	, ImmigrantStatus.TitleIIIImmigrantStatusDescription AS ImmigrantStatus_TitleIIIImmigrantStatusDescription
	, ImmigrantStatus.TitleIIIImmigrantStatusEdFactsCode AS ImmigrantStatus_TitleIIIImmigrantStatusEdFactsCode
	, ImmigrantStatus.TitleIIIImmigrantParticipationStatusCode AS ImmigrantStatus_TitleIIIImmigrantParticipationStatusCode
	, ImmigrantStatus.TitleIIIImmigrantParticipationStatusDescription AS ImmigrantStatus_TitleIIIImmigrantParticipationStatusDescription
	, ImmigrantStatus.TitleIIIImmigrantParticipationStatusEdFactsCode AS ImmigrantStatus_TitleIIIImmigrantParticipationStatusEdFactsCode
	, LanguageHome.Iso6392LanguageCode AS LanguageHome_Iso6392LanguageCode
	, LanguageHome.Iso6392LanguageDescription AS LanguageHome_Iso6392LanguageDescription
	, LanguageHome.Iso6392LanguageEdFactsCode AS LanguageHome_Iso6392LanguageEdFactsCode
	, LanguageHome.Iso6393LanguageCode AS LanguageHome_Iso6393LanguageCode
	, LanguageHome.Iso6393LanguageDescription AS LanguageHome_Iso6393LanguageDescription
	, LanguageNative.Iso6392LanguageCode AS LanguageNative_Iso6392LanguageCode
	, LanguageNative.Iso6392LanguageDescription AS LanguageNative_Iso6392LanguageDescription
	, LanguageNative.Iso6392LanguageEdFactsCode AS LanguageNative_Iso6392LanguageEdFactsCode
	, LanguageNative.Iso6393LanguageCode AS LanguageNative_Iso6393LanguageCode
	, LanguageNative.Iso6393LanguageDescription AS LanguageNative_Iso6393LanguageDescription
	, MigrantStatus.MigrantStatusCode AS MigrantStatus_MigrantStatusCode
	, MigrantStatus.MigrantStatusDescription AS MigrantStatus_MigrantStatusDescription
	, MigrantStatus.MigrantStatusEdFactsCode AS MigrantStatus_MigrantStatusEdFactsCode
	, MigrantStatus.MigrantEducationProgramEnrollmentTypeCode AS MigrantStatus_MigrantEducationProgramEnrollmentTypeCode
	, MigrantStatus.MigrantEducationProgramEnrollmentTypeDescription AS MigrantStatus_MigrantEducationProgramEnrollmentTypeDescription
	, MigrantStatus.MigrantEducationProgramEnrollmentTypeEdFactsCode AS MigrantStatus_MigrantEducationProgramEnrollmentTypeEdFactsCode
	, MigrantStatus.ContinuationOfServicesReasonCode AS MigrantStatus_ContinuationOfServicesReasonCode
	, MigrantStatus.ContinuationOfServicesReasonDescription AS MigrantStatus_ContinuationOfServicesReasonDescription
	, MigrantStatus.ContinuationOfServicesReasonEdFactsCode AS MigrantStatus_ContinuationOfServicesReasonEdFactsCode
	, MigrantStatus.MigrantEducationProgramServicesTypeCode AS MigrantStatus_MigrantEducationProgramServicesTypeCode
	, MigrantStatus.MigrantEducationProgramServicesTypeDescription AS MigrantStatus_MigrantEducationProgramServicesTypeDescription
	, MigrantStatus.MigrantEducationProgramServicesTypeEdFactsCode AS MigrantStatus_MigrantEducationProgramServicesTypeEdFactsCode
	, MigrantStatus.MigrantPrioritizedForServicesCode AS MigrantStatus_MigrantPrioritizedForServicesCode
	, MigrantStatus.MigrantPrioritizedForServicesDescription AS MigrantStatus_MigrantPrioritizedForServicesDescription
	, MigrantStatus.MigrantPrioritizedForServicesEdFactsCode AS MigrantStatus_MigrantPrioritizedForServicesEdFactsCode
	, MilitaryStatus.MilitaryConnectedStudentIndicatorCode AS MilitaryStatus_MilitaryConnectedStudentIndicatorCode
	, MilitaryStatus.MilitaryConnectedStudentIndicatorDescription AS MilitaryStatus_MilitaryConnectedStudentIndicatorDescription
	, MilitaryStatus.MilitaryConnectedStudentIndicatorEdFactsCode AS MilitaryStatus_MilitaryConnectedStudentIndicatorEdFactsCode
	, MilitaryStatus.MilitaryActiveStudentIndicatorCode AS MilitaryStatus_MilitaryActiveStudentIndicatorCode
	, MilitaryStatus.MilitaryActiveStudentIndicatorDescription AS MilitaryStatus_MilitaryActiveStudentIndicatorDescription
	, MilitaryStatus.MilitaryBranchCode AS MilitaryStatus_MilitaryBranchCode
	, MilitaryStatus.MilitaryBranchDescription AS MilitaryStatus_MilitaryBranchDescription
	, MilitaryStatus.MilitaryVeteranStudentIndicatorCode AS MilitaryStatus_MilitaryVeteranStudentIndicatorCode
	, MilitaryStatus.MilitaryVeteranStudentIndicatorDescription AS MilitaryStatus_MilitaryVeteranStudentIndicatorDescription
	, NOrDStatus.LongTermStatusCode AS NOrDStatus_LongTermStatusCode
	, NOrDStatus.LongTermStatusDescription AS NOrDStatus_LongTermStatusDescription
	, NOrDStatus.LongTermStatusEdFactsCode AS NOrDStatus_LongTermStatusEdFactsCode
	, NOrDStatus.NeglectedOrDelinquentProgramTypeCode AS NOrDStatus_NeglectedOrDelinquentProgramTypeCode
	, NOrDStatus.NeglectedOrDelinquentProgramTypeDescription AS NOrDStatus_NeglectedOrDelinquentProgramTypeDescription
	, NOrDStatus.NeglectedOrDelinquentProgramTypeEdFactsCode AS NOrDStatus_NeglectedOrDelinquentProgramTypeEdFactsCode
	, PrimaryDisabilityType.IdeaDisabilityTypeCode AS PrimaryDisabilityType_IdeaDisabilityTypeCode
	, PrimaryDisabilityType.IdeaDisabilityTypeDescription AS PrimaryDisabilityType_IdeaDisabilityTypeDescription
	, PrimaryDisabilityType.IdeaDisabilityTypeEdFactsCode AS PrimaryDisabilityType_IdeaDisabilityTypeEdFactsCode
	, SecondaryDisabilityType.IdeaDisabilityTypeCode AS SecondaryDisabilityType_IdeaDisabilityTypeCode
	, SecondaryDisabilityType.IdeaDisabilityTypeDescription AS SecondaryDisabilityType_IdeaDisabilityTypeDescription
	, SecondaryDisabilityType.IdeaDisabilityTypeEdFactsCode AS SecondaryDisabilityType_IdeaDisabilityTypeEdFactsCode
	, ProjectedGraduationDate.DateValue AS ProjectedGraduationDate_DateValue
	, ProjectedGraduationDate.Day AS ProjectedGraduationDate_Day
	, ProjectedGraduationDate.DayOfWeek AS ProjectedGraduationDate_DayOfWeek
	, ProjectedGraduationDate.DayOfYear AS ProjectedGraduationDate_DayOfYear
	, ProjectedGraduationDate.Month AS ProjectedGraduationDate_Month
	, ProjectedGraduationDate.MonthName AS ProjectedGraduationDate_MonthName
	, ProjectedGraduationDate.SubmissionYear AS ProjectedGraduationDate_SubmissionYear
	, ProjectedGraduationDate.Year AS ProjectedGraduationDate_Year
	, StatusStartDateEconomicallyDisadvantaged.DateValue AS StatusStartDateEconomicallyDisadvantaged_DateValue
	, StatusStartDateEconomicallyDisadvantaged.Day AS StatusStartDateEconomicallyDisadvantaged_Day
	, StatusStartDateEconomicallyDisadvantaged.DayOfWeek AS StatusStartDateEconomicallyDisadvantaged_DayOfWeek
	, StatusStartDateEconomicallyDisadvantaged.DayOfYear AS StatusStartDateEconomicallyDisadvantaged_DayOfYear
	, StatusStartDateEconomicallyDisadvantaged.Month AS StatusStartDateEconomicallyDisadvantaged_Month
	, StatusStartDateEconomicallyDisadvantaged.MonthName AS StatusStartDateEconomicallyDisadvantaged_MonthName
	, StatusStartDateEconomicallyDisadvantaged.SubmissionYear AS StatusStartDateEconomicallyDisadvantaged_SubmissionYear
	, StatusStartDateEconomicallyDisadvantaged.Year AS StatusStartDateEconomicallyDisadvantaged_Year
	, StatusEndDateEconomicallyDisadvantaged.DateValue AS StatusEndDateEconomicallyDisadvantaged_DateValue
	, StatusEndDateEconomicallyDisadvantaged.Day AS StatusEndDateEconomicallyDisadvantaged_Day
	, StatusEndDateEconomicallyDisadvantaged.DayOfWeek AS StatusEndDateEconomicallyDisadvantaged_DayOfWeek
	, StatusEndDateEconomicallyDisadvantaged.DayOfYear AS StatusEndDateEconomicallyDisadvantaged_DayOfYear
	, StatusEndDateEconomicallyDisadvantaged.Month AS StatusEndDateEconomicallyDisadvantaged_Month
	, StatusEndDateEconomicallyDisadvantaged.MonthName AS StatusEndDateEconomicallyDisadvantaged_MonthName
	, StatusEndDateEconomicallyDisadvantaged.SubmissionYear AS StatusEndDateEconomicallyDisadvantaged_SubmissionYear
	, StatusEndDateEconomicallyDisadvantaged.Year AS StatusEndDateEconomicallyDisadvantaged_Year
	, StatusStartDateEnglishLearner.DateValue AS StatusStartDateEnglishLearner_DateValue
	, StatusStartDateEnglishLearner.Day AS StatusStartDateEnglishLearner_Day
	, StatusStartDateEnglishLearner.DayOfWeek AS StatusStartDateEnglishLearner_DayOfWeek
	, StatusStartDateEnglishLearner.DayOfYear AS StatusStartDateEnglishLearner_DayOfYear
	, StatusStartDateEnglishLearner.Month AS StatusStartDateEnglishLearner_Month
	, StatusStartDateEnglishLearner.MonthName AS StatusStartDateEnglishLearner_MonthName
	, StatusStartDateEnglishLearner.SubmissionYear AS StatusStartDateEnglishLearner_SubmissionYear
	, StatusStartDateEnglishLearner.Year AS StatusStartDateEnglishLearner_Year
	, StatusEndDateEnglishLearner.DateValue AS StatusEndDateEnglishLearner_DateValue
	, StatusEndDateEnglishLearner.Day AS StatusEndDateEnglishLearner_Day
	, StatusEndDateEnglishLearner.DayOfWeek AS StatusEndDateEnglishLearner_DayOfWeek
	, StatusEndDateEnglishLearner.DayOfYear AS StatusEndDateEnglishLearner_DayOfYear
	, StatusEndDateEnglishLearner.Month AS StatusEndDateEnglishLearner_Month
	, StatusEndDateEnglishLearner.MonthName AS StatusEndDateEnglishLearner_MonthName
	, StatusEndDateEnglishLearner.SubmissionYear AS StatusEndDateEnglishLearner_SubmissionYear
	, StatusEndDateEnglishLearner.Year AS StatusEndDateEnglishLearner_Year
	, StatusStartDateHomelessness.DateValue AS StatusStartDateHomelessness_DateValue
	, StatusStartDateHomelessness.Day AS StatusStartDateHomelessness_Day
	, StatusStartDateHomelessness.DayOfWeek AS StatusStartDateHomelessness_DayOfWeek
	, StatusStartDateHomelessness.DayOfYear AS StatusStartDateHomelessness_DayOfYear
	, StatusStartDateHomelessness.Month AS StatusStartDateHomelessness_Month
	, StatusStartDateHomelessness.MonthName AS StatusStartDateHomelessness_MonthName
	, StatusStartDateHomelessness.SubmissionYear AS StatusStartDateHomelessness_SubmissionYear
	, StatusStartDateHomelessness.Year AS StatusStartDateHomelessness_Year
	, StatusEndDateHomelessness.DateValue AS StatusEndDateHomelessness_DateValue
	, StatusEndDateHomelessness.Day AS StatusEndDateHomelessness_Day
	, StatusEndDateHomelessness.DayOfWeek AS StatusEndDateHomelessness_DayOfWeek
	, StatusEndDateHomelessness.DayOfYear AS StatusEndDateHomelessness_DayOfYear
	, StatusEndDateHomelessness.Month AS StatusEndDateHomelessness_Month
	, StatusEndDateHomelessness.MonthName AS StatusEndDateHomelessness_MonthName
	, StatusEndDateHomelessness.SubmissionYear AS StatusEndDateHomelessness_SubmissionYear
	, StatusEndDateHomelessness.Year AS StatusEndDateHomelessness_Year
	, StatusStartDateIdea.DateValue AS StatusStartDateIdea_DateValue
	, StatusStartDateIdea.Day AS StatusStartDateIdea_Day
	, StatusStartDateIdea.DayOfWeek AS StatusStartDateIdea_DayOfWeek
	, StatusStartDateIdea.DayOfYear AS StatusStartDateIdea_DayOfYear
	, StatusStartDateIdea.Month AS StatusStartDateIdea_Month
	, StatusStartDateIdea.MonthName AS StatusStartDateIdea_MonthName
	, StatusStartDateIdea.SubmissionYear AS StatusStartDateIdea_SubmissionYear
	, StatusStartDateIdea.Year AS StatusStartDateIdea_Year
	, StatusEndDateIdea.DateValue AS StatusEndDateIdea_DateValue
	, StatusEndDateIdea.Day AS StatusEndDateIdea_Day
	, StatusEndDateIdea.DayOfWeek AS StatusEndDateIdea_DayOfWeek
	, StatusEndDateIdea.DayOfYear AS StatusEndDateIdea_DayOfYear
	, StatusEndDateIdea.Month AS StatusEndDateIdea_Month
	, StatusEndDateIdea.MonthName AS StatusEndDateIdea_MonthName
	, StatusEndDateIdea.SubmissionYear AS StatusEndDateIdea_SubmissionYear
	, StatusEndDateIdea.Year AS StatusEndDateIdea_Year
	, StatusStartDateMigrant.DateValue AS StatusStartDateMigrant_DateValue
	, StatusStartDateMigrant.Day AS StatusStartDateMigrant_Day
	, StatusStartDateMigrant.DayOfWeek AS StatusStartDateMigrant_DayOfWeek
	, StatusStartDateMigrant.DayOfYear AS StatusStartDateMigrant_DayOfYear
	, StatusStartDateMigrant.Month AS StatusStartDateMigrant_Month
	, StatusStartDateMigrant.MonthName AS StatusStartDateMigrant_MonthName
	, StatusStartDateMigrant.SubmissionYear AS StatusStartDateMigrant_SubmissionYear
	, StatusStartDateMigrant.Year AS StatusStartDateMigrant_Year
	, StatusEndDateMigrant.DateValue AS StatusEndDateMigrant_DateValue
	, StatusEndDateMigrant.Day AS StatusEndDateMigrant_Day
	, StatusEndDateMigrant.DayOfWeek AS StatusEndDateMigrant_DayOfWeek
	, StatusEndDateMigrant.DayOfYear AS StatusEndDateMigrant_DayOfYear
	, StatusEndDateMigrant.Month AS StatusEndDateMigrant_Month
	, StatusEndDateMigrant.MonthName AS StatusEndDateMigrant_MonthName
	, StatusEndDateMigrant.SubmissionYear AS StatusEndDateMigrant_SubmissionYear
	, StatusEndDateMigrant.Year AS StatusEndDateMigrant_Year
	, StatusStartDateMilitaryConnectedStudent.DateValue AS StatusStartDateMilitaryConnectedStudent_DateValue
	, StatusStartDateMilitaryConnectedStudent.Day AS StatusStartDateMilitaryConnectedStudent_Day
	, StatusStartDateMilitaryConnectedStudent.DayOfWeek AS StatusStartDateMilitaryConnectedStudent_DayOfWeek
	, StatusStartDateMilitaryConnectedStudent.DayOfYear AS StatusStartDateMilitaryConnectedStudent_DayOfYear
	, StatusStartDateMilitaryConnectedStudent.Month AS StatusStartDateMilitaryConnectedStudent_Month
	, StatusStartDateMilitaryConnectedStudent.MonthName AS StatusStartDateMilitaryConnectedStudent_MonthName
	, StatusStartDateMilitaryConnectedStudent.SubmissionYear AS StatusStartDateMilitaryConnectedStudent_SubmissionYear
	, StatusStartDateMilitaryConnectedStudent.Year AS StatusStartDateMilitaryConnectedStudent_Year
	, StatusEndDateMilitaryConnectedStudent.DateValue AS StatusEndDateMilitaryConnectedStudent_DateValue
	, StatusEndDateMilitaryConnectedStudent.Day AS StatusEndDateMilitaryConnectedStudent_Day
	, StatusEndDateMilitaryConnectedStudent.DayOfWeek AS StatusEndDateMilitaryConnectedStudent_DayOfWeek
	, StatusEndDateMilitaryConnectedStudent.DayOfYear AS StatusEndDateMilitaryConnectedStudent_DayOfYear
	, StatusEndDateMilitaryConnectedStudent.Month AS StatusEndDateMilitaryConnectedStudent_Month
	, StatusEndDateMilitaryConnectedStudent.MonthName AS StatusEndDateMilitaryConnectedStudent_MonthName
	, StatusEndDateMilitaryConnectedStudent.SubmissionYear AS StatusEndDateMilitaryConnectedStudent_SubmissionYear
	, StatusEndDateMilitaryConnectedStudent.Year AS StatusEndDateMilitaryConnectedStudent_Year
	, StatusStartDatePerkinsLep.DateValue AS StatusStartDatePerkinsLep_DateValue
	, StatusStartDatePerkinsLep.Day AS StatusStartDatePerkinsLep_Day
	, StatusStartDatePerkinsLep.DayOfWeek AS StatusStartDatePerkinsLep_DayOfWeek
	, StatusStartDatePerkinsLep.DayOfYear AS StatusStartDatePerkinsLep_DayOfYear
	, StatusStartDatePerkinsLep.Month AS StatusStartDatePerkinsLep_Month
	, StatusStartDatePerkinsLep.MonthName AS StatusStartDatePerkinsLep_MonthName
	, StatusStartDatePerkinsLep.SubmissionYear AS StatusStartDatePerkinsLep_SubmissionYear
	, StatusStartDatePerkinsLep.Year AS StatusStartDatePerkinsLep_Year
	, StatusEndDatePerkinsLep.DateValue AS StatusEndDatePerkinsLep_DateValue
	, StatusEndDatePerkinsLep.Day AS StatusEndDatePerkinsLep_Day
	, StatusEndDatePerkinsLep.DayOfWeek AS StatusEndDatePerkinsLep_DayOfWeek
	, StatusEndDatePerkinsLep.DayOfYear AS StatusEndDatePerkinsLep_DayOfYear
	, StatusEndDatePerkinsLep.Month AS StatusEndDatePerkinsLep_Month
	, StatusEndDatePerkinsLep.MonthName AS StatusEndDatePerkinsLep_MonthName
	, StatusEndDatePerkinsLep.SubmissionYear AS StatusEndDatePerkinsLep_SubmissionYear
	, StatusEndDatePerkinsLep.Year AS StatusEndDatePerkinsLep_Year
	, StatusEndDateTitleIIIImmigrant.DateValue AS StatusEndDateTitleIIIImmigrant_DateValue
	, StatusEndDateTitleIIIImmigrant.Day AS StatusEndDateTitleIIIImmigrant_Day
	, StatusEndDateTitleIIIImmigrant.DayOfWeek AS StatusEndDateTitleIIIImmigrant_DayOfWeek
	, StatusEndDateTitleIIIImmigrant.DayOfYear AS StatusEndDateTitleIIIImmigrant_DayOfYear
	, StatusEndDateTitleIIIImmigrant.Month AS StatusEndDateTitleIIIImmigrant_Month
	, StatusEndDateTitleIIIImmigrant.MonthName AS StatusEndDateTitleIIIImmigrant_MonthName
	, StatusEndDateTitleIIIImmigrant.SubmissionYear AS StatusEndDateTitleIIIImmigrant_SubmissionYear
	, StatusEndDateTitleIIIImmigrant.Year AS StatusEndDateTitleIIIImmigrant_Year
	, StatusStartDateTitleIIIImmigrant.DateValue AS StatusStartDateTitleIIIImmigrant_DateValue
	, StatusStartDateTitleIIIImmigrant.Day AS StatusStartDateTitleIIIImmigrant_Day
	, StatusStartDateTitleIIIImmigrant.DayOfWeek AS StatusStartDateTitleIIIImmigrant_DayOfWeek
	, StatusStartDateTitleIIIImmigrant.DayOfYear AS StatusStartDateTitleIIIImmigrant_DayOfYear
	, StatusStartDateTitleIIIImmigrant.Month AS StatusStartDateTitleIIIImmigrant_Month
	, StatusStartDateTitleIIIImmigrant.MonthName AS StatusStartDateTitleIIIImmigrant_MonthName
	, StatusStartDateTitleIIIImmigrant.SubmissionYear AS StatusStartDateTitleIIIImmigrant_SubmissionYear
	, StatusStartDateTitleIIIImmigrant.Year AS StatusStartDateTitleIIIImmigrant_Year
	, TitleIIIStatus.TitleIIIProgramParticipationCode AS TitleIIIStatus_TitleIIIProgramParticipationCode
	, TitleIIIStatus.TitleIIIProgramParticipationDescription AS TitleIIIStatus_TitleIIIProgramParticipationDescription
	, TitleIIIStatus.TitleIIIProgramParticipationEdFactsCode AS TitleIIIStatus_TitleIIIProgramParticipationEdFactsCode
	, TitleIIIStatus.FormerEnglishLearnerYearStatusCode AS TitleIIIStatus_FormerEnglishLearnerYearStatusCode
	, TitleIIIStatus.FormerEnglishLearnerYearStatusDescription AS TitleIIIStatus_FormerEnglishLearnerYearStatusDescription
	, TitleIIIStatus.FormerEnglishLearnerYearStatusEdFactsCode AS TitleIIIStatus_FormerEnglishLearnerYearStatusEdFactsCode
	, TitleIIIStatus.ProficiencyStatusCode AS TitleIIIStatus_ProficiencyStatusCode
	, TitleIIIStatus.ProficiencyStatusDescription AS TitleIIIStatus_ProficiencyStatusDescription
	, TitleIIIStatus.ProficiencyStatusEdFactsCode AS TitleIIIStatus_ProficiencyStatusEdFactsCode
	, TitleIStatus.TitleIInstructionalServicesCode AS TitleIStatus_TitleIInstructionalServicesCode
	, TitleIStatus.TitleIInstructionalServicesDescription AS TitleIStatus_TitleIInstructionalServicesDescription
	, TitleIStatus.TitleIInstructionalServicesEdFactsCode AS TitleIStatus_TitleIInstructionalServicesEdFactsCode
	, TitleIStatus.TitleIProgramTypeCode AS TitleIStatus_TitleIProgramTypeCode
	, TitleIStatus.TitleIProgramTypeDescription AS TitleIStatus_TitleIProgramTypeDescription
	, TitleIStatus.TitleIProgramTypeEdFactsCode AS TitleIStatus_TitleIProgramTypeEdFactsCode
	, TitleIStatus.TitleISchoolStatusCode AS TitleIStatus_TitleISchoolStatusCode
	, TitleIStatus.TitleISchoolStatusDescription AS TitleIStatus_TitleISchoolStatusDescription
	, TitleIStatus.TitleISchoolStatusEdFactsCode AS TitleIStatus_TitleISchoolStatusEdFactsCode
	, TitleIStatus.TitleISupportServicesCode AS TitleIStatus_TitleISupportServicesCode
	, TitleIStatus.TitleISupportServicesDescription AS TitleIStatus_TitleISupportServicesDescription
	, TitleIStatus.TitleISupportServicesEdFactsCode AS TitleIStatus_TitleISupportServicesEdFactsCode
	, fact.FullTimeEquivalency
	, fact.StudentCount
FROM RDS.FactK12StudentEnrollments fact
JOIN RDS.DimSchoolYears SchoolYear
	ON Fact.SchoolYearId = SchoolYear.DimSchoolYearId
JOIN RDS.DimDates CountDate
	ON Fact.CountDateId = CountDate.DimDateId
JOIN RDS.DimDataCollections DataCollection
	ON Fact.DataCollectionId = DataCollection.DimDataCollectionId
JOIN RDS.DimSeas Sea
	ON Fact.SeaId = Sea.DimSeaId
JOIN RDS.DimIeus Ieu
	ON Fact.IeuId = Ieu.DimIeuId
JOIN RDS.DimLeas LeaAccountability
	ON Fact.LeaAccountabilityId = LeaAccountability.DimLeaID
JOIN RDS.DimLeas LeaAttendance
	ON Fact.LeaAttendanceId = LeaAttendance.DimLeaID
JOIN RDS.DimLeas LeaFunding
	ON Fact.LeaFundingId = LeaFunding.DimLeaID
JOIN RDS.DimLeas LeaGraduation
	ON Fact.LeaGraduationID = LeaGraduation.DimLeaID
JOIN RDS.DimLeas LeaIndividualizedEducationProgram
	ON Fact.LeaIndividualizedEducationProgramId = LeaIndividualizedEducationProgram.DimLeaID
JOIN RDS.DimK12Schools AccountableK12School
	ON Fact.AccountableK12SchoolId = AccountableK12School.DimK12SchoolId
JOIN RDS.DimEducationOrganizationNetworks EducationOrganizationNetwork
	ON Fact.EducationOrganizationNetworkId = EducationOrganizationNetwork.DimEducationOrganizationNetworkId
JOIN RDS.DimPeople K12Student
	ON Fact.K12StudentId = K12Student.DimPersonId
JOIN RDS.DimSchoolYears CohortGraduationYear
	ON Fact.CohortGraduationYearId = CohortGraduationYear.DimSchoolYearId
JOIN RDS.DimSchoolYears CohortYear
	ON Fact.CohortYearId = CohortYear.DimSchoolYearId
JOIN RDS.DimCteStatuses CteStatus
	ON Fact.CteStatusId = CteStatus.DimCteStatusId
JOIN RDS.DimGradeLevels EntryGradeLevel
	ON Fact.EntryGradeLevelId = EntryGradeLevel.DimGradeLevelId
JOIN RDS.DimGradeLevels ExitGradeLevel
	ON Fact.ExitGradeLevelId = ExitGradeLevel.DimGradeLevelId
JOIN RDS.DimDates EnrollmentEntryDate
	ON Fact.EnrollmentEntryDateId = EnrollmentEntryDate.DimDateId
JOIN RDS.DimDates EnrollmentExitDate
	ON Fact.EnrollmentExitDateId = EnrollmentExitDate.DimDateId
JOIN RDS.DimEnglishLearnerStatuses EnglishLearnerStatus
	ON Fact.EnglishLearnerStatusId = EnglishLearnerStatus.DimEnglishLearnerStatusId
JOIN RDS.DimK12EnrollmentStatuses K12EnrollmentStatus
	ON Fact.K12EnrollmentStatusId = K12EnrollmentStatus.DimK12EnrollmentStatusId
JOIN RDS.DimK12Demographics K12Demographic
	ON Fact.K12DemographicId = K12Demographic.DimK12DemographicId
JOIN RDS.DimIdeaStatuses IdeaStatus
	ON Fact.IdeaStatusId = IdeaStatus.DimIdeaStatusId
JOIN RDS.DimHomelessnessStatuses HomelessnessStatus
	ON Fact.HomelessnessStatusId = HomelessnessStatus.DimHomelessnessStatusId
JOIN RDS.DimEconomicallyDisadvantagedStatuses EconomicallyDisadvantagedStatus
	ON Fact.EconomicallyDisadvantagedStatusId = EconomicallyDisadvantagedStatus.DimEconomicallyDisadvantagedStatusId
JOIN RDS.DimFosterCareStatuses FosterCareStatus
	ON Fact.FosterCareStatusId = FosterCareStatus.DimFosterCareStatusId
JOIN RDS.DimImmigrantStatuses ImmigrantStatus
	ON Fact.ImmigrantStatusId = ImmigrantStatus.DimImmigrantStatusId
JOIN RDS.DimLanguages LanguageHome
	ON Fact.LanguageHomeId = LanguageHome.DimLanguageId
JOIN RDS.DimLanguages LanguageNative
	ON Fact.LanguageNativeId = LanguageNative.DimLanguageId
JOIN RDS.DimMigrantStatuses MigrantStatus
	ON Fact.MigrantStatusId = MigrantStatus.DimMigrantStatusId
JOIN RDS.DimMilitaryStatuses MilitaryStatus
	ON Fact.MilitaryStatusId = MilitaryStatus.DimMilitaryStatusId
JOIN RDS.DimNOrDStatuses NOrDStatus
	ON Fact.NOrDStatusId = NOrDStatus.DimNOrDStatusId
JOIN RDS.DimIdeaDisabilityTypes PrimaryDisabilityType
	ON Fact.PrimaryDisabilityTypeId = PrimaryDisabilityType.DimIdeaDisabilityTypeId
JOIN RDS.DimIdeaDisabilityTypes SecondaryDisabilityType
	ON Fact.SecondaryDisabilityTypeId = SecondaryDisabilityType.DimIdeaDisabilityTypeId
JOIN RDS.DimDates ProjectedGraduationDate
	ON Fact.ProjectedGraduationDateId = ProjectedGraduationDate.DimDateId
JOIN RDS.DimDates StatusStartDateEconomicallyDisadvantaged
	ON Fact.StatusStartDateEconomicallyDisadvantagedId = StatusStartDateEconomicallyDisadvantaged.DimDateId
JOIN RDS.DimDates StatusEndDateEconomicallyDisadvantaged
	ON Fact.StatusEndDateEconomicallyDisadvantagedId = StatusEndDateEconomicallyDisadvantaged.DimDateId
JOIN RDS.DimDates StatusStartDateEnglishLearner
	ON Fact.StatusStartDateEnglishLearnerId = StatusStartDateEnglishLearner.DimDateId
JOIN RDS.DimDates StatusEndDateEnglishLearner
	ON Fact.StatusEndDateEnglishLearnerId = StatusEndDateEnglishLearner.DimDateId
JOIN RDS.DimDates StatusStartDateHomelessness
	ON Fact.StatusStartDateHomelessnessId = StatusStartDateHomelessness.DimDateId
JOIN RDS.DimDates StatusEndDateHomelessness
	ON Fact.StatusEndDateHomelessnessId = StatusEndDateHomelessness.DimDateId
JOIN RDS.DimDates StatusStartDateIdea
	ON Fact.StatusStartDateIdeaId = StatusStartDateIdea.DimDateId
JOIN RDS.DimDates StatusEndDateIdea
	ON Fact.StatusEndDateIdeaId = StatusEndDateIdea.DimDateId
JOIN RDS.DimDates StatusStartDateMigrant
	ON Fact.StatusStartDateMigrantId = StatusStartDateMigrant.DimDateId
JOIN RDS.DimDates StatusEndDateMigrant
	ON Fact.StatusEndDateMigrantId = StatusEndDateMigrant.DimDateId
JOIN RDS.DimDates StatusStartDateMilitaryConnectedStudent
	ON Fact.StatusStartDateMilitaryConnectedStudentId = StatusStartDateMilitaryConnectedStudent.DimDateId
JOIN RDS.DimDates StatusEndDateMilitaryConnectedStudent
	ON Fact.StatusEndDateMilitaryConnectedStudentId = StatusEndDateMilitaryConnectedStudent.DimDateId
JOIN RDS.DimDates StatusStartDatePerkinsLep
	ON Fact.StatusStartDatePerkinsLepId = StatusStartDatePerkinsLep.DimDateId
JOIN RDS.DimDates StatusEndDatePerkinsLep
	ON Fact.StatusEndDatePerkinsLepId = StatusEndDatePerkinsLep.DimDateId
JOIN RDS.DimDates StatusEndDateTitleIIIImmigrant
	ON Fact.StatusEndDateTitleIIIImmigrantId = StatusEndDateTitleIIIImmigrant.DimDateId
JOIN RDS.DimDates StatusStartDateTitleIIIImmigrant
	ON Fact.StatusStartDateTitleIIIImmigrantId = StatusStartDateTitleIIIImmigrant.DimDateId
JOIN RDS.DimTitleIIIStatuses TitleIIIStatus
	ON Fact.TitleIIIStatusId = TitleIIIStatus.DimTitleIIIStatusId
JOIN RDS.DimTitleIStatuses TitleIStatus
	ON Fact.TitleIStatusId = TitleIStatus.DimTitleIStatusId
GO
