USE [CEDS-Data-Warehouse-V9-2-0-0]
GO
/****** Object:  View [dbo].[vwFactK12StaffCountsParquet]    Script Date: 5/2/2022 3:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vwFactK12StaffCountsParquet] AS SELECT fact.FactK12StaffCountId
	, SchoolYear.SchoolYear AS SchoolYear_SchoolYear
	, SchoolYear.SessionBeginDate AS SchoolYear_SessionBeginDate
	, SchoolYear.SessionEndDate AS SchoolYear_SessionEndDate
	, FactType.FactTypeCode AS FactType_FactTypeCode
	, FactType.FactTypeDescription AS FactType_FactTypeDescription
	, Sea.SeaOrganizationName AS Sea_SeaOrganizationName
	, Sea.SeaIdentifierSea AS Sea_SeaIdentifierSea
	, Sea.StateAnsiCode AS Sea_StateAnsiCode
	, Sea.StateAbbreviationCode AS Sea_StateAbbreviationCode
	, Sea.StateAbbreviationDescription AS Sea_StateAbbreviationDescription
	, Sea.MailingAddressStreetNumberAndName AS Sea_MailingAddressStreetNumberAndName
	, Sea.MailingAddressApartmentRoomOrSuiteNumber AS Sea_MailingAddressApartmentRoomOrSuiteNumber
	, Sea.MailingAddressCity AS Sea_MailingAddressCity
	, Sea.MailingAddressPostalCode AS Sea_MailingAddressPostalCode
	, Sea.MailingAddressStateAbbreviation AS Sea_MailingAddressStateAbbreviation
	, Sea.MailingAddressCountyAnsiCode AS Sea_MailingAddressCountyAnsiCode
	, Sea.PhysicalAddressStreetNumberAndName AS Sea_PhysicalAddressStreetNumberAndName
	, Sea.PhysicalAddressApartmentRoomOrSuiteNumber AS Sea_PhysicalAddressApartmentRoomOrSuiteNumber
	, Sea.PhysicalAddressCity AS Sea_PhysicalAddressCity
	, Sea.PhysicalAddressPostalCode AS Sea_PhysicalAddressPostalCode
	, Sea.PhysicalAddressStateAbbreviation AS Sea_PhysicalAddressStateAbbreviation
	, Sea.PhysicalAddressCountyAnsiCode AS Sea_PhysicalAddressCountyAnsiCode
	, Sea.TelephoneNumber AS Sea_TelephoneNumber
	, Sea.WebSiteAddress AS Sea_WebSiteAddress
	, Sea.CteGraduationRateInclusionCode AS Sea_CteGraduationRateInclusionCode
	, Sea.CteGraduationRateInclusionDescription AS Sea_CteGraduationRateInclusionDescription
	, Sea.CteGraduationRateInclusionEdFactsCode AS Sea_CteGraduationRateInclusionEdFactsCode
	, Sea.RecordStartDateTime AS Sea_RecordStartDateTime
	, Sea.RecordEndDateTime AS Sea_RecordEndDateTime
	, Lea.IeuOrganizationName AS Lea_IeuOrganizationName
	, Lea.IeuOrganizationIdentifierSea AS Lea_IeuOrganizationIdentifierSea
	, Lea.StateAnsiCode AS Lea_StateAnsiCode
	, Lea.StateAbbreviationCode AS Lea_StateAbbreviationCode
	, Lea.StateAbbreviationDescription AS Lea_StateAbbreviationDescription
	, Lea.SeaOrganizationName AS Lea_SeaOrganizationName
	, Lea.SeaIdentifierSea AS Lea_SeaIdentifierSea
	, Lea.LeaName AS Lea_LeaName
	, Lea.LeaIdentifierNces AS Lea_LeaIdentifierNces
	, Lea.LeaIdentifierSea AS Lea_LeaIdentifierSea
	, Lea.PriorLeaIdentifierSea AS Lea_PriorLeaIdentifierSea
	, Lea.LeaSupervisoryUnionIdentificationNumber AS Lea_LeaSupervisoryUnionIdentificationNumber
	, Lea.ReportedFederally AS Lea_ReportedFederally
	, Lea.LeaTypeCode AS Lea_LeaTypeCode
	, Lea.LeaTypeDescription AS Lea_LeaTypeDescription
	, Lea.LeaTypeEdFactsCode AS Lea_LeaTypeEdFactsCode
	, Lea.MailingAddressStreetNumberAndName AS Lea_MailingAddressStreetNumberAndName
	, Lea.MailingAddressApartmentRoomOrSuiteNumber AS Lea_MailingAddressApartmentRoomOrSuiteNumber
	, Lea.MailingAddressCity AS Lea_MailingAddressCity
	, Lea.MailingAddressPostalCode AS Lea_MailingAddressPostalCode
	, Lea.MailingAddressStateAbbreviation AS Lea_MailingAddressStateAbbreviation
	, Lea.MailingAddressCountyAnsiCode AS Lea_MailingAddressCountyAnsiCode
	, Lea.PhysicalAddressStreetNumberAndName AS Lea_PhysicalAddressStreetNumberAndName
	, Lea.PhysicalAddressApartmentRoomOrSuiteNumber AS Lea_PhysicalAddressApartmentRoomOrSuiteNumber
	, Lea.PhysicalAddressCity AS Lea_PhysicalAddressCity
	, Lea.PhysicalAddressPostalCode AS Lea_PhysicalAddressPostalCode
	, Lea.PhysicalAddressStateAbbreviation AS Lea_PhysicalAddressStateAbbreviation
	, Lea.PhysicalAddressCountyAnsiCode AS Lea_PhysicalAddressCountyAnsiCode
	, Lea.Longitude AS Lea_Longitude
	, Lea.Latitude AS Lea_Latitude
	, Lea.TelephoneNumber AS Lea_TelephoneNumber
	, Lea.WebSiteAddress AS Lea_WebSiteAddress
	, Lea.OutOfStateIndicator AS Lea_OutOfStateIndicator
	, Lea.LeaOperationalStatus AS Lea_LeaOperationalStatus
	, Lea.LeaOperationalStatusEdFactsCode AS Lea_LeaOperationalStatusEdFactsCode
	, Lea.OperationalStatusEffectiveDate AS Lea_OperationalStatusEffectiveDate
	, Lea.CharterLeaStatus AS Lea_CharterLeaStatus
	, Lea.ReconstitutedStatus AS Lea_ReconstitutedStatus
	, Lea.McKinneyVentoSubgrantRecipient AS Lea_McKinneyVentoSubgrantRecipient
	, Lea.NameOfInstitution AS Lea_NameOfInstitution
	, Lea.EffectiveDate AS Lea_EffectiveDate
	, Lea.RecordStartDateTime AS Lea_RecordStartDateTime
	, Lea.RecordEndDateTime AS Lea_RecordEndDateTime
	, K12School.SeaOrganizationName AS K12School_SeaOrganizationName
	, K12School.SeaIdentifierSea AS K12School_SeaIdentifierSea
	, K12School.StateAnsiCode AS K12School_StateAnsiCode
	, K12School.StateAbbreviationCode AS K12School_StateAbbreviationCode
	, K12School.StateAbbreviationDescription AS K12School_StateAbbreviationDescription
	, K12School.IeuOrganizationName AS K12School_IeuOrganizationName
	, K12School.IeuOrganizationIdentifierSea AS K12School_IeuOrganizationIdentifierSea
	, K12School.LeaName AS K12School_LeaName
	, K12School.LeaIdentifierNces AS K12School_LeaIdentifierNces
	, K12School.LeaIdentifierSea AS K12School_LeaIdentifierSea
	, K12School.PriorLeaIdentifierSea AS K12School_PriorLeaIdentifierSea
	, K12School.LeaTypeCode AS K12School_LeaTypeCode
	, K12School.LeaTypeDescription AS K12School_LeaTypeDescription
	, K12School.LeaTypeEdFactsCode AS K12School_LeaTypeEdFactsCode
	, K12School.NameOfInstitution AS K12School_NameOfInstitution
	, K12School.SchoolIdentifierNces AS K12School_SchoolIdentifierNces
	, K12School.SchoolIdentifierSea AS K12School_SchoolIdentifierSea
	, K12School.PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea AS K12School_PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, K12School.SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea AS K12School_SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, K12School.OperationalStatusEffectiveDate AS K12School_OperationalStatusEffectiveDate
	, K12School.PriorSchoolIdentifierSea AS K12School_PriorSchoolIdentifierSea
	, K12School.CharterSchoolIndicator AS K12School_CharterSchoolIndicator
	, K12School.CharterSchoolContractIdNumber AS K12School_CharterSchoolContractIdNumber
	, K12School.CharterSchoolContractApprovalDate AS K12School_CharterSchoolContractApprovalDate
	, K12School.CharterSchoolContractRenewalDate AS K12School_CharterSchoolContractRenewalDate
	, K12School.ReportedFederally AS K12School_ReportedFederally
	, K12School.SchoolTypeCode AS K12School_SchoolTypeCode
	, K12School.SchoolTypeDescription AS K12School_SchoolTypeDescription
	, K12School.SchoolTypeEdFactsCode AS K12School_SchoolTypeEdFactsCode
	, K12School.MailingAddressStreetNumberAndName AS K12School_MailingAddressStreetNumberAndName
	, K12School.MailingAddressApartmentRoomOrSuiteNumber AS K12School_MailingAddressApartmentRoomOrSuiteNumber
	, K12School.MailingAddressCity AS K12School_MailingAddressCity
	, K12School.MailingAddressPostalCode AS K12School_MailingAddressPostalCode
	, K12School.MailingAddressStateAbbreviation AS K12School_MailingAddressStateAbbreviation
	, K12School.MailingAddressCountyAnsiCode AS K12School_MailingAddressCountyAnsiCode
	, K12School.PhysicalAddressStreetNumberAndName AS K12School_PhysicalAddressStreetNumberAndName
	, K12School.PhysicalAddressApartmentRoomOrSuiteNumber AS K12School_PhysicalAddressApartmentRoomOrSuiteNumber
	, K12School.PhysicalAddressCity AS K12School_PhysicalAddressCity
	, K12School.PhysicalAddressPostalCode AS K12School_PhysicalAddressPostalCode
	, K12School.PhysicalAddressStateAbbreviation AS K12School_PhysicalAddressStateAbbreviation
	, K12School.PhysicalAddressCountyAnsiCode AS K12School_PhysicalAddressCountyAnsiCode
	, K12School.Longitude AS K12School_Longitude
	, K12School.Latitude AS K12School_Latitude
	, K12School.TelephoneNumber AS K12School_TelephoneNumber
	, K12School.WebSiteAddress AS K12School_WebSiteAddress
	, K12School.OutOfStateIndicator AS K12School_OutOfStateIndicator
	, K12School.SchoolOperationalStatus AS K12School_SchoolOperationalStatus
	, K12School.SchoolOperationalStatusEdFactsCode AS K12School_SchoolOperationalStatusEdFactsCode
	, K12School.SchoolOperationalStatusEffectiveDate AS K12School_SchoolOperationalStatusEffectiveDate
	, K12School.CharterSchoolStatus AS K12School_CharterSchoolStatus
	, K12School.ReconstitutedStatus AS K12School_ReconstitutedStatus
	, K12School.AdministrativeFundingControlCode AS K12School_AdministrativeFundingControlCode
	, K12School.AdministrativeFundingControlDescription AS K12School_AdministrativeFundingControlDescription
	, K12School.RecordStartDateTime AS K12School_RecordStartDateTime
	, K12School.RecordEndDateTime AS K12School_RecordEndDateTime
	, K12Staff.FirstName AS K12Staff_FirstName
	, K12Staff.MiddleName AS K12Staff_MiddleName
	, K12Staff.LastOrSurname AS K12Staff_LastOrSurname
	, K12Staff.PersonalTitleOrPrefix AS K12Staff_PersonalTitleOrPrefix
	, K12Staff.BirthDate AS K12Staff_BirthDate
	, K12Staff.PositionTitle AS K12Staff_PositionTitle
	, K12Staff.ElectronicMailAddressHome AS K12Staff_ElectronicMailAddressHome
	, K12Staff.ElectronicMailAddressWork AS K12Staff_ElectronicMailAddressWork
	, K12Staff.ElectronicMailAddressOrganizational AS K12Staff_ElectronicMailAddressOrganizational
	, K12Staff.TelephoneNumberHome AS K12Staff_TelephoneNumberHome
	, K12Staff.TelephoneNumberWork AS K12Staff_TelephoneNumberWork
	, K12Staff.TelephoneNumberMobile AS K12Staff_TelephoneNumberMobile
	, K12Staff.TelephoneNumberFax AS K12Staff_TelephoneNumberFax
	, K12Staff.EarlyLearningChidIdentifierState AS K12Staff_EarlyLearningChidIdentifierState
	, K12Staff.K12StudentIdentifierState AS K12Staff_K12StudentIdentifierState
	, K12Staff.K12StudentIdentifierDistrict AS K12Staff_K12StudentIdentifierDistrict
	, K12Staff.K12StudentIdentifierNationalMigrant AS K12Staff_K12StudentIdentifierNationalMigrant
	, K12Staff.PsStudentIdentifierState AS K12Staff_PsStudentIdentifierState
	, K12Staff.AeStudentIdentifierState AS K12Staff_AeStudentIdentifierState
	, K12Staff.WorkforcePersonIdentifierState AS K12Staff_WorkforcePersonIdentifierState
	, K12Staff.EarlyLearningStaffMemberIdentifierState AS K12Staff_EarlyLearningStaffMemberIdentifierState
	, K12Staff.K12StaffMemberIdentiferState AS K12Staff_K12StaffMemberIdentiferState
	, K12Staff.K12StaffMemberIdentiferDistrict AS K12Staff_K12StaffMemberIdentiferDistrict
	, K12Staff.PsStaffMemberIdentiferState AS K12Staff_PsStaffMemberIdentiferState
	, K12Staff.PersonIdentifierDriversLicense AS K12Staff_PersonIdentifierDriversLicense
	, K12Staff.IsActiveEarlyLearningChild AS K12Staff_IsActiveEarlyLearningChild
	, K12Staff.IsActiveK12Student AS K12Staff_IsActiveK12Student
	, K12Staff.IsActivePsStudent AS K12Staff_IsActivePsStudent
	, K12Staff.IsActiveAeStudent AS K12Staff_IsActiveAeStudent
	, K12Staff.IsActiveWorkforcePerson AS K12Staff_IsActiveWorkforcePerson
	, K12Staff.IsActiveEarlyLearningStaffMember AS K12Staff_IsActiveEarlyLearningStaffMember
	, K12Staff.IsActiveK12StaffMember AS K12Staff_IsActiveK12StaffMember
	, K12Staff.IsActivePsStaffMember AS K12Staff_IsActivePsStaffMember
	, K12Staff.RecordStartDateTime AS K12Staff_RecordStartDateTime
	, K12Staff.RecordEndDateTime AS K12Staff_RecordEndDateTime
	, K12StaffStatus.SpecialEducationAgeGroupTaughtCode AS K12StaffStatus_SpecialEducationAgeGroupTaughtCode
	, K12StaffStatus.SpecialEducationAgeGroupTaughtDescription AS K12StaffStatus_SpecialEducationAgeGroupTaughtDescription
	, K12StaffStatus.SpecialEducationAgeGroupTaughtEdFactsCode AS K12StaffStatus_SpecialEducationAgeGroupTaughtEdFactsCode
	, K12StaffStatus.CertificationStatusCode AS K12StaffStatus_CertificationStatusCode
	, K12StaffStatus.CertificationStatusDescription AS K12StaffStatus_CertificationStatusDescription
	, K12StaffStatus.CertificationStatusEdFactsCode AS K12StaffStatus_CertificationStatusEdFactsCode
	, K12StaffStatus.QualificationStatusCode AS K12StaffStatus_QualificationStatusCode
	, K12StaffStatus.QualificationStatusDescription AS K12StaffStatus_QualificationStatusDescription
	, K12StaffStatus.QualificationStatusEdFactsCode AS K12StaffStatus_QualificationStatusEdFactsCode
	, K12StaffStatus.EdFactsTeacherInexperiencedStatusCode AS K12StaffStatus_EdFactsTeacherInexperiencedStatusCode
	, K12StaffStatus.EdFactsTeacherInexperiencedStatusDescription AS K12StaffStatus_EdFactsTeacherInexperiencedStatusDescription
	, K12StaffStatus.EdFactsTeacherInexperiencedStatusEdFactsCode AS K12StaffStatus_EdFactsTeacherInexperiencedStatusEdFactsCode
	, K12StaffStatus.EmergencyOrProvisionalCredentialStatusCode AS K12StaffStatus_EmergencyOrProvisionalCredentialStatusCode
	, K12StaffStatus.EmergencyOrProvisionalCredentialStatusDescription AS K12StaffStatus_EmergencyOrProvisionalCredentialStatusDescription
	, K12StaffStatus.EmergencyOrProvisionalCredentialStatusEdFactsCode AS K12StaffStatus_EmergencyOrProvisionalCredentialStatusEdFactsCode
	, K12StaffStatus.EdFactsTeacherOutOfFieldStatusCode AS K12StaffStatus_EdFactsTeacherOutOfFieldStatusCode
	, K12StaffStatus.EdFactsTeacherOutOfFieldStatusDescription AS K12StaffStatus_EdFactsTeacherOutOfFieldStatusDescription
	, K12StaffStatus.EdFactsTeacherOutOfFieldStatusEdFactsCode AS K12StaffStatus_EdFactsTeacherOutOfFieldStatusEdFactsCode
	, K12StaffCategory.K12StaffClassificationCode AS K12StaffCategory_K12StaffClassificationCode
	, K12StaffCategory.K12StaffClassificationDescription AS K12StaffCategory_K12StaffClassificationDescription
	, K12StaffCategory.K12StaffClassificationEdFactsCode AS K12StaffCategory_K12StaffClassificationEdFactsCode
	, K12StaffCategory.SpecialEducationSupportServicesCategoryCode AS K12StaffCategory_SpecialEducationSupportServicesCategoryCode
	, K12StaffCategory.SpecialEducationSupportServicesCategoryDescription AS K12StaffCategory_SpecialEducationSupportServicesCategoryDescription
	, K12StaffCategory.SpecialEducationSupportServicesCategoryEdFactsCode AS K12StaffCategory_SpecialEducationSupportServicesCategoryEdFactsCode
	, K12StaffCategory.TitleIProgramStaffCategoryCode AS K12StaffCategory_TitleIProgramStaffCategoryCode
	, K12StaffCategory.TitleIProgramStaffCategoryDescription AS K12StaffCategory_TitleIProgramStaffCategoryDescription
	, K12StaffCategory.TitleIProgramStaffCategoryEdFactsCode AS K12StaffCategory_TitleIProgramStaffCategoryEdFactsCode
	, TitleIIIStatus.TitleIIIProgramParticipationCode AS TitleIIIStatus_TitleIIIProgramParticipationCode
	, TitleIIIStatus.TitleIIIProgramParticipationDescription AS TitleIIIStatus_TitleIIIProgramParticipationDescription
	, TitleIIIStatus.TitleIIIProgramParticipationEdFactsCode AS TitleIIIStatus_TitleIIIProgramParticipationEdFactsCode
	, TitleIIIStatus.FormerEnglishLearnerYearStatusCode AS TitleIIIStatus_FormerEnglishLearnerYearStatusCode
	, TitleIIIStatus.FormerEnglishLearnerYearStatusDescription AS TitleIIIStatus_FormerEnglishLearnerYearStatusDescription
	, TitleIIIStatus.FormerEnglishLearnerYearStatusEdFactsCode AS TitleIIIStatus_FormerEnglishLearnerYearStatusEdFactsCode
	, TitleIIIStatus.ProficiencyStatusCode AS TitleIIIStatus_ProficiencyStatusCode
	, TitleIIIStatus.ProficiencyStatusDescription AS TitleIIIStatus_ProficiencyStatusDescription
	, TitleIIIStatus.ProficiencyStatusEdFactsCode AS TitleIIIStatus_ProficiencyStatusEdFactsCode
	, fact.StaffCount
	, fact.StaffFullTimeEquivalency
FROM RDS.FactK12StaffCounts fact
JOIN RDS.DimSchoolYears SchoolYear
	ON Fact.SchoolYearId = SchoolYear.DimSchoolYearId
JOIN RDS.DimFactTypes FactType
	ON Fact.FactTypeId = FactType.DimFactTypeId
JOIN RDS.DimSeas Sea
	ON Fact.SeaId = Sea.DimSeaId
JOIN RDS.DimLeas Lea
	ON Fact.LeaId = Lea.DimLeaID
JOIN RDS.DimK12Schools K12School
	ON Fact.K12SchoolId = K12School.DimK12SchoolId
JOIN RDS.DimPeople K12Staff
	ON Fact.K12StaffId = K12Staff.DimPersonId
JOIN RDS.DimK12StaffStatuses K12StaffStatus
	ON Fact.K12StaffStatusId = K12StaffStatus.DimK12StaffStatusId
JOIN RDS.DimK12StaffCategories K12StaffCategory
	ON Fact.K12StaffCategoryId = K12StaffCategory.DimK12StaffCategoryId
JOIN RDS.DimTitleIIIStatuses TitleIIIStatus
	ON Fact.TitleIIIStatusId = TitleIIIStatus.DimTitleIIIStatusId
GO
