USE [CEDS-Data-Warehouse-V9-2-0-0]
GO
/****** Object:  View [dbo].[vwFactSpecialEducationParquet]    Script Date: 5/2/2022 3:48:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vwFactSpecialEducationParquet] AS SELECT fact.FactSpecialEducationId
	, SchoolYear.SchoolYear AS SchoolYear_SchoolYear
	, SchoolYear.SessionBeginDate AS SchoolYear_SessionBeginDate
	, SchoolYear.SessionEndDate AS SchoolYear_SessionEndDate
	, DataCollection.SourceSystemDataCollectionIdentifier AS DataCollection_SourceSystemDataCollectionIdentifier
	, DataCollection.SourceSystemName AS DataCollection_SourceSystemName
	, DataCollection.DataCollectionName AS DataCollection_DataCollectionName
	, DataCollection.DataCollectionDescription AS DataCollection_DataCollectionDescription
	, DataCollection.DataCollectionOpenDate AS DataCollection_DataCollectionOpenDate
	, DataCollection.DataCollectionCloseDate AS DataCollection_DataCollectionCloseDate
	, DataCollection.DataCollectionAcademicSchoolYear AS DataCollection_DataCollectionAcademicSchoolYear
	, DataCollection.DataCollectionSchoolYear AS DataCollection_DataCollectionSchoolYear
	, Sea.SeaOrganizationName AS Sea_SeaOrganizationName
	, Sea.SeaIdentifierSea AS Sea_SeaIdentifierSea
	, Sea.StateAnsiCode AS Sea_StateAnsiCode
	, Sea.StateAbbreviationCode AS Sea_StateAbbreviationCode
	, Sea.StateAbbreviationDescription AS Sea_StateAbbreviationDescription
	, Sea.MailingAddressStreetNumberAndName AS Sea_MailingAddressStreetNumberAndName
	, Sea.MailingAddressApartmentRoomOrSuiteNumber AS Sea_MailingAddressApartmentRoomOrSuiteNumber
	, Sea.MailingAddressCity AS Sea_MailingAddressCity
	, Sea.MailingAddressPostalCode AS Sea_MailingAddressPostalCode
	, Sea.MailingAddressStateAbbreviation AS Sea_MailingAddressStateAbbreviation
	, Sea.MailingAddressCountyAnsiCode AS Sea_MailingAddressCountyAnsiCode
	, Sea.PhysicalAddressStreetNumberAndName AS Sea_PhysicalAddressStreetNumberAndName
	, Sea.PhysicalAddressApartmentRoomOrSuiteNumber AS Sea_PhysicalAddressApartmentRoomOrSuiteNumber
	, Sea.PhysicalAddressCity AS Sea_PhysicalAddressCity
	, Sea.PhysicalAddressPostalCode AS Sea_PhysicalAddressPostalCode
	, Sea.PhysicalAddressStateAbbreviation AS Sea_PhysicalAddressStateAbbreviation
	, Sea.PhysicalAddressCountyAnsiCode AS Sea_PhysicalAddressCountyAnsiCode
	, Sea.TelephoneNumber AS Sea_TelephoneNumber
	, Sea.WebSiteAddress AS Sea_WebSiteAddress
	, Sea.CteGraduationRateInclusionCode AS Sea_CteGraduationRateInclusionCode
	, Sea.CteGraduationRateInclusionDescription AS Sea_CteGraduationRateInclusionDescription
	, Sea.CteGraduationRateInclusionEdFactsCode AS Sea_CteGraduationRateInclusionEdFactsCode
	, Sea.RecordStartDateTime AS Sea_RecordStartDateTime
	, Sea.RecordEndDateTime AS Sea_RecordEndDateTime
	, Ieu.IeuOrganizationName AS Ieu_IeuOrganizationName
	, Ieu.IeuOrganizationIdentifierSea AS Ieu_IeuOrganizationIdentifierSea
	, Ieu.SeaOrganizationName AS Ieu_SeaOrganizationName
	, Ieu.SeaIdentifierSea AS Ieu_SeaIdentifierSea
	, Ieu.StateANSICode AS Ieu_StateANSICode
	, Ieu.StateAbbreviationCode AS Ieu_StateAbbreviationCode
	, Ieu.StateAbbreviationDescription AS Ieu_StateAbbreviationDescription
	, Ieu.MailingAddressStreetNumberAndName AS Ieu_MailingAddressStreetNumberAndName
	, Ieu.MailingAddressApartmentRoomOrSuiteNumber AS Ieu_MailingAddressApartmentRoomOrSuiteNumber
	, Ieu.MailingAddressCity AS Ieu_MailingAddressCity
	, Ieu.MailingAddressStateAbbreviation AS Ieu_MailingAddressStateAbbreviation
	, Ieu.MailingAddressPostalCode AS Ieu_MailingAddressPostalCode
	, Ieu.MailingAddressCountyAnsiCode AS Ieu_MailingAddressCountyAnsiCode
	, Ieu.OutOfStateIndicator AS Ieu_OutOfStateIndicator
	, Ieu.OrganizationOperationalStatus AS Ieu_OrganizationOperationalStatus
	, Ieu.OperationalStatusEffectiveDate AS Ieu_OperationalStatusEffectiveDate
	, Ieu.PhysicalAddressStreetNumberAndName AS Ieu_PhysicalAddressStreetNumberAndName
	, Ieu.PhysicalAddressApartmentRoomOrSuiteNumber AS Ieu_PhysicalAddressApartmentRoomOrSuiteNumber
	, Ieu.PhysicalAddressCity AS Ieu_PhysicalAddressCity
	, Ieu.PhysicalAddressPostalCode AS Ieu_PhysicalAddressPostalCode
	, Ieu.PhysicalAddressStateAbbreviation AS Ieu_PhysicalAddressStateAbbreviation
	, Ieu.PhysicalAddressCountyAnsiCode AS Ieu_PhysicalAddressCountyAnsiCode
	, Ieu.TelephoneNumber AS Ieu_TelephoneNumber
	, Ieu.WebSiteAddress AS Ieu_WebSiteAddress
	, Ieu.OrganizationRegionGeoJson AS Ieu_OrganizationRegionGeoJson
	, Ieu.Latitude AS Ieu_Latitude
	, Ieu.Longitude AS Ieu_Longitude
	, Ieu.RecordStartDateTime AS Ieu_RecordStartDateTime
	, Ieu.RecordEndDateTime AS Ieu_RecordEndDateTime
	, LeaAccountability.IeuOrganizationName AS LeaAccountability_IeuOrganizationName
	, LeaAccountability.IeuOrganizationIdentifierSea AS LeaAccountability_IeuOrganizationIdentifierSea
	, LeaAccountability.StateAnsiCode AS LeaAccountability_StateAnsiCode
	, LeaAccountability.StateAbbreviationCode AS LeaAccountability_StateAbbreviationCode
	, LeaAccountability.StateAbbreviationDescription AS LeaAccountability_StateAbbreviationDescription
	, LeaAccountability.SeaOrganizationName AS LeaAccountability_SeaOrganizationName
	, LeaAccountability.SeaIdentifierSea AS LeaAccountability_SeaIdentifierSea
	, LeaAccountability.LeaName AS LeaAccountability_LeaName
	, LeaAccountability.LeaIdentifierNces AS LeaAccountability_LeaIdentifierNces
	, LeaAccountability.LeaIdentifierSea AS LeaAccountability_LeaIdentifierSea
	, LeaAccountability.PriorLeaIdentifierSea AS LeaAccountability_PriorLeaIdentifierSea
	, LeaAccountability.LeaSupervisoryUnionIdentificationNumber AS LeaAccountability_LeaSupervisoryUnionIdentificationNumber
	, LeaAccountability.ReportedFederally AS LeaAccountability_ReportedFederally
	, LeaAccountability.LeaTypeCode AS LeaAccountability_LeaTypeCode
	, LeaAccountability.LeaTypeDescription AS LeaAccountability_LeaTypeDescription
	, LeaAccountability.LeaTypeEdFactsCode AS LeaAccountability_LeaTypeEdFactsCode
	, LeaAccountability.MailingAddressStreetNumberAndName AS LeaAccountability_MailingAddressStreetNumberAndName
	, LeaAccountability.MailingAddressApartmentRoomOrSuiteNumber AS LeaAccountability_MailingAddressApartmentRoomOrSuiteNumber
	, LeaAccountability.MailingAddressCity AS LeaAccountability_MailingAddressCity
	, LeaAccountability.MailingAddressPostalCode AS LeaAccountability_MailingAddressPostalCode
	, LeaAccountability.MailingAddressStateAbbreviation AS LeaAccountability_MailingAddressStateAbbreviation
	, LeaAccountability.MailingAddressCountyAnsiCode AS LeaAccountability_MailingAddressCountyAnsiCode
	, LeaAccountability.PhysicalAddressStreetNumberAndName AS LeaAccountability_PhysicalAddressStreetNumberAndName
	, LeaAccountability.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaAccountability_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaAccountability.PhysicalAddressCity AS LeaAccountability_PhysicalAddressCity
	, LeaAccountability.PhysicalAddressPostalCode AS LeaAccountability_PhysicalAddressPostalCode
	, LeaAccountability.PhysicalAddressStateAbbreviation AS LeaAccountability_PhysicalAddressStateAbbreviation
	, LeaAccountability.PhysicalAddressCountyAnsiCode AS LeaAccountability_PhysicalAddressCountyAnsiCode
	, LeaAccountability.Longitude AS LeaAccountability_Longitude
	, LeaAccountability.Latitude AS LeaAccountability_Latitude
	, LeaAccountability.TelephoneNumber AS LeaAccountability_TelephoneNumber
	, LeaAccountability.WebSiteAddress AS LeaAccountability_WebSiteAddress
	, LeaAccountability.OutOfStateIndicator AS LeaAccountability_OutOfStateIndicator
	, LeaAccountability.LeaOperationalStatus AS LeaAccountability_LeaOperationalStatus
	, LeaAccountability.LeaOperationalStatusEdFactsCode AS LeaAccountability_LeaOperationalStatusEdFactsCode
	, LeaAccountability.OperationalStatusEffectiveDate AS LeaAccountability_OperationalStatusEffectiveDate
	, LeaAccountability.CharterLeaStatus AS LeaAccountability_CharterLeaStatus
	, LeaAccountability.ReconstitutedStatus AS LeaAccountability_ReconstitutedStatus
	, LeaAccountability.McKinneyVentoSubgrantRecipient AS LeaAccountability_McKinneyVentoSubgrantRecipient
	, LeaAccountability.NameOfInstitution AS LeaAccountability_NameOfInstitution
	, LeaAccountability.EffectiveDate AS LeaAccountability_EffectiveDate
	, LeaAccountability.RecordStartDateTime AS LeaAccountability_RecordStartDateTime
	, LeaAccountability.RecordEndDateTime AS LeaAccountability_RecordEndDateTime
	, LeaAttendance.IeuOrganizationName AS LeaAttendance_IeuOrganizationName
	, LeaAttendance.IeuOrganizationIdentifierSea AS LeaAttendance_IeuOrganizationIdentifierSea
	, LeaAttendance.StateAnsiCode AS LeaAttendance_StateAnsiCode
	, LeaAttendance.StateAbbreviationCode AS LeaAttendance_StateAbbreviationCode
	, LeaAttendance.StateAbbreviationDescription AS LeaAttendance_StateAbbreviationDescription
	, LeaAttendance.SeaOrganizationName AS LeaAttendance_SeaOrganizationName
	, LeaAttendance.SeaIdentifierSea AS LeaAttendance_SeaIdentifierSea
	, LeaAttendance.LeaName AS LeaAttendance_LeaName
	, LeaAttendance.LeaIdentifierNces AS LeaAttendance_LeaIdentifierNces
	, LeaAttendance.LeaIdentifierSea AS LeaAttendance_LeaIdentifierSea
	, LeaAttendance.PriorLeaIdentifierSea AS LeaAttendance_PriorLeaIdentifierSea
	, LeaAttendance.LeaSupervisoryUnionIdentificationNumber AS LeaAttendance_LeaSupervisoryUnionIdentificationNumber
	, LeaAttendance.ReportedFederally AS LeaAttendance_ReportedFederally
	, LeaAttendance.LeaTypeCode AS LeaAttendance_LeaTypeCode
	, LeaAttendance.LeaTypeDescription AS LeaAttendance_LeaTypeDescription
	, LeaAttendance.LeaTypeEdFactsCode AS LeaAttendance_LeaTypeEdFactsCode
	, LeaAttendance.MailingAddressStreetNumberAndName AS LeaAttendance_MailingAddressStreetNumberAndName
	, LeaAttendance.MailingAddressApartmentRoomOrSuiteNumber AS LeaAttendance_MailingAddressApartmentRoomOrSuiteNumber
	, LeaAttendance.MailingAddressCity AS LeaAttendance_MailingAddressCity
	, LeaAttendance.MailingAddressPostalCode AS LeaAttendance_MailingAddressPostalCode
	, LeaAttendance.MailingAddressStateAbbreviation AS LeaAttendance_MailingAddressStateAbbreviation
	, LeaAttendance.MailingAddressCountyAnsiCode AS LeaAttendance_MailingAddressCountyAnsiCode
	, LeaAttendance.PhysicalAddressStreetNumberAndName AS LeaAttendance_PhysicalAddressStreetNumberAndName
	, LeaAttendance.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaAttendance_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaAttendance.PhysicalAddressCity AS LeaAttendance_PhysicalAddressCity
	, LeaAttendance.PhysicalAddressPostalCode AS LeaAttendance_PhysicalAddressPostalCode
	, LeaAttendance.PhysicalAddressStateAbbreviation AS LeaAttendance_PhysicalAddressStateAbbreviation
	, LeaAttendance.PhysicalAddressCountyAnsiCode AS LeaAttendance_PhysicalAddressCountyAnsiCode
	, LeaAttendance.Longitude AS LeaAttendance_Longitude
	, LeaAttendance.Latitude AS LeaAttendance_Latitude
	, LeaAttendance.TelephoneNumber AS LeaAttendance_TelephoneNumber
	, LeaAttendance.WebSiteAddress AS LeaAttendance_WebSiteAddress
	, LeaAttendance.OutOfStateIndicator AS LeaAttendance_OutOfStateIndicator
	, LeaAttendance.LeaOperationalStatus AS LeaAttendance_LeaOperationalStatus
	, LeaAttendance.LeaOperationalStatusEdFactsCode AS LeaAttendance_LeaOperationalStatusEdFactsCode
	, LeaAttendance.OperationalStatusEffectiveDate AS LeaAttendance_OperationalStatusEffectiveDate
	, LeaAttendance.CharterLeaStatus AS LeaAttendance_CharterLeaStatus
	, LeaAttendance.ReconstitutedStatus AS LeaAttendance_ReconstitutedStatus
	, LeaAttendance.McKinneyVentoSubgrantRecipient AS LeaAttendance_McKinneyVentoSubgrantRecipient
	, LeaAttendance.NameOfInstitution AS LeaAttendance_NameOfInstitution
	, LeaAttendance.EffectiveDate AS LeaAttendance_EffectiveDate
	, LeaAttendance.RecordStartDateTime AS LeaAttendance_RecordStartDateTime
	, LeaAttendance.RecordEndDateTime AS LeaAttendance_RecordEndDateTime
	, LeaFunding.IeuOrganizationName AS LeaFunding_IeuOrganizationName
	, LeaFunding.IeuOrganizationIdentifierSea AS LeaFunding_IeuOrganizationIdentifierSea
	, LeaFunding.StateAnsiCode AS LeaFunding_StateAnsiCode
	, LeaFunding.StateAbbreviationCode AS LeaFunding_StateAbbreviationCode
	, LeaFunding.StateAbbreviationDescription AS LeaFunding_StateAbbreviationDescription
	, LeaFunding.SeaOrganizationName AS LeaFunding_SeaOrganizationName
	, LeaFunding.SeaIdentifierSea AS LeaFunding_SeaIdentifierSea
	, LeaFunding.LeaName AS LeaFunding_LeaName
	, LeaFunding.LeaIdentifierNces AS LeaFunding_LeaIdentifierNces
	, LeaFunding.LeaIdentifierSea AS LeaFunding_LeaIdentifierSea
	, LeaFunding.PriorLeaIdentifierSea AS LeaFunding_PriorLeaIdentifierSea
	, LeaFunding.LeaSupervisoryUnionIdentificationNumber AS LeaFunding_LeaSupervisoryUnionIdentificationNumber
	, LeaFunding.ReportedFederally AS LeaFunding_ReportedFederally
	, LeaFunding.LeaTypeCode AS LeaFunding_LeaTypeCode
	, LeaFunding.LeaTypeDescription AS LeaFunding_LeaTypeDescription
	, LeaFunding.LeaTypeEdFactsCode AS LeaFunding_LeaTypeEdFactsCode
	, LeaFunding.MailingAddressStreetNumberAndName AS LeaFunding_MailingAddressStreetNumberAndName
	, LeaFunding.MailingAddressApartmentRoomOrSuiteNumber AS LeaFunding_MailingAddressApartmentRoomOrSuiteNumber
	, LeaFunding.MailingAddressCity AS LeaFunding_MailingAddressCity
	, LeaFunding.MailingAddressPostalCode AS LeaFunding_MailingAddressPostalCode
	, LeaFunding.MailingAddressStateAbbreviation AS LeaFunding_MailingAddressStateAbbreviation
	, LeaFunding.MailingAddressCountyAnsiCode AS LeaFunding_MailingAddressCountyAnsiCode
	, LeaFunding.PhysicalAddressStreetNumberAndName AS LeaFunding_PhysicalAddressStreetNumberAndName
	, LeaFunding.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaFunding_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaFunding.PhysicalAddressCity AS LeaFunding_PhysicalAddressCity
	, LeaFunding.PhysicalAddressPostalCode AS LeaFunding_PhysicalAddressPostalCode
	, LeaFunding.PhysicalAddressStateAbbreviation AS LeaFunding_PhysicalAddressStateAbbreviation
	, LeaFunding.PhysicalAddressCountyAnsiCode AS LeaFunding_PhysicalAddressCountyAnsiCode
	, LeaFunding.Longitude AS LeaFunding_Longitude
	, LeaFunding.Latitude AS LeaFunding_Latitude
	, LeaFunding.TelephoneNumber AS LeaFunding_TelephoneNumber
	, LeaFunding.WebSiteAddress AS LeaFunding_WebSiteAddress
	, LeaFunding.OutOfStateIndicator AS LeaFunding_OutOfStateIndicator
	, LeaFunding.LeaOperationalStatus AS LeaFunding_LeaOperationalStatus
	, LeaFunding.LeaOperationalStatusEdFactsCode AS LeaFunding_LeaOperationalStatusEdFactsCode
	, LeaFunding.OperationalStatusEffectiveDate AS LeaFunding_OperationalStatusEffectiveDate
	, LeaFunding.CharterLeaStatus AS LeaFunding_CharterLeaStatus
	, LeaFunding.ReconstitutedStatus AS LeaFunding_ReconstitutedStatus
	, LeaFunding.McKinneyVentoSubgrantRecipient AS LeaFunding_McKinneyVentoSubgrantRecipient
	, LeaFunding.NameOfInstitution AS LeaFunding_NameOfInstitution
	, LeaFunding.EffectiveDate AS LeaFunding_EffectiveDate
	, LeaFunding.RecordStartDateTime AS LeaFunding_RecordStartDateTime
	, LeaFunding.RecordEndDateTime AS LeaFunding_RecordEndDateTime
	, LeaGraduation.IeuOrganizationName AS LeaGraduation_IeuOrganizationName
	, LeaGraduation.IeuOrganizationIdentifierSea AS LeaGraduation_IeuOrganizationIdentifierSea
	, LeaGraduation.StateAnsiCode AS LeaGraduation_StateAnsiCode
	, LeaGraduation.StateAbbreviationCode AS LeaGraduation_StateAbbreviationCode
	, LeaGraduation.StateAbbreviationDescription AS LeaGraduation_StateAbbreviationDescription
	, LeaGraduation.SeaOrganizationName AS LeaGraduation_SeaOrganizationName
	, LeaGraduation.SeaIdentifierSea AS LeaGraduation_SeaIdentifierSea
	, LeaGraduation.LeaName AS LeaGraduation_LeaName
	, LeaGraduation.LeaIdentifierNces AS LeaGraduation_LeaIdentifierNces
	, LeaGraduation.LeaIdentifierSea AS LeaGraduation_LeaIdentifierSea
	, LeaGraduation.PriorLeaIdentifierSea AS LeaGraduation_PriorLeaIdentifierSea
	, LeaGraduation.LeaSupervisoryUnionIdentificationNumber AS LeaGraduation_LeaSupervisoryUnionIdentificationNumber
	, LeaGraduation.ReportedFederally AS LeaGraduation_ReportedFederally
	, LeaGraduation.LeaTypeCode AS LeaGraduation_LeaTypeCode
	, LeaGraduation.LeaTypeDescription AS LeaGraduation_LeaTypeDescription
	, LeaGraduation.LeaTypeEdFactsCode AS LeaGraduation_LeaTypeEdFactsCode
	, LeaGraduation.MailingAddressStreetNumberAndName AS LeaGraduation_MailingAddressStreetNumberAndName
	, LeaGraduation.MailingAddressApartmentRoomOrSuiteNumber AS LeaGraduation_MailingAddressApartmentRoomOrSuiteNumber
	, LeaGraduation.MailingAddressCity AS LeaGraduation_MailingAddressCity
	, LeaGraduation.MailingAddressPostalCode AS LeaGraduation_MailingAddressPostalCode
	, LeaGraduation.MailingAddressStateAbbreviation AS LeaGraduation_MailingAddressStateAbbreviation
	, LeaGraduation.MailingAddressCountyAnsiCode AS LeaGraduation_MailingAddressCountyAnsiCode
	, LeaGraduation.PhysicalAddressStreetNumberAndName AS LeaGraduation_PhysicalAddressStreetNumberAndName
	, LeaGraduation.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaGraduation_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaGraduation.PhysicalAddressCity AS LeaGraduation_PhysicalAddressCity
	, LeaGraduation.PhysicalAddressPostalCode AS LeaGraduation_PhysicalAddressPostalCode
	, LeaGraduation.PhysicalAddressStateAbbreviation AS LeaGraduation_PhysicalAddressStateAbbreviation
	, LeaGraduation.PhysicalAddressCountyAnsiCode AS LeaGraduation_PhysicalAddressCountyAnsiCode
	, LeaGraduation.Longitude AS LeaGraduation_Longitude
	, LeaGraduation.Latitude AS LeaGraduation_Latitude
	, LeaGraduation.TelephoneNumber AS LeaGraduation_TelephoneNumber
	, LeaGraduation.WebSiteAddress AS LeaGraduation_WebSiteAddress
	, LeaGraduation.OutOfStateIndicator AS LeaGraduation_OutOfStateIndicator
	, LeaGraduation.LeaOperationalStatus AS LeaGraduation_LeaOperationalStatus
	, LeaGraduation.LeaOperationalStatusEdFactsCode AS LeaGraduation_LeaOperationalStatusEdFactsCode
	, LeaGraduation.OperationalStatusEffectiveDate AS LeaGraduation_OperationalStatusEffectiveDate
	, LeaGraduation.CharterLeaStatus AS LeaGraduation_CharterLeaStatus
	, LeaGraduation.ReconstitutedStatus AS LeaGraduation_ReconstitutedStatus
	, LeaGraduation.McKinneyVentoSubgrantRecipient AS LeaGraduation_McKinneyVentoSubgrantRecipient
	, LeaGraduation.NameOfInstitution AS LeaGraduation_NameOfInstitution
	, LeaGraduation.EffectiveDate AS LeaGraduation_EffectiveDate
	, LeaGraduation.RecordStartDateTime AS LeaGraduation_RecordStartDateTime
	, LeaGraduation.RecordEndDateTime AS LeaGraduation_RecordEndDateTime
	, LeaIndividualizedEducationProgram.IeuOrganizationName AS LeaIndividualizedEducationProgram_IeuOrganizationName
	, LeaIndividualizedEducationProgram.IeuOrganizationIdentifierSea AS LeaIndividualizedEducationProgram_IeuOrganizationIdentifierSea
	, LeaIndividualizedEducationProgram.StateAnsiCode AS LeaIndividualizedEducationProgram_StateAnsiCode
	, LeaIndividualizedEducationProgram.StateAbbreviationCode AS LeaIndividualizedEducationProgram_StateAbbreviationCode
	, LeaIndividualizedEducationProgram.StateAbbreviationDescription AS LeaIndividualizedEducationProgram_StateAbbreviationDescription
	, LeaIndividualizedEducationProgram.SeaOrganizationName AS LeaIndividualizedEducationProgram_SeaOrganizationName
	, LeaIndividualizedEducationProgram.SeaIdentifierSea AS LeaIndividualizedEducationProgram_SeaIdentifierSea
	, LeaIndividualizedEducationProgram.LeaName AS LeaIndividualizedEducationProgram_LeaName
	, LeaIndividualizedEducationProgram.LeaIdentifierNces AS LeaIndividualizedEducationProgram_LeaIdentifierNces
	, LeaIndividualizedEducationProgram.LeaIdentifierSea AS LeaIndividualizedEducationProgram_LeaIdentifierSea
	, LeaIndividualizedEducationProgram.PriorLeaIdentifierSea AS LeaIndividualizedEducationProgram_PriorLeaIdentifierSea
	, LeaIndividualizedEducationProgram.LeaSupervisoryUnionIdentificationNumber AS LeaIndividualizedEducationProgram_LeaSupervisoryUnionIdentificationNumber
	, LeaIndividualizedEducationProgram.ReportedFederally AS LeaIndividualizedEducationProgram_ReportedFederally
	, LeaIndividualizedEducationProgram.LeaTypeCode AS LeaIndividualizedEducationProgram_LeaTypeCode
	, LeaIndividualizedEducationProgram.LeaTypeDescription AS LeaIndividualizedEducationProgram_LeaTypeDescription
	, LeaIndividualizedEducationProgram.LeaTypeEdFactsCode AS LeaIndividualizedEducationProgram_LeaTypeEdFactsCode
	, LeaIndividualizedEducationProgram.MailingAddressStreetNumberAndName AS LeaIndividualizedEducationProgram_MailingAddressStreetNumberAndName
	, LeaIndividualizedEducationProgram.MailingAddressApartmentRoomOrSuiteNumber AS LeaIndividualizedEducationProgram_MailingAddressApartmentRoomOrSuiteNumber
	, LeaIndividualizedEducationProgram.MailingAddressCity AS LeaIndividualizedEducationProgram_MailingAddressCity
	, LeaIndividualizedEducationProgram.MailingAddressPostalCode AS LeaIndividualizedEducationProgram_MailingAddressPostalCode
	, LeaIndividualizedEducationProgram.MailingAddressStateAbbreviation AS LeaIndividualizedEducationProgram_MailingAddressStateAbbreviation
	, LeaIndividualizedEducationProgram.MailingAddressCountyAnsiCode AS LeaIndividualizedEducationProgram_MailingAddressCountyAnsiCode
	, LeaIndividualizedEducationProgram.PhysicalAddressStreetNumberAndName AS LeaIndividualizedEducationProgram_PhysicalAddressStreetNumberAndName
	, LeaIndividualizedEducationProgram.PhysicalAddressApartmentRoomOrSuiteNumber AS LeaIndividualizedEducationProgram_PhysicalAddressApartmentRoomOrSuiteNumber
	, LeaIndividualizedEducationProgram.PhysicalAddressCity AS LeaIndividualizedEducationProgram_PhysicalAddressCity
	, LeaIndividualizedEducationProgram.PhysicalAddressPostalCode AS LeaIndividualizedEducationProgram_PhysicalAddressPostalCode
	, LeaIndividualizedEducationProgram.PhysicalAddressStateAbbreviation AS LeaIndividualizedEducationProgram_PhysicalAddressStateAbbreviation
	, LeaIndividualizedEducationProgram.PhysicalAddressCountyAnsiCode AS LeaIndividualizedEducationProgram_PhysicalAddressCountyAnsiCode
	, LeaIndividualizedEducationProgram.Longitude AS LeaIndividualizedEducationProgram_Longitude
	, LeaIndividualizedEducationProgram.Latitude AS LeaIndividualizedEducationProgram_Latitude
	, LeaIndividualizedEducationProgram.TelephoneNumber AS LeaIndividualizedEducationProgram_TelephoneNumber
	, LeaIndividualizedEducationProgram.WebSiteAddress AS LeaIndividualizedEducationProgram_WebSiteAddress
	, LeaIndividualizedEducationProgram.OutOfStateIndicator AS LeaIndividualizedEducationProgram_OutOfStateIndicator
	, LeaIndividualizedEducationProgram.LeaOperationalStatus AS LeaIndividualizedEducationProgram_LeaOperationalStatus
	, LeaIndividualizedEducationProgram.LeaOperationalStatusEdFactsCode AS LeaIndividualizedEducationProgram_LeaOperationalStatusEdFactsCode
	, LeaIndividualizedEducationProgram.OperationalStatusEffectiveDate AS LeaIndividualizedEducationProgram_OperationalStatusEffectiveDate
	, LeaIndividualizedEducationProgram.CharterLeaStatus AS LeaIndividualizedEducationProgram_CharterLeaStatus
	, LeaIndividualizedEducationProgram.ReconstitutedStatus AS LeaIndividualizedEducationProgram_ReconstitutedStatus
	, LeaIndividualizedEducationProgram.McKinneyVentoSubgrantRecipient AS LeaIndividualizedEducationProgram_McKinneyVentoSubgrantRecipient
	, LeaIndividualizedEducationProgram.NameOfInstitution AS LeaIndividualizedEducationProgram_NameOfInstitution
	, LeaIndividualizedEducationProgram.EffectiveDate AS LeaIndividualizedEducationProgram_EffectiveDate
	, LeaIndividualizedEducationProgram.RecordStartDateTime AS LeaIndividualizedEducationProgram_RecordStartDateTime
	, LeaIndividualizedEducationProgram.RecordEndDateTime AS LeaIndividualizedEducationProgram_RecordEndDateTime
	, K12School.SeaOrganizationName AS K12School_SeaOrganizationName
	, K12School.SeaIdentifierSea AS K12School_SeaIdentifierSea
	, K12School.StateAnsiCode AS K12School_StateAnsiCode
	, K12School.StateAbbreviationCode AS K12School_StateAbbreviationCode
	, K12School.StateAbbreviationDescription AS K12School_StateAbbreviationDescription
	, K12School.IeuOrganizationName AS K12School_IeuOrganizationName
	, K12School.IeuOrganizationIdentifierSea AS K12School_IeuOrganizationIdentifierSea
	, K12School.LeaName AS K12School_LeaName
	, K12School.LeaIdentifierNces AS K12School_LeaIdentifierNces
	, K12School.LeaIdentifierSea AS K12School_LeaIdentifierSea
	, K12School.PriorLeaIdentifierSea AS K12School_PriorLeaIdentifierSea
	, K12School.LeaTypeCode AS K12School_LeaTypeCode
	, K12School.LeaTypeDescription AS K12School_LeaTypeDescription
	, K12School.LeaTypeEdFactsCode AS K12School_LeaTypeEdFactsCode
	, K12School.NameOfInstitution AS K12School_NameOfInstitution
	, K12School.SchoolIdentifierNces AS K12School_SchoolIdentifierNces
	, K12School.SchoolIdentifierSea AS K12School_SchoolIdentifierSea
	, K12School.PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea AS K12School_PrimaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, K12School.SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea AS K12School_SecondaryCharterSchoolAuthorizingOrganizationIdentifierSea
	, K12School.OperationalStatusEffectiveDate AS K12School_OperationalStatusEffectiveDate
	, K12School.PriorSchoolIdentifierSea AS K12School_PriorSchoolIdentifierSea
	, K12School.CharterSchoolIndicator AS K12School_CharterSchoolIndicator
	, K12School.CharterSchoolContractIdNumber AS K12School_CharterSchoolContractIdNumber
	, K12School.CharterSchoolContractApprovalDate AS K12School_CharterSchoolContractApprovalDate
	, K12School.CharterSchoolContractRenewalDate AS K12School_CharterSchoolContractRenewalDate
	, K12School.ReportedFederally AS K12School_ReportedFederally
	, K12School.SchoolTypeCode AS K12School_SchoolTypeCode
	, K12School.SchoolTypeDescription AS K12School_SchoolTypeDescription
	, K12School.SchoolTypeEdFactsCode AS K12School_SchoolTypeEdFactsCode
	, K12School.MailingAddressStreetNumberAndName AS K12School_MailingAddressStreetNumberAndName
	, K12School.MailingAddressApartmentRoomOrSuiteNumber AS K12School_MailingAddressApartmentRoomOrSuiteNumber
	, K12School.MailingAddressCity AS K12School_MailingAddressCity
	, K12School.MailingAddressPostalCode AS K12School_MailingAddressPostalCode
	, K12School.MailingAddressStateAbbreviation AS K12School_MailingAddressStateAbbreviation
	, K12School.MailingAddressCountyAnsiCode AS K12School_MailingAddressCountyAnsiCode
	, K12School.PhysicalAddressStreetNumberAndName AS K12School_PhysicalAddressStreetNumberAndName
	, K12School.PhysicalAddressApartmentRoomOrSuiteNumber AS K12School_PhysicalAddressApartmentRoomOrSuiteNumber
	, K12School.PhysicalAddressCity AS K12School_PhysicalAddressCity
	, K12School.PhysicalAddressPostalCode AS K12School_PhysicalAddressPostalCode
	, K12School.PhysicalAddressStateAbbreviation AS K12School_PhysicalAddressStateAbbreviation
	, K12School.PhysicalAddressCountyAnsiCode AS K12School_PhysicalAddressCountyAnsiCode
	, K12School.Longitude AS K12School_Longitude
	, K12School.Latitude AS K12School_Latitude
	, K12School.TelephoneNumber AS K12School_TelephoneNumber
	, K12School.WebSiteAddress AS K12School_WebSiteAddress
	, K12School.OutOfStateIndicator AS K12School_OutOfStateIndicator
	, K12School.SchoolOperationalStatus AS K12School_SchoolOperationalStatus
	, K12School.SchoolOperationalStatusEdFactsCode AS K12School_SchoolOperationalStatusEdFactsCode
	, K12School.SchoolOperationalStatusEffectiveDate AS K12School_SchoolOperationalStatusEffectiveDate
	, K12School.CharterSchoolStatus AS K12School_CharterSchoolStatus
	, K12School.ReconstitutedStatus AS K12School_ReconstitutedStatus
	, K12School.AdministrativeFundingControlCode AS K12School_AdministrativeFundingControlCode
	, K12School.AdministrativeFundingControlDescription AS K12School_AdministrativeFundingControlDescription
	, K12School.RecordStartDateTime AS K12School_RecordStartDateTime
	, K12School.RecordEndDateTime AS K12School_RecordEndDateTime
	, ResponsibleSchoolType.ResponsibleSchoolTypeCode AS ResponsibleSchoolType_ResponsibleSchoolTypeCode
	, ResponsibleSchoolType.ResponsibleSchoolTypeDescription AS ResponsibleSchoolType_ResponsibleSchoolTypeDescription
	, K12Student.FirstName AS K12Student_FirstName
	, K12Student.MiddleName AS K12Student_MiddleName
	, K12Student.LastOrSurname AS K12Student_LastOrSurname
	, K12Student.PersonalTitleOrPrefix AS K12Student_PersonalTitleOrPrefix
	, K12Student.BirthDate AS K12Student_BirthDate
	, K12Student.PositionTitle AS K12Student_PositionTitle
	, K12Student.ElectronicMailAddressHome AS K12Student_ElectronicMailAddressHome
	, K12Student.ElectronicMailAddressWork AS K12Student_ElectronicMailAddressWork
	, K12Student.ElectronicMailAddressOrganizational AS K12Student_ElectronicMailAddressOrganizational
	, K12Student.TelephoneNumberHome AS K12Student_TelephoneNumberHome
	, K12Student.TelephoneNumberWork AS K12Student_TelephoneNumberWork
	, K12Student.TelephoneNumberMobile AS K12Student_TelephoneNumberMobile
	, K12Student.TelephoneNumberFax AS K12Student_TelephoneNumberFax
	, K12Student.EarlyLearningChidIdentifierState AS K12Student_EarlyLearningChidIdentifierState
	, K12Student.K12StudentIdentifierState AS K12Student_K12StudentIdentifierState
	, K12Student.K12StudentIdentifierDistrict AS K12Student_K12StudentIdentifierDistrict
	, K12Student.K12StudentIdentifierNationalMigrant AS K12Student_K12StudentIdentifierNationalMigrant
	, K12Student.PsStudentIdentifierState AS K12Student_PsStudentIdentifierState
	, K12Student.AeStudentIdentifierState AS K12Student_AeStudentIdentifierState
	, K12Student.WorkforcePersonIdentifierState AS K12Student_WorkforcePersonIdentifierState
	, K12Student.EarlyLearningStaffMemberIdentifierState AS K12Student_EarlyLearningStaffMemberIdentifierState
	, K12Student.K12StaffMemberIdentiferState AS K12Student_K12StaffMemberIdentiferState
	, K12Student.K12StaffMemberIdentiferDistrict AS K12Student_K12StaffMemberIdentiferDistrict
	, K12Student.PsStaffMemberIdentiferState AS K12Student_PsStaffMemberIdentiferState
	, K12Student.PersonIdentifierDriversLicense AS K12Student_PersonIdentifierDriversLicense
	, K12Student.IsActiveEarlyLearningChild AS K12Student_IsActiveEarlyLearningChild
	, K12Student.IsActiveK12Student AS K12Student_IsActiveK12Student
	, K12Student.IsActivePsStudent AS K12Student_IsActivePsStudent
	, K12Student.IsActiveAeStudent AS K12Student_IsActiveAeStudent
	, K12Student.IsActiveWorkforcePerson AS K12Student_IsActiveWorkforcePerson
	, K12Student.IsActiveEarlyLearningStaffMember AS K12Student_IsActiveEarlyLearningStaffMember
	, K12Student.IsActiveK12StaffMember AS K12Student_IsActiveK12StaffMember
	, K12Student.IsActivePsStaffMember AS K12Student_IsActivePsStaffMember
	, K12Student.RecordStartDateTime AS K12Student_RecordStartDateTime
	, K12Student.RecordEndDateTime AS K12Student_RecordEndDateTime
	, EnrollmentEntryDate.DateValue AS EnrollmentEntryDate_DateValue
	, EnrollmentEntryDate.Day AS EnrollmentEntryDate_Day
	, EnrollmentEntryDate.DayOfWeek AS EnrollmentEntryDate_DayOfWeek
	, EnrollmentEntryDate.DayOfYear AS EnrollmentEntryDate_DayOfYear
	, EnrollmentEntryDate.Month AS EnrollmentEntryDate_Month
	, EnrollmentEntryDate.MonthName AS EnrollmentEntryDate_MonthName
	, EnrollmentEntryDate.SubmissionYear AS EnrollmentEntryDate_SubmissionYear
	, EnrollmentEntryDate.Year AS EnrollmentEntryDate_Year
	, EnrollmentExitDate.DateValue AS EnrollmentExitDate_DateValue
	, EnrollmentExitDate.Day AS EnrollmentExitDate_Day
	, EnrollmentExitDate.DayOfWeek AS EnrollmentExitDate_DayOfWeek
	, EnrollmentExitDate.DayOfYear AS EnrollmentExitDate_DayOfYear
	, EnrollmentExitDate.Month AS EnrollmentExitDate_Month
	, EnrollmentExitDate.MonthName AS EnrollmentExitDate_MonthName
	, EnrollmentExitDate.SubmissionYear AS EnrollmentExitDate_SubmissionYear
	, EnrollmentExitDate.Year AS EnrollmentExitDate_Year
	, ConsentToEvaluationDate.DateValue AS ConsentToEvaluationDate_DateValue
	, ConsentToEvaluationDate.Day AS ConsentToEvaluationDate_Day
	, ConsentToEvaluationDate.DayOfWeek AS ConsentToEvaluationDate_DayOfWeek
	, ConsentToEvaluationDate.DayOfYear AS ConsentToEvaluationDate_DayOfYear
	, ConsentToEvaluationDate.Month AS ConsentToEvaluationDate_Month
	, ConsentToEvaluationDate.MonthName AS ConsentToEvaluationDate_MonthName
	, ConsentToEvaluationDate.SubmissionYear AS ConsentToEvaluationDate_SubmissionYear
	, ConsentToEvaluationDate.Year AS ConsentToEvaluationDate_Year
	, ChildOutcomeSummaryBaseline.COSRatingACode AS ChildOutcomeSummaryBaseline_COSRatingACode
	, ChildOutcomeSummaryBaseline.COSRatingADescription AS ChildOutcomeSummaryBaseline_COSRatingADescription
	, ChildOutcomeSummaryBaseline.COSRatingBCode AS ChildOutcomeSummaryBaseline_COSRatingBCode
	, ChildOutcomeSummaryBaseline.COSRatingBDescription AS ChildOutcomeSummaryBaseline_COSRatingBDescription
	, ChildOutcomeSummaryBaseline.COSRatingCCode AS ChildOutcomeSummaryBaseline_COSRatingCCode
	, ChildOutcomeSummaryBaseline.COSRatingCDescription AS ChildOutcomeSummaryBaseline_COSRatingCDescription
	, ChildOutcomeSummaryBaseline.COSProgressAIndicatorCode AS ChildOutcomeSummaryBaseline_COSProgressAIndicatorCode
	, ChildOutcomeSummaryBaseline.COSProgressAIndicatorDesciption AS ChildOutcomeSummaryBaseline_COSProgressAIndicatorDesciption
	, ChildOutcomeSummaryBaseline.COSProgressBIndicatorCode AS ChildOutcomeSummaryBaseline_COSProgressBIndicatorCode
	, ChildOutcomeSummaryBaseline.COSProgressBIndicatorDescription AS ChildOutcomeSummaryBaseline_COSProgressBIndicatorDescription
	, ChildOutcomeSummaryBaseline.COSProgressCIndicatorCode AS ChildOutcomeSummaryBaseline_COSProgressCIndicatorCode
	, ChildOutcomeSummaryBaseline.COSProgressCIndicatorDescription AS ChildOutcomeSummaryBaseline_COSProgressCIndicatorDescription
	, ChildOutcomeSummaryAtExit.COSRatingACode AS ChildOutcomeSummaryAtExit_COSRatingACode
	, ChildOutcomeSummaryAtExit.COSRatingADescription AS ChildOutcomeSummaryAtExit_COSRatingADescription
	, ChildOutcomeSummaryAtExit.COSRatingBCode AS ChildOutcomeSummaryAtExit_COSRatingBCode
	, ChildOutcomeSummaryAtExit.COSRatingBDescription AS ChildOutcomeSummaryAtExit_COSRatingBDescription
	, ChildOutcomeSummaryAtExit.COSRatingCCode AS ChildOutcomeSummaryAtExit_COSRatingCCode
	, ChildOutcomeSummaryAtExit.COSRatingCDescription AS ChildOutcomeSummaryAtExit_COSRatingCDescription
	, ChildOutcomeSummaryAtExit.COSProgressAIndicatorCode AS ChildOutcomeSummaryAtExit_COSProgressAIndicatorCode
	, ChildOutcomeSummaryAtExit.COSProgressAIndicatorDesciption AS ChildOutcomeSummaryAtExit_COSProgressAIndicatorDesciption
	, ChildOutcomeSummaryAtExit.COSProgressBIndicatorCode AS ChildOutcomeSummaryAtExit_COSProgressBIndicatorCode
	, ChildOutcomeSummaryAtExit.COSProgressBIndicatorDescription AS ChildOutcomeSummaryAtExit_COSProgressBIndicatorDescription
	, ChildOutcomeSummaryAtExit.COSProgressCIndicatorCode AS ChildOutcomeSummaryAtExit_COSProgressCIndicatorCode
	, ChildOutcomeSummaryAtExit.COSProgressCIndicatorDescription AS ChildOutcomeSummaryAtExit_COSProgressCIndicatorDescription
	, ChildOutcomeSummaryDateBaseline.DateValue AS ChildOutcomeSummaryDateBaseline_DateValue
	, ChildOutcomeSummaryDateBaseline.Day AS ChildOutcomeSummaryDateBaseline_Day
	, ChildOutcomeSummaryDateBaseline.DayOfWeek AS ChildOutcomeSummaryDateBaseline_DayOfWeek
	, ChildOutcomeSummaryDateBaseline.DayOfYear AS ChildOutcomeSummaryDateBaseline_DayOfYear
	, ChildOutcomeSummaryDateBaseline.Month AS ChildOutcomeSummaryDateBaseline_Month
	, ChildOutcomeSummaryDateBaseline.MonthName AS ChildOutcomeSummaryDateBaseline_MonthName
	, ChildOutcomeSummaryDateBaseline.SubmissionYear AS ChildOutcomeSummaryDateBaseline_SubmissionYear
	, ChildOutcomeSummaryDateBaseline.Year AS ChildOutcomeSummaryDateBaseline_Year
	, ChildOutcomeSummaryDateAtExit.DateValue AS ChildOutcomeSummaryDateAtExit_DateValue
	, ChildOutcomeSummaryDateAtExit.Day AS ChildOutcomeSummaryDateAtExit_Day
	, ChildOutcomeSummaryDateAtExit.DayOfWeek AS ChildOutcomeSummaryDateAtExit_DayOfWeek
	, ChildOutcomeSummaryDateAtExit.DayOfYear AS ChildOutcomeSummaryDateAtExit_DayOfYear
	, ChildOutcomeSummaryDateAtExit.Month AS ChildOutcomeSummaryDateAtExit_Month
	, ChildOutcomeSummaryDateAtExit.MonthName AS ChildOutcomeSummaryDateAtExit_MonthName
	, ChildOutcomeSummaryDateAtExit.SubmissionYear AS ChildOutcomeSummaryDateAtExit_SubmissionYear
	, ChildOutcomeSummaryDateAtExit.Year AS ChildOutcomeSummaryDateAtExit_Year
	, DisabilityStatus.DisabilityStatusCode AS DisabilityStatus_DisabilityStatusCode
	, DisabilityStatus.DisabilityStatusDescription AS DisabilityStatus_DisabilityStatusDescription
	, DisabilityStatus.Section504StatusCode AS DisabilityStatus_Section504StatusCode
	, DisabilityStatus.Section504StatusDescription AS DisabilityStatus_Section504StatusDescription
	, DisabilityStatus.Section504StatusEdFactsCode AS DisabilityStatus_Section504StatusEdFactsCode
	, DisabilityStatus.DisabilityConditionTypeCode AS DisabilityStatus_DisabilityConditionTypeCode
	, DisabilityStatus.DisabilityConditionTypeDescription AS DisabilityStatus_DisabilityConditionTypeDescription
	, DisabilityStatus.DisabilityDeterminationSourceTypeCode AS DisabilityStatus_DisabilityDeterminationSourceTypeCode
	, DisabilityStatus.DisabilityDeterminationSourceTypeDescription AS DisabilityStatus_DisabilityDeterminationSourceTypeDescription
	, CteStatus.CteAeDisplacedHomemakerIndicatorCode AS CteStatus_CteAeDisplacedHomemakerIndicatorCode
	, CteStatus.CteAeDisplacedHomemakerIndicatorDescription AS CteStatus_CteAeDisplacedHomemakerIndicatorDescription
	, CteStatus.CteAeDisplacedHomemakerIndicatorEdFactsCode AS CteStatus_CteAeDisplacedHomemakerIndicatorEdFactsCode
	, CteStatus.CteNontraditionalGenderStatusCode AS CteStatus_CteNontraditionalGenderStatusCode
	, CteStatus.CteNontraditionalGenderStatusDescription AS CteStatus_CteNontraditionalGenderStatusDescription
	, CteStatus.CteNontraditionalGenderStatusEdFactsCode AS CteStatus_CteNontraditionalGenderStatusEdFactsCode
	, CteStatus.CteNontraditionalCompletionCode AS CteStatus_CteNontraditionalCompletionCode
	, CteStatus.CteNontraditionalCompletionDescription AS CteStatus_CteNontraditionalCompletionDescription
	, CteStatus.CteNontraditionalCompletionEdFactsCode AS CteStatus_CteNontraditionalCompletionEdFactsCode
	, CteStatus.SingleParentOrSinglePregnantWomanStatusCode AS CteStatus_SingleParentOrSinglePregnantWomanStatusCode
	, CteStatus.SingleParentOrSinglePregnantWomanStatusDescription AS CteStatus_SingleParentOrSinglePregnantWomanStatusDescription
	, CteStatus.SingleParentOrSinglePregnantWomanStatusEdFactsCode AS CteStatus_SingleParentOrSinglePregnantWomanStatusEdFactsCode
	, CteStatus.CteParticipantCode AS CteStatus_CteParticipantCode
	, CteStatus.CteParticipantDescription AS CteStatus_CteParticipantDescription
	, CteStatus.CteParticipantEdFactsCode AS CteStatus_CteParticipantEdFactsCode
	, CteStatus.CteConcentratorCode AS CteStatus_CteConcentratorCode
	, CteStatus.CteConcentratorDescription AS CteStatus_CteConcentratorDescription
	, CteStatus.CteConcentratorEdFactsCode AS CteStatus_CteConcentratorEdFactsCode
	, fact.EconomicallyDisadvantagedStatusId
	, EnglishLearnerStatus.EnglishLearnerStatusCode AS EnglishLearnerStatus_EnglishLearnerStatusCode
	, EnglishLearnerStatus.EnglishLearnerStatusDescription AS EnglishLearnerStatus_EnglishLearnerStatusDescription
	, EnglishLearnerStatus.EnglishLearnerStatusEdFactsCode AS EnglishLearnerStatus_EnglishLearnerStatusEdFactsCode
	, EnglishLearnerStatus.PerkinsLEPStatusCode AS EnglishLearnerStatus_PerkinsLEPStatusCode
	, EnglishLearnerStatus.PerkinsLEPStatusDescription AS EnglishLearnerStatus_PerkinsLEPStatusDescription
	, EnglishLearnerStatus.PerkinsLEPStatusEdfactsCode AS EnglishLearnerStatus_PerkinsLEPStatusEdfactsCode
	, EnglishLearnerStatus.TitleIIIAccountabilityProgressStatusCode AS EnglishLearnerStatus_TitleIIIAccountabilityProgressStatusCode
	, EnglishLearnerStatus.TitleIIIAccountabilityProgressStatusDescription AS EnglishLearnerStatus_TitleIIIAccountabilityProgressStatusDescription
	, EnglishLearnerStatus.TitleIIIAccountabilityProgressStatusEdFactsCode AS EnglishLearnerStatus_TitleIIIAccountabilityProgressStatusEdFactsCode
	, EnglishLearnerStatus.TitleIIILanguageInstructionProgramTypeCode AS EnglishLearnerStatus_TitleIIILanguageInstructionProgramTypeCode
	, EnglishLearnerStatus.TitleIIILanguageInstructionProgramTypeDescription AS EnglishLearnerStatus_TitleIIILanguageInstructionProgramTypeDescription
	, EnglishLearnerStatus.TitleIIILanguageInstructionProgramTypeEdFactsCode AS EnglishLearnerStatus_TitleIIILanguageInstructionProgramTypeEdFactsCode
	, EntryGradeLevel.GradeLevelCode AS EntryGradeLevel_GradeLevelCode
	, EntryGradeLevel.GradeLevelDescription AS EntryGradeLevel_GradeLevelDescription
	, EntryGradeLevel.GradeLevelEdFactsCode AS EntryGradeLevel_GradeLevelEdFactsCode
	, EligibilityEvaluationDateInitial.DateValue AS EligibilityEvaluationDateInitial_DateValue
	, EligibilityEvaluationDateInitial.Day AS EligibilityEvaluationDateInitial_Day
	, EligibilityEvaluationDateInitial.DayOfWeek AS EligibilityEvaluationDateInitial_DayOfWeek
	, EligibilityEvaluationDateInitial.DayOfYear AS EligibilityEvaluationDateInitial_DayOfYear
	, EligibilityEvaluationDateInitial.Month AS EligibilityEvaluationDateInitial_Month
	, EligibilityEvaluationDateInitial.MonthName AS EligibilityEvaluationDateInitial_MonthName
	, EligibilityEvaluationDateInitial.SubmissionYear AS EligibilityEvaluationDateInitial_SubmissionYear
	, EligibilityEvaluationDateInitial.Year AS EligibilityEvaluationDateInitial_Year
	, EligibilityEvaluationDateReevaluation.DateValue AS EligibilityEvaluationDateReevaluation_DateValue
	, EligibilityEvaluationDateReevaluation.Day AS EligibilityEvaluationDateReevaluation_Day
	, EligibilityEvaluationDateReevaluation.DayOfWeek AS EligibilityEvaluationDateReevaluation_DayOfWeek
	, EligibilityEvaluationDateReevaluation.DayOfYear AS EligibilityEvaluationDateReevaluation_DayOfYear
	, EligibilityEvaluationDateReevaluation.Month AS EligibilityEvaluationDateReevaluation_Month
	, EligibilityEvaluationDateReevaluation.MonthName AS EligibilityEvaluationDateReevaluation_MonthName
	, EligibilityEvaluationDateReevaluation.SubmissionYear AS EligibilityEvaluationDateReevaluation_SubmissionYear
	, EligibilityEvaluationDateReevaluation.Year AS EligibilityEvaluationDateReevaluation_Year
	, FosterCareStatus.ProgramParticipationFosterCareCode AS FosterCareStatus_ProgramParticipationFosterCareCode
	, FosterCareStatus.ProgramParticipationFosterCareDescription AS FosterCareStatus_ProgramParticipationFosterCareDescription
	, FosterCareStatus.ProgramParticipationFosterCareEdFactsCode AS FosterCareStatus_ProgramParticipationFosterCareEdFactsCode
	, HomelessnessStatus.HomelessnessStatusCode AS HomelessnessStatus_HomelessnessStatusCode
	, HomelessnessStatus.HomelessnessStatusDescription AS HomelessnessStatus_HomelessnessStatusDescription
	, HomelessnessStatus.HomelessnessStatusEdFactsCode AS HomelessnessStatus_HomelessnessStatusEdFactsCode
	, HomelessnessStatus.HomelessPrimaryNighttimeResidenceCode AS HomelessnessStatus_HomelessPrimaryNighttimeResidenceCode
	, HomelessnessStatus.HomelessPrimaryNighttimeResidenceDescription AS HomelessnessStatus_HomelessPrimaryNighttimeResidenceDescription
	, HomelessnessStatus.HomelessPrimaryNighttimeResidenceEdfactsCode AS HomelessnessStatus_HomelessPrimaryNighttimeResidenceEdfactsCode
	, HomelessnessStatus.HomelessServicedIndicatorCode AS HomelessnessStatus_HomelessServicedIndicatorCode
	, HomelessnessStatus.HomelessServicedIndicatorDescription AS HomelessnessStatus_HomelessServicedIndicatorDescription
	, HomelessnessStatus.HomelessUnaccompaniedYouthStatusCode AS HomelessnessStatus_HomelessUnaccompaniedYouthStatusCode
	, HomelessnessStatus.HomelessUnaccompaniedYouthStatusDescription AS HomelessnessStatus_HomelessUnaccompaniedYouthStatusDescription
	, HomelessnessStatus.HomelessUnaccompaniedYouthStatusEdfactsCode AS HomelessnessStatus_HomelessUnaccompaniedYouthStatusEdfactsCode
	, IdeaStatus.SpecialEducationExitReasonCode AS IdeaStatus_SpecialEducationExitReasonCode
	, IdeaStatus.SpecialEducationExitReasonDescription AS IdeaStatus_SpecialEducationExitReasonDescription
	, IdeaStatus.SpecialEducationExitReasonEdFactsCode AS IdeaStatus_SpecialEducationExitReasonEdFactsCode
	, IdeaStatus.IdeaEducationalEnvironmentForSchoolAgeDescription AS IdeaStatus_IdeaEducationalEnvironmentForSchoolAgeDescription
	, IdeaStatus.IdeaEducationalEnvironmentForSchoolAgeCode AS IdeaStatus_IdeaEducationalEnvironmentForSchoolAgeCode
	, IdeaStatus.IdeaEducationalEnvironmentForSchoolAgeEdFactsCode AS IdeaStatus_IdeaEducationalEnvironmentForSchoolAgeEdFactsCode
	, IdeaStatus.IdeaIndicatorCode AS IdeaStatus_IdeaIndicatorCode
	, IdeaStatus.IdeaIndicatorDescription AS IdeaStatus_IdeaIndicatorDescription
	, IdeaStatus.IdeaIndicatorEdFactsCode AS IdeaStatus_IdeaIndicatorEdFactsCode
	, IdeaStatus.IdeaEducationalEnvironmentForEarlyChildhoodCode AS IdeaStatus_IdeaEducationalEnvironmentForEarlyChildhoodCode
	, IdeaStatus.IdeaEducationalEnvironmentForEarlyChildhoodDescription AS IdeaStatus_IdeaEducationalEnvironmentForEarlyChildhoodDescription
	, IdeaStatus.IdeaEducationalEnvironmentForEarlyChildhoodEdFactsCode AS IdeaStatus_IdeaEducationalEnvironmentForEarlyChildhoodEdFactsCode
	, ImmigrantStatus.TitleIIIImmigrantStatusCode AS ImmigrantStatus_TitleIIIImmigrantStatusCode
	, ImmigrantStatus.TitleIIIImmigrantStatusDescription AS ImmigrantStatus_TitleIIIImmigrantStatusDescription
	, ImmigrantStatus.TitleIIIImmigrantStatusEdFactsCode AS ImmigrantStatus_TitleIIIImmigrantStatusEdFactsCode
	, ImmigrantStatus.TitleIIIImmigrantParticipationStatusCode AS ImmigrantStatus_TitleIIIImmigrantParticipationStatusCode
	, ImmigrantStatus.TitleIIIImmigrantParticipationStatusDescription AS ImmigrantStatus_TitleIIIImmigrantParticipationStatusDescription
	, ImmigrantStatus.TitleIIIImmigrantParticipationStatusEdFactsCode AS ImmigrantStatus_TitleIIIImmigrantParticipationStatusEdFactsCode
	, IndividualizedProgramStatus.IndividualizedProgramTypeCode AS IndividualizedProgramStatus_IndividualizedProgramTypeCode
	, IndividualizedProgramStatus.IndividualizedProgramTypeDescription AS IndividualizedProgramStatus_IndividualizedProgramTypeDescription
	, IndividualizedProgramStatus.StudentSupportServiceTypeCode AS IndividualizedProgramStatus_StudentSupportServiceTypeCode
	, IndividualizedProgramStatus.StudentSupportServiceTypeDescription AS IndividualizedProgramStatus_StudentSupportServiceTypeDescription
	, IndividualizedProgramStatus.ConsentToEvaluationIndicatorCode AS IndividualizedProgramStatus_ConsentToEvaluationIndicatorCode
	, IndividualizedProgramStatus.ConsentToEvaluationIndicatorDescription AS IndividualizedProgramStatus_ConsentToEvaluationIndicatorDescription
	, IndividualizedProgramServicePlanDate.DateValue AS IndividualizedProgramServicePlanDate_DateValue
	, IndividualizedProgramServicePlanDate.Day AS IndividualizedProgramServicePlanDate_Day
	, IndividualizedProgramServicePlanDate.DayOfWeek AS IndividualizedProgramServicePlanDate_DayOfWeek
	, IndividualizedProgramServicePlanDate.DayOfYear AS IndividualizedProgramServicePlanDate_DayOfYear
	, IndividualizedProgramServicePlanDate.Month AS IndividualizedProgramServicePlanDate_Month
	, IndividualizedProgramServicePlanDate.MonthName AS IndividualizedProgramServicePlanDate_MonthName
	, IndividualizedProgramServicePlanDate.SubmissionYear AS IndividualizedProgramServicePlanDate_SubmissionYear
	, IndividualizedProgramServicePlanDate.Year AS IndividualizedProgramServicePlanDate_Year
	, IndividualizedProgramServicePlanReevaluationDate.DateValue AS IndividualizedProgramServicePlanReevaluationDate_DateValue
	, IndividualizedProgramServicePlanReevaluationDate.Day AS IndividualizedProgramServicePlanReevaluationDate_Day
	, IndividualizedProgramServicePlanReevaluationDate.DayOfWeek AS IndividualizedProgramServicePlanReevaluationDate_DayOfWeek
	, IndividualizedProgramServicePlanReevaluationDate.DayOfYear AS IndividualizedProgramServicePlanReevaluationDate_DayOfYear
	, IndividualizedProgramServicePlanReevaluationDate.Month AS IndividualizedProgramServicePlanReevaluationDate_Month
	, IndividualizedProgramServicePlanReevaluationDate.MonthName AS IndividualizedProgramServicePlanReevaluationDate_MonthName
	, IndividualizedProgramServicePlanReevaluationDate.SubmissionYear AS IndividualizedProgramServicePlanReevaluationDate_SubmissionYear
	, IndividualizedProgramServicePlanReevaluationDate.Year AS IndividualizedProgramServicePlanReevaluationDate_Year
	, IndividualizedProgramServicePlanExitDate.DateValue AS IndividualizedProgramServicePlanExitDate_DateValue
	, IndividualizedProgramServicePlanExitDate.Day AS IndividualizedProgramServicePlanExitDate_Day
	, IndividualizedProgramServicePlanExitDate.DayOfWeek AS IndividualizedProgramServicePlanExitDate_DayOfWeek
	, IndividualizedProgramServicePlanExitDate.DayOfYear AS IndividualizedProgramServicePlanExitDate_DayOfYear
	, IndividualizedProgramServicePlanExitDate.Month AS IndividualizedProgramServicePlanExitDate_Month
	, IndividualizedProgramServicePlanExitDate.MonthName AS IndividualizedProgramServicePlanExitDate_MonthName
	, IndividualizedProgramServicePlanExitDate.SubmissionYear AS IndividualizedProgramServicePlanExitDate_SubmissionYear
	, IndividualizedProgramServicePlanExitDate.Year AS IndividualizedProgramServicePlanExitDate_Year
	, IndividualizedProgramDate.DateValue AS IndividualizedProgramDate_DateValue
	, IndividualizedProgramDate.Day AS IndividualizedProgramDate_Day
	, IndividualizedProgramDate.DayOfWeek AS IndividualizedProgramDate_DayOfWeek
	, IndividualizedProgramDate.DayOfYear AS IndividualizedProgramDate_DayOfYear
	, IndividualizedProgramDate.Month AS IndividualizedProgramDate_Month
	, IndividualizedProgramDate.MonthName AS IndividualizedProgramDate_MonthName
	, IndividualizedProgramDate.SubmissionYear AS IndividualizedProgramDate_SubmissionYear
	, IndividualizedProgramDate.Year AS IndividualizedProgramDate_Year
	, K12EnrollmentStatus.EnrollmentStatusCode AS K12EnrollmentStatus_EnrollmentStatusCode
	, K12EnrollmentStatus.EnrollmentStatusDescription AS K12EnrollmentStatus_EnrollmentStatusDescription
	, K12EnrollmentStatus.EntryTypeCode AS K12EnrollmentStatus_EntryTypeCode
	, K12EnrollmentStatus.EntryTypeDescription AS K12EnrollmentStatus_EntryTypeDescription
	, K12EnrollmentStatus.ExitOrWithdrawalTypeCode AS K12EnrollmentStatus_ExitOrWithdrawalTypeCode
	, K12EnrollmentStatus.ExitOrWithdrawalTypeDescription AS K12EnrollmentStatus_ExitOrWithdrawalTypeDescription
	, K12EnrollmentStatus.PostSecondaryEnrollmentStatusCode AS K12EnrollmentStatus_PostSecondaryEnrollmentStatusCode
	, K12EnrollmentStatus.PostSecondaryEnrollmentStatusDescription AS K12EnrollmentStatus_PostSecondaryEnrollmentStatusDescription
	, K12EnrollmentStatus.PostSecondaryEnrollmentStatusEdFactsCode AS K12EnrollmentStatus_PostSecondaryEnrollmentStatusEdFactsCode
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeTypeCode AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeTypeCode
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeTypeDescription AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeTypeDescription
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeTypeEdFactsCode AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeTypeEdFactsCode
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeCode AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeCode
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeDescription AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeDescription
	, K12EnrollmentStatus.EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeEdFactsCode AS K12EnrollmentStatus_EdFactsAcademicOrCareerAndTechnicalOutcomeExitTypeEdFactsCode
	, K12Demographic.SexCode AS K12Demographic_SexCode
	, K12Demographic.SexDescription AS K12Demographic_SexDescription
	, K12Demographic.SexEdFactsCode AS K12Demographic_SexEdFactsCode
	, MigrantStatus.MigrantStatusCode AS MigrantStatus_MigrantStatusCode
	, MigrantStatus.MigrantStatusDescription AS MigrantStatus_MigrantStatusDescription
	, MigrantStatus.MigrantStatusEdFactsCode AS MigrantStatus_MigrantStatusEdFactsCode
	, MigrantStatus.MigrantEducationProgramEnrollmentTypeCode AS MigrantStatus_MigrantEducationProgramEnrollmentTypeCode
	, MigrantStatus.MigrantEducationProgramEnrollmentTypeDescription AS MigrantStatus_MigrantEducationProgramEnrollmentTypeDescription
	, MigrantStatus.MigrantEducationProgramEnrollmentTypeEdFactsCode AS MigrantStatus_MigrantEducationProgramEnrollmentTypeEdFactsCode
	, MigrantStatus.ContinuationOfServicesReasonCode AS MigrantStatus_ContinuationOfServicesReasonCode
	, MigrantStatus.ContinuationOfServicesReasonDescription AS MigrantStatus_ContinuationOfServicesReasonDescription
	, MigrantStatus.ContinuationOfServicesReasonEdFactsCode AS MigrantStatus_ContinuationOfServicesReasonEdFactsCode
	, MigrantStatus.MigrantEducationProgramServicesTypeCode AS MigrantStatus_MigrantEducationProgramServicesTypeCode
	, MigrantStatus.MigrantEducationProgramServicesTypeDescription AS MigrantStatus_MigrantEducationProgramServicesTypeDescription
	, MigrantStatus.MigrantEducationProgramServicesTypeEdFactsCode AS MigrantStatus_MigrantEducationProgramServicesTypeEdFactsCode
	, MigrantStatus.MigrantPrioritizedForServicesCode AS MigrantStatus_MigrantPrioritizedForServicesCode
	, MigrantStatus.MigrantPrioritizedForServicesDescription AS MigrantStatus_MigrantPrioritizedForServicesDescription
	, MigrantStatus.MigrantPrioritizedForServicesEdFactsCode AS MigrantStatus_MigrantPrioritizedForServicesEdFactsCode
	, MilitaryStatus.MilitaryConnectedStudentIndicatorCode AS MilitaryStatus_MilitaryConnectedStudentIndicatorCode
	, MilitaryStatus.MilitaryConnectedStudentIndicatorDescription AS MilitaryStatus_MilitaryConnectedStudentIndicatorDescription
	, MilitaryStatus.MilitaryConnectedStudentIndicatorEdFactsCode AS MilitaryStatus_MilitaryConnectedStudentIndicatorEdFactsCode
	, MilitaryStatus.MilitaryActiveStudentIndicatorCode AS MilitaryStatus_MilitaryActiveStudentIndicatorCode
	, MilitaryStatus.MilitaryActiveStudentIndicatorDescription AS MilitaryStatus_MilitaryActiveStudentIndicatorDescription
	, MilitaryStatus.MilitaryBranchCode AS MilitaryStatus_MilitaryBranchCode
	, MilitaryStatus.MilitaryBranchDescription AS MilitaryStatus_MilitaryBranchDescription
	, MilitaryStatus.MilitaryVeteranStudentIndicatorCode AS MilitaryStatus_MilitaryVeteranStudentIndicatorCode
	, MilitaryStatus.MilitaryVeteranStudentIndicatorDescription AS MilitaryStatus_MilitaryVeteranStudentIndicatorDescription
	, NOrDStatus.LongTermStatusCode AS NOrDStatus_LongTermStatusCode
	, NOrDStatus.LongTermStatusDescription AS NOrDStatus_LongTermStatusDescription
	, NOrDStatus.LongTermStatusEdFactsCode AS NOrDStatus_LongTermStatusEdFactsCode
	, NOrDStatus.NeglectedOrDelinquentProgramTypeCode AS NOrDStatus_NeglectedOrDelinquentProgramTypeCode
	, NOrDStatus.NeglectedOrDelinquentProgramTypeDescription AS NOrDStatus_NeglectedOrDelinquentProgramTypeDescription
	, NOrDStatus.NeglectedOrDelinquentProgramTypeEdFactsCode AS NOrDStatus_NeglectedOrDelinquentProgramTypeEdFactsCode
	, ProgramParticipationStartDate.DateValue AS ProgramParticipationStartDate_DateValue
	, ProgramParticipationStartDate.Day AS ProgramParticipationStartDate_Day
	, ProgramParticipationStartDate.DayOfWeek AS ProgramParticipationStartDate_DayOfWeek
	, ProgramParticipationStartDate.DayOfYear AS ProgramParticipationStartDate_DayOfYear
	, ProgramParticipationStartDate.Month AS ProgramParticipationStartDate_Month
	, ProgramParticipationStartDate.MonthName AS ProgramParticipationStartDate_MonthName
	, ProgramParticipationStartDate.SubmissionYear AS ProgramParticipationStartDate_SubmissionYear
	, ProgramParticipationStartDate.Year AS ProgramParticipationStartDate_Year
	, PrimaryDisabilityType.IdeaDisabilityTypeCode AS PrimaryDisabilityType_IdeaDisabilityTypeCode
	, PrimaryDisabilityType.IdeaDisabilityTypeDescription AS PrimaryDisabilityType_IdeaDisabilityTypeDescription
	, PrimaryDisabilityType.IdeaDisabilityTypeEdFactsCode AS PrimaryDisabilityType_IdeaDisabilityTypeEdFactsCode
	, SecondaryDisabilityType.IdeaDisabilityTypeCode AS SecondaryDisabilityType_IdeaDisabilityTypeCode
	, SecondaryDisabilityType.IdeaDisabilityTypeDescription AS SecondaryDisabilityType_IdeaDisabilityTypeDescription
	, SecondaryDisabilityType.IdeaDisabilityTypeEdFactsCode AS SecondaryDisabilityType_IdeaDisabilityTypeEdFactsCode
	, SpecialEducationServicesExitDate.DateValue AS SpecialEducationServicesExitDate_DateValue
	, SpecialEducationServicesExitDate.Day AS SpecialEducationServicesExitDate_Day
	, SpecialEducationServicesExitDate.DayOfWeek AS SpecialEducationServicesExitDate_DayOfWeek
	, SpecialEducationServicesExitDate.DayOfYear AS SpecialEducationServicesExitDate_DayOfYear
	, SpecialEducationServicesExitDate.Month AS SpecialEducationServicesExitDate_Month
	, SpecialEducationServicesExitDate.MonthName AS SpecialEducationServicesExitDate_MonthName
	, SpecialEducationServicesExitDate.SubmissionYear AS SpecialEducationServicesExitDate_SubmissionYear
	, SpecialEducationServicesExitDate.Year AS SpecialEducationServicesExitDate_Year
	, TitleIIIStatus.TitleIIIProgramParticipationCode AS TitleIIIStatus_TitleIIIProgramParticipationCode
	, TitleIIIStatus.TitleIIIProgramParticipationDescription AS TitleIIIStatus_TitleIIIProgramParticipationDescription
	, TitleIIIStatus.TitleIIIProgramParticipationEdFactsCode AS TitleIIIStatus_TitleIIIProgramParticipationEdFactsCode
	, TitleIIIStatus.FormerEnglishLearnerYearStatusCode AS TitleIIIStatus_FormerEnglishLearnerYearStatusCode
	, TitleIIIStatus.FormerEnglishLearnerYearStatusDescription AS TitleIIIStatus_FormerEnglishLearnerYearStatusDescription
	, TitleIIIStatus.FormerEnglishLearnerYearStatusEdFactsCode AS TitleIIIStatus_FormerEnglishLearnerYearStatusEdFactsCode
	, TitleIIIStatus.ProficiencyStatusCode AS TitleIIIStatus_ProficiencyStatusCode
	, TitleIIIStatus.ProficiencyStatusDescription AS TitleIIIStatus_ProficiencyStatusDescription
	, TitleIIIStatus.ProficiencyStatusEdFactsCode AS TitleIIIStatus_ProficiencyStatusEdFactsCode
	, TitleIStatus.TitleIInstructionalServicesCode AS TitleIStatus_TitleIInstructionalServicesCode
	, TitleIStatus.TitleIInstructionalServicesDescription AS TitleIStatus_TitleIInstructionalServicesDescription
	, TitleIStatus.TitleIInstructionalServicesEdFactsCode AS TitleIStatus_TitleIInstructionalServicesEdFactsCode
	, TitleIStatus.TitleIProgramTypeCode AS TitleIStatus_TitleIProgramTypeCode
	, TitleIStatus.TitleIProgramTypeDescription AS TitleIStatus_TitleIProgramTypeDescription
	, TitleIStatus.TitleIProgramTypeEdFactsCode AS TitleIStatus_TitleIProgramTypeEdFactsCode
	, TitleIStatus.TitleISchoolStatusCode AS TitleIStatus_TitleISchoolStatusCode
	, TitleIStatus.TitleISchoolStatusDescription AS TitleIStatus_TitleISchoolStatusDescription
	, TitleIStatus.TitleISchoolStatusEdFactsCode AS TitleIStatus_TitleISchoolStatusEdFactsCode
	, TitleIStatus.TitleISupportServicesCode AS TitleIStatus_TitleISupportServicesCode
	, TitleIStatus.TitleISupportServicesDescription AS TitleIStatus_TitleISupportServicesDescription
	, TitleIStatus.TitleISupportServicesEdFactsCode AS TitleIStatus_TitleISupportServicesEdFactsCode
	, fact.FullTimeEquivalency
	, fact.SpecialEducationFTE
	, fact.StudentCount
FROM RDS.FactSpecialEducation fact
JOIN RDS.DimSchoolYears SchoolYear
	ON Fact.SchoolYearId = SchoolYear.DimSchoolYearId
JOIN RDS.DimDataCollections DataCollection
	ON Fact.DataCollectionId = DataCollection.DimDataCollectionId
JOIN RDS.DimSeas Sea
	ON Fact.SeaId = Sea.DimSeaId
JOIN RDS.DimIeus Ieu
	ON Fact.IeuId = Ieu.DimIeuId
JOIN RDS.DimLeas LeaAccountability
	ON Fact.LeaAccountabilityId = LeaAccountability.DimLeaID
JOIN RDS.DimLeas LeaAttendance
	ON Fact.LeaAttendanceId = LeaAttendance.DimLeaID
JOIN RDS.DimLeas LeaFunding
	ON Fact.LeaFundingId = LeaFunding.DimLeaID
JOIN RDS.DimLeas LeaGraduation
	ON Fact.LeaGraduationId = LeaGraduation.DimLeaID
JOIN RDS.DimLeas LeaIndividualizedEducationProgram
	ON Fact.LeaIndividualizedEducationProgramId = LeaIndividualizedEducationProgram.DimLeaID
JOIN RDS.DimK12Schools K12School
	ON Fact.K12SchoolId = K12School.DimK12SchoolId
JOIN RDS.DimResponsibleSchoolTypes ResponsibleSchoolType
	ON Fact.ResponsibleSchoolTypeId = ResponsibleSchoolType.DimResponsibleSchoolTypeId
JOIN RDS.DimPeople K12Student
	ON Fact.K12StudentId = K12Student.DimPersonId
JOIN RDS.DimDates EnrollmentEntryDate
	ON Fact.EnrollmentEntryDateId = EnrollmentEntryDate.DimDateId
JOIN RDS.DimDates EnrollmentExitDate
	ON Fact.EnrollmentExitDateId = EnrollmentExitDate.DimDateId
JOIN RDS.DimDates ConsentToEvaluationDate
	ON Fact.ConsentToEvaluationDateId = ConsentToEvaluationDate.DimDateId
JOIN RDS.DimChildOutcomeSummaries ChildOutcomeSummaryBaseline
	ON Fact.ChildOutcomeSummaryBaselineId = ChildOutcomeSummaryBaseline.DimChildOutcomeSummaryId
JOIN RDS.DimChildOutcomeSummaries ChildOutcomeSummaryAtExit
	ON Fact.ChildOutcomeSummaryAtExitId = ChildOutcomeSummaryAtExit.DimChildOutcomeSummaryId
JOIN RDS.DimDates ChildOutcomeSummaryDateBaseline
	ON Fact.ChildOutcomeSummaryDateBaselineId = ChildOutcomeSummaryDateBaseline.DimDateId
JOIN RDS.DimDates ChildOutcomeSummaryDateAtExit
	ON Fact.ChildOutcomeSummaryDateAtExitId = ChildOutcomeSummaryDateAtExit.DimDateId
JOIN RDS.DimDisabilityStatuses DisabilityStatus
	ON Fact.DisabilityStatusId = DisabilityStatus.DimDisabilityStatusId
JOIN RDS.DimCteStatuses CteStatus
	ON Fact.CteStatusId = CteStatus.DimCteStatusId
JOIN RDS.DimEnglishLearnerStatuses EnglishLearnerStatus
	ON Fact.EnglishLearnerStatusId = EnglishLearnerStatus.DimEnglishLearnerStatusId
JOIN RDS.DimGradeLevels EntryGradeLevel
	ON Fact.EntryGradeLevelId = EntryGradeLevel.DimGradeLevelId
JOIN RDS.DimDates EligibilityEvaluationDateInitial
	ON Fact.EligibilityEvaluationDateInitialId = EligibilityEvaluationDateInitial.DimDateId
JOIN RDS.DimDates EligibilityEvaluationDateReevaluation
	ON Fact.EligibilityEvaluationDateReevaluationId = EligibilityEvaluationDateReevaluation.DimDateId
JOIN RDS.DimFosterCareStatuses FosterCareStatus
	ON Fact.FosterCareStatusId = FosterCareStatus.DimFosterCareStatusId
JOIN RDS.DimHomelessnessStatuses HomelessnessStatus
	ON Fact.HomelessnessStatusId = HomelessnessStatus.DimHomelessnessStatusId
JOIN RDS.DimIdeaStatuses IdeaStatus
	ON Fact.IdeaStatusId = IdeaStatus.DimIdeaStatusId
JOIN RDS.DimImmigrantStatuses ImmigrantStatus
	ON Fact.ImmigrantStatusId = ImmigrantStatus.DimImmigrantStatusId
JOIN RDS.DimIndividualizedProgramStatuses IndividualizedProgramStatus
	ON Fact.IndividualizedProgramStatusId = IndividualizedProgramStatus.DimIndividualizedProgramStatusId
JOIN RDS.DimDates IndividualizedProgramServicePlanDate
	ON Fact.IndividualizedProgramServicePlanDateId = IndividualizedProgramServicePlanDate.DimDateId
JOIN RDS.DimDates IndividualizedProgramServicePlanReevaluationDate
	ON Fact.IndividualizedProgramServicePlanReevaluationDateId = IndividualizedProgramServicePlanReevaluationDate.DimDateId
JOIN RDS.DimDates IndividualizedProgramServicePlanExitDate
	ON Fact.IndividualizedProgramServicePlanExitDateId = IndividualizedProgramServicePlanExitDate.DimDateId
JOIN RDS.DimDates IndividualizedProgramDate
	ON Fact.IndividualizedProgramDateId = IndividualizedProgramDate.DimDateId
JOIN RDS.DimK12EnrollmentStatuses K12EnrollmentStatus
	ON Fact.K12EnrollmentStatusId = K12EnrollmentStatus.DimK12EnrollmentStatusId
JOIN RDS.DimK12Demographics K12Demographic
	ON Fact.K12DemographicId = K12Demographic.DimK12DemographicId
JOIN RDS.DimMigrantStatuses MigrantStatus
	ON Fact.MigrantStatusId = MigrantStatus.DimMigrantStatusId
JOIN RDS.DimMilitaryStatuses MilitaryStatus
	ON Fact.MilitaryStatusId = MilitaryStatus.DimMilitaryStatusId
JOIN RDS.DimNOrDStatuses NOrDStatus
	ON Fact.NOrDStatusId = NOrDStatus.DimNOrDStatusId
JOIN RDS.DimDates ProgramParticipationStartDate
	ON Fact.ProgramParticipationStartDateId = ProgramParticipationStartDate.DimDateId
JOIN RDS.DimIdeaDisabilityTypes PrimaryDisabilityType
	ON Fact.PrimaryDisabilityTypeId = PrimaryDisabilityType.DimIdeaDisabilityTypeId
JOIN RDS.DimIdeaDisabilityTypes SecondaryDisabilityType
	ON Fact.SecondaryDisabilityTypeId = SecondaryDisabilityType.DimIdeaDisabilityTypeId
JOIN RDS.DimDates SpecialEducationServicesExitDate
	ON Fact.SpecialEducationServicesExitDateId = SpecialEducationServicesExitDate.DimDateId
JOIN RDS.DimTitleIIIStatuses TitleIIIStatus
	ON Fact.TitleIIIStatusId = TitleIIIStatus.DimTitleIIIStatusId
JOIN RDS.DimTitleIStatuses TitleIStatus
	ON Fact.TitleIStatusId = TitleIStatus.DimTitleIStatusId
GO
